@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.trainBoxs {
  display: flex;
}

.trainLeft{
  background: rgba(24, 45, 86, 0.7)!important;
}
.trainLeft, .trainRight {
  width: 280px;
  flex-shrink: 0;
  height: 100%;
}

.trainCenter {
  margin-left: 10px;
}

.trainTime .grouping_content {
  height: 156px;
  background: url("../../../../../../assets/HJ/train/train-time-bg.jpg") no-repeat center bottom;
  padding: 24px 8px;
}

.trainTime .desc {
  color: #5e80b2;
  font-size: 15px;
  padding-bottom: 16px;
  text-align: center;
}

.basicExercise {
  height: calc(100% - 164px);
}

.basicExercise .grouping_content {
  height: 100%;
}

.basicExercise .msg {
  padding: 8px 8px 8px 45px;
  border: 1px solid transparent;
  flex-shrink: 0;
  position: relative;
  font-size: 15px;
  line-height: 20px;
}

.basicExercise .msg:before {
  content: '';
  width: 33px;
  height: 33px;
  position: absolute;
  left: 6px;
  top: 1px;
}

.basicExercise .stateBox {
  height: 39px;
  background-color: #25456d;
  padding: 7px 8px 8px 4px;
  margin-top: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.basicExercise .stateBox .state {
  height: 24px;
  width: 44px;
  padding: 0 12px;
  font-size: 12px;
  position: relative;
}

.basicExercise .stateBox .state + .state:after {
  content: '';
  width: 1px;
  height: 14px;
  background-color: #475e90;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -7px;
}

.basicExercise .stateBox .state.ws {
  background: url("../../../../../../assets/HJ/ico/ico-state-ws.png") no-repeat center;
}

.basicExercise .stateBox .state.dev {
  background: url("../../../../../../assets/HJ/ico/ico-state-dev.png") no-repeat center;
}

.basicExercise .stateBox .state.ws.on {
  background: url("../../../../../../assets/HJ/ico/ico-state-ws-on.png") no-repeat center;
}

.basicExercise .stateBox .state.dev.on {
  background: url("../../../../../../assets/HJ/ico/ico-state-dev-on.png") no-repeat center;
}

.basicExercise .stateBox .tipText {
  color: #6ebdff;
  cursor: pointer;
  font-size: 14px;
}
.basicExercise .stateBox .tipText:hover,
.basicExercise .stateBox .tipText.active {
  color: #ffa800 !important;
}

.basicExercise .stateBox .tipBtn {
  width: 28px;
  height: 28px;
  cursor: pointer;
  background: url("../../../../../../assets/HJ/preTrain/ico-tooltip.png") no-repeat center;
  background-size: 100% 100%;
}

.basicExercise .stateBox .tipBtn:hover,
.basicExercise .stateBox .tipBtn.active {
  background: url("../../../../../../assets/HJ/preTrain/ico-tooltip-on.png") no-repeat center;
  background-size: 100% 100%;
}

.basicExercise .deployBtn {
  width: 70px;
  height: 24px;
  background: url("../../../../../../assets/HJ/train/deploy-btn-bg.png") no-repeat center;
  color: #e2f2ff;
  font-size: 14px;
  text-align: center;
  line-height: 22px;
  margin-left: 6px;
  cursor: pointer;
}

.basicExercise .deployBtn:hover {
  color: #70c9ff;
  position: relative;
}

.basicExercise .deployBtn:hover:before {
  content: '';
  height: 24px;
  width: 70px;
  background: url("../../../../../../assets/HJ/ico/ico-state-on-bg.png") no-repeat bottom center;
  position: absolute;
  left: 0;
  bottom: 0;
}

.basicExercise .hint {
  border-color: rgba(255, 255, 213, .4);
  color: #ffffd5;
  background: url("../../../../../../assets/HJ/train/hint-bg.png") no-repeat center bottom;
  margin-top: 8px;
}

.basicExercise .hint:before {
  background: url("../../../../../../assets/HJ/train/hint-ico.png") no-repeat center bottom;
}

.basicExercise .basicInit {
  padding: 8px 0;
  height: calc(100% - 46px);
}

.basicExercise .basicInit .item {
  height: 86px;
  color: #e2f2ff;
  font-size: 16px;
  background: url("../../../../../../assets/HJ/train/basic-item-bg.png") no-repeat;
  background-size: 100%;
  padding: 10px 10px 0 54px;
  position: relative;
}

.basicExercise .basicInit .item + .item {
  margin-top: 16px;
}

.basicExercise .tipSymbol {
  border: 1px solid rgba(255, 255, 213, .4);
  padding: 6px 8px 10px;
  background: url("../../../../../../assets/HJ/train/hint-bg.png") no-repeat center bottom;
  margin-bottom: 8px;
  font-size: 12px;
}

.basicExercise .tipSymbol .symItem {
  height: 25px;
  display: flex;
  align-items: center;
  color: #ffffd5;
}

.basicExercise .tipSymbol .symItem .space {
  height: 2px;
  width: 12px;
}

.basicExercise .tipSymbol .symItem .val {
  height: 4px;
  border-radius: 4px;
  flex-shrink: 0;
  background-color: #ffffd5;
}

.basicExercise .basicInit .ico {
  position: absolute;
  top: 12px;
  left: 20px;
}

.basicExercise .basicInit .title {
  color: #7b90af;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 5px;
}

.basicExercise .basicInit strong {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 15px;
}

.basicExercise .basicInit .num {
  height: 40px;
  font-size: 26px;
  margin-right: 6px;
  overflow: hidden;
  display: flex;
}

.basicExercise .exerciseBtn {
  padding: 10px;
  background: rgba(24, 45, 86, .7);
}

.deployGroup {
  padding: 16px 0 12px;
  position: relative;
}

.deployGroup .title {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.deployGroup .title .leftLine,
.deployGroup .title .rightLine {
  width: 100%;
  height: 1px;
}
.deployGroup .title .leftLine {
  background: linear-gradient(to right, transparent, #354971);
}
.deployGroup .title .rightLine {
  background: linear-gradient(to left, transparent, #354971);
}
.deployGroup .title .dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #354971;
  margin: 0 8px;
  flex-shrink: 0;
}
.deployGroup .title .text {
  flex-shrink: 0;
  padding: 0 4px;
  color: #7b90af;
}
.deployGroup .cont {
  padding: 10px 0;
}
.deployGroup .codeCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 24px;
}
.deployGroup .codeStyle {
  width: 56px;
  height: 56px;
  background: url("../../../../../../assets/HJ/train/code-style-bg.png") no-repeat center;
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .5;
  position: relative;
}
.deployGroup .codeStyle:hover,
.deployGroup .codeStyle.on {
  background: url("../../../../../../assets/HJ/train/code-style-bg-on.png") no-repeat center;
  opacity: 1;
}
.deployGroup .codeStyle .name {
  width: 56px;
  font-size: 12px;
  text-align: center;
  color: #e2f2ff;
  position: absolute;
  left: 0;
  bottom: -24px;
}
.deployGroup .codeStyle:hover .name,
.deployGroup .codeStyle.on .name {
  color: #6ebdff;
}
.deployGroup .depRow {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.deployGroup .depRow .lab {
  width:36px;
  flex-shrink: 0;
  text-align: right;
  color: #7b90af;
  font-size: 12px;
}
.deployGroup .depRow .item {
  width: 64px;
  flex-shrink: 0;
  text-align: center;
  color: #7b90af;
  font-size: 12px;
}

.trainCenter {
  display: flex;
  flex-direction: column;
}

@keyframes glint {
  0% {
    -webkit-box-shadow: inset 0 0 4px rgba(110, 189, 255, .2);
    box-shadow: inset 0 0 4px rgba(110, 189, 255, .2);
  }
  25% {
    -webkit-box-shadow: inset 0 0 8px rgba(110, 189, 255, .4);
    box-shadow: inset 0 0 10px rgba(110, 189, 255, .4);
  }
  50% {
    -webkit-box-shadow: inset 0 0 16px rgba(110, 189, 255, .8);
    box-shadow: inset 0 0 20px rgba(110, 189, 255, .8);
  }
  75% {
    -webkit-box-shadow: inset 0 0 8px rgba(110, 189, 255, .4);
    box-shadow: inset 0 0 10px rgba(110, 189, 255, .4);
  }
  100% {
    -webkit-box-shadow: inset 0 0 4px rgba(110, 189, 255, .2);
    box-shadow: inset 0 0 4px rgba(110, 189, 255, .2);
  }
}
.flipContainer {
  transform-style: preserve-3d;
  transform-origin: 50% 50% 180px;
  position: relative;
  top: 0;
}

.flipContainer.un {
  animation: rotate-flip 1s linear;
}

.flipContainer.on {
  animation: rotate-flip-on 1s linear;
}

.flipContainer .flipRightBoxs {
  width: 280px;
  height: 100%;
  background: rgba(24, 45, 86, .7);
  transform: rotateY(-90deg);
  transform-origin: left;
  position: absolute;
  left: 280px;
  top: 0;
}

.flipContainer .flipLeftBoxs {
  width: 280px;
  height: 100%;
  background: rgba(24, 45, 86, .7);
  transform: rotateY(90deg);
  transform-origin: right;
  position: absolute;
  left: -280px;
  top: 0;
}

.flipContainer .totalBoxs {
  display: block;
  width: 280px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.flipContainer .deployBoxs {
  width: 280px;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.flipContainer.un .totalBoxs {
  transform: translateZ(280px) rotateY(0deg);
  animation: flip-show 1s linear;
  opacity: 1;
}

.flipContainer.un .deployBoxs {
  transform: translateZ(0) rotateY(-180deg);
  animation: flip-hide 1s linear;
  opacity: 0;
}

.flipContainer.on .totalBoxs {
  transform: translateZ(0) rotateY(-180deg);
  animation: flip-hide 1s linear;
  opacity: 0;
}

.flipContainer.on .deployBoxs {
  transform: translateZ(280px) rotateY(0deg);
  animation: flip-show 1s linear;
  opacity: 1;
}

.volumeBox {
  width: 240px;
  margin: 0 auto;
}

.volumeBox .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e2f2ff;
  font-size: 15px;
}

.volumeBox .volumeSlider {
  height: 18px;
  position: relative;
  background: url("../../../../../../assets/HJ/train/volume-marks-bg.png") no-repeat center;
}

@keyframes rotate-flip {
  0% {transform: rotateY(-180deg);}
  50% {transform: rotateY(-90deg);}
  100% {transform: rotateY(0deg);}
}

@keyframes rotate-flip-on {
  0% {transform: rotateY(-180deg);}
  50% {transform: rotateY(-90deg);}
  100% {transform: rotateY(0deg);}
}

@keyframes flip-hide {
  0% {opacity: 1;}
  50% {opacity: .5;}
  100% {opacity: 0;}
}

@keyframes flip-show {
  0% {opacity: 0;}
  50% {opacity: .5;}
  100% {opacity: 1;}
}


._top {
  width: 100%;
  flex-shrink: 0;
  position: relative;
}

._top .cont {
  position: absolute;
  top: 16%;
  left: 3.5%;
  right: 3.5%;
  bottom: 10%;
}
._top .scale {
  height: 8px;
  background: url("../../../../../../assets/HJ/postTrain/scale.png");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
._top .vals {
  display: flex;
  align-items: center;
  overflow-x: auto;
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  bottom: 0;
}
._top .vals::-webkit-scrollbar-thumb {
  visibility: hidden;
}
._top .val {
  min-width: 2px;
  height: 10%;
  min-height: 5px;
  background-color: #5178a8;
  border-radius: 1px;
  flex-shrink: 0;
}
.trainCenter ._main {
  width: 100%;
  height: 100%;
  padding: 0 .96% .9%;
  position: relative;
}
._bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
._bottom .pag {
  width: 540px;
  height: 38%;
  min-height: 24px;
  background: url("../../../../../../assets/HJ/postTrain/pag.png") no-repeat center;
  background-size:  auto 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #3f6089;
  position: absolute;
  left: 50%;
  bottom: 8%;
  margin-left: -270px;
}
._bottom .pag .line {
  margin: 0 4%;
  height: 12px;
  width: 1px;
  background-color: #283c62;
}
._bottom .pag .num {
  color: #70c9ff;
}
._main .cont {
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 16px rgba(110, 189, 255, .4);
  background: url("../../../../../../assets/HJ/postTrain/bg.png");
  background-size:  100% auto;
  padding-bottom: 2%;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
}
._main .patKey {
  width: 90%;
  margin: 0 auto;
  flex-shrink: 0;
  position: relative;
  max-width: 1253px;
}
._main .patKey .keys {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 5px;
  position: absolute;
  top: 0;
  left: 2%;
  right: 2%;
  bottom: 0;
}
._main .patKey .key {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  margin-right: 20px;
  text-align: center;
  color: #5178a8;
}
._main .patTelegraphBox {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2% 0 1%;
}
._main .switch {
  width: 10%;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
._main .switch .img {
  width: 36%;
  cursor: pointer;
}
._main .patTelegraph {
  width: 100%;
  height: 100%;
  display: flex;
}
._main .serial {
  margin-left: 6px;
  display: flex;
  flex-direction: column;
  color: #70c9ff;
  align-content: stretch;
}
._main .serial .ser {
  height: calc((100% - 36px) / 10);
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
._main .serial .ser.head {
  height: 36px;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
._main .telegraph {
  width: 100%;
  height: 100%;
  border: 1px solid #415684;
  background-color: #0a1936;
  display: flex;
  flex-direction: column;
}
._main .telegraph .rowHead {
  width: 100%;
  height: 36px;
  display: flex;
  flex-shrink: 0;
}
._main .telegraph .keyBox {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
._main .telegraph .key {
  color: #fff;
  font-size: 20px;
  width: 10%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
._main .telegraph .key {
  border-right: 1px solid #384c77;
}
._main .telegraph .key:nth-of-type(10n) {
  border-right: none;
}
._main .telegraph .key:nth-of-type(n+10) {
  border-top: 1px solid #384c77;
}
._main .telegraph .rowHead .key {
  color: #3f6089;
  height: 100%;
  font-weight: bold;
  font-size: 18px;
  background-color: #70c9ff;
  border: none;
}

