/*岗位训练界面左侧*/
.trainTime .grouping_content {
    height: 186px;
    background: url("../../../assets/HJJ/train/train-time-bg.png") no-repeat center bottom;
    background-size: 100% 100%;
    padding-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.trainTime .desc {
    position: absolute;
    top: 5px;
    left: auto;
    color: #bfcde0;
    font-size: 12px;
    padding-bottom: 16px;
    text-align: center;
}
.trainLeft, .trainRight {
    width: 280px;
    flex-shrink: 0;
    height: 100%;
    box-shadow: 0px 0px 6px 2px rgb(255 255 255 / 20%) inset;
    background: url("../../../assets/HJJ/telexTrain/statisticalBoxBG.png") repeat;
}
.basicExercise .basicInit {
    padding: 8px 0;
    height: 100%;
}

.basicExercise .basicInit .item {
    height: 86px;
    color: #e2f2ff;
    font-size: 16px;
    background-size: 100%;
    padding: 10px 10px 0 54px;
    position: relative;
}

.basicExercise .basicInit .item + .item {
}

.basicExercise .basicInit .ico {
    position: absolute;
    top: 25px;
    left: 20px;
    z-index: 2;
}

.basicExercise .basicInit .title {
    color: #717984;
    font-size: 12px;
    line-height: 24px;
    padding-left: 20px;
}

.basicExercise .basicInit strong {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 15px;
}

.basicExercise .basicInit .tags {
    height: 26px;
    line-height: 26px;
    font-size: 16px;
    position: relative;
    background: #272f39;
    color: #d4e0f0;
    padding-left: 20px;
    width: 64%;
}

.basicExercise .basicInit .tagType {
    flex-shrink: 0;
    border-radius: 2px;
}

.basicExercise .basicInit .num {
    height: 40px;
    font-size: 26px;
    margin-right: 6px;
    overflow: hidden;
    display: flex;
}
.basicExercise .exerciseBtn {
    background: url("../../../assets/HJJ/postTrain/btnBg.png");
    padding: 10px;
    width:246px ;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    color: #bfcde0;
    font-size: 18px;
    font-weight: bold;
    line-height: 19px;
}
.basicExercise .exerciseBtn .start{
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 9;
    position: relative;
}
._main .switch .img {
    width: 30px;
    cursor: pointer;
}



.basicExercise .stateBox {
    height: 24px;
    background: url("../../../assets/HJJ/train/militaryBg.png");
    background-size: 100% 100%;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basicExercise .stateBox .state {
    height: 24px;
    width: 44px;
    padding: 0 12px;
    font-size: 12px;
    position: relative;
}

.basicExercise .stateBox .state + .state:after {
    content: '';
    width: 1px;
    height: 14px;
    background-color: #475e90;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7px;
}

.basicExercise .stateBox .state.ws {
    background: url("../../../assets/HJJ/ico/ico-state-ws.png") no-repeat center;
}

.basicExercise .stateBox .state.dev {
    background: url("../../../assets/HJJ/ico/ico-state-dev.png") no-repeat center;
}

.basicExercise .stateBox .state.ws.on {
    background: url("../../../assets/HJJ/ico/ico-state-ws-on.png") no-repeat center;
}

.basicExercise .stateBox .state.dev.on {
    background: url("../../../assets/HJJ/ico/ico-state-dev-on.png") no-repeat center;
}

.basicExercise .stateBox .tipBtn {
    width: 28px;
    height: 28px;
    cursor: pointer;
    background: url("../../../assets/HJJ/preTrain/ico-tooltip.png") no-repeat center;
    background-size: 100% 100%;
}

.basicExercise .stateBox .tipBtn:hover,
.basicExercise .stateBox .tipBtn.active {
    background: url("../../../assets/HJJ/preTrain/ico-tooltip-on.png") no-repeat center;
    background-size: 100% 100%;
}






.statisticalBox{width: 200px;box-shadow: 0px 0px 6px 2px rgba(255,255,255,0.2) inset;padding: 10px;background: url("../../../assets/HJJ/telexTrain/statisticalBoxBG.png") repeat}
.statisticalBox .lineBox{width: 180px;height: 26px;border: 1px solid #404347;display: flex;margin-bottom: 5px;}
.statisticalBox .lineBox .box{width: 50%;height: 100%;line-height: 26px;display: flex;}
.statisticalBox .lineBox .box:first-child{border-right: 1px solid #404347;color: #9c8970;align-items: center;}
.statisticalBox .lineBox .box:nth-last-child(1){color: #e2d6b0;padding-left: 10px;}
.statisticalBox .lineBox .box img{width: 24px;height: 24px;}
.statisticalBox .linebtns{display: flex;align-items: center;justify-content: center;margin: 10px 0 0px 0;z-index: 99}
.statisticalBox .btn{border: 1px solid #5f5842;padding: 5px 10px;color: #e2d6b0;background-image: linear-gradient(to top,#4a4335,#1f2e3c);cursor: pointer}
.statisticalBox .btn:first-child{margin-right: 10px}
.statisticalBox .btn:hover{color: #ffffff}



.loading {background-color: rgba(0,8,19,.8);position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 9999;display: flex;justify-content: center;align-items: center;}
.grouping {}
.grouping .grouping_halving_line {display: none}
.ant-btn[disabled], .ant-btn[disabled]:hover, .ant-btn[disabled]:focus, .ant-btn[disabled]:active{
  color: white!important;
  background: #20426c!important;
  box-shadow: inset 0px 0px 5px #007ac1;
  border: 1px solid #395a96!important;
}
.menus {overflow: hidden;}
.menus + .menus {border-top: 1px solid #17243c;}
.menus .menus_title {
  width:190px ;
  height: 50px;display: flex;justify-content: space-between;align-items: center;padding: 0 12px;color: #9bccff;font-size: 20px;border: 1px solid transparent;margin: 15px 0;
  background: #0a1429 url("../../../assets/HJJ/menus/menus-title-bg.png") no-repeat center;cursor: pointer;position: relative;z-index: 10;font-weight: bolder;letter-spacing: 2px}
.menus .menus_title .ico {width: 12px;height: 12px;background: url("../../../assets/HJJ/menus/menu-arrow-right.png") no-repeat center;}
.menus .menus_title .ico.open {background: url("../../../assets/HJJ/menus/menu-arrow-down.png") no-repeat center;}
.menus .menus_title .menus_icon {width:30px;height:30px;background: url("../../../assets/HJJ/menus/menus-icon-bg.png") no-repeat center;display: flex;
  align-items: center;justify-content: center;margin-right: 20px;}
.menus .menus_title:hover { background-image:url("../../../assets/HJJ/menus/menus-title-bg-hover.png");
  position: relative;
  color: #ffffff;}
/*.menus .menus_title.active {*/
/*  box-shadow: inset 0 0 16px rgba(110, 189, 255, .6);border-color: rgba(110, 189, 255, .7);color: #6ebdff;animation: glint 4s linear infinite;*/
/*    -webkit-animation: glint 4s linear infinite;*/
/*}*/
.menus .menus_title.active {
  background-image:url("../../../assets/HJJ/menus/menus-title-bg-hover.png");
  position: relative;
  color: #ffffff;
}
@keyframes left {
  0%{
    left: 10px;
  }
  50%{
    left: 15px;
  }
  100%{
    left: 10px;
  }
}
@keyframes right {
  0%{
    right: 10px;
  }
  50%{
    right: 15px;
  }
  100%{
    right: 10px;
  }
}
.menus .menus_title.active:before,.menus .menus_title:hover:before{
  content: "";
  width: 20px;
  height: 24px;
  position: absolute;
  top: 12px;
  left: 10px;
  animation:left 1.5s linear infinite;
  background-image: url("../../../assets/HJJ/menus/left.png");
}
.menus .menus_title.active:after,.menus .menus_title:hover:after{
  content: "";
  width: 20px;
  height: 24px;
  position: absolute;
  top: 12px;
  right: 10px;
  animation:right 1.5s linear infinite;
  background-image: url("../../../assets/HJJ/menus/right.png");
}
.menus .menus_title.active .menus_icon {background: url("../../../assets/HJJ/menus/menus-icon-active-bg.png") no-repeat center;}
.menus .menus_content {overflow: hidden}
.menus .menus_content .menu_item {height: 41px;padding-left: 60px;line-height: 40px;color: #7b90af;font-size: 15px;cursor: pointer;}
.menus .menus_content .menu_item:hover,
.menus .menus_content .menu_item.active {color: #6ebdff;background: url("../../../assets/HJJ/menus/menus-item-active-bg.png") no-repeat;font-weight: bolder;position: relative;}
.menus .menus_content .menu_item:hover:before,
.menus .menus_content .menu_item.active:before {content: '';width: 17px;height: 18px;background: url("../../../assets/HJJ/menus/menus-active.png") no-repeat;position: absolute;left: 30px;top: 12px;}
.menus .menus_content .menu_item:hover:before{animation: swing 1s linear infinite;-webkit-animation: swing 1s linear infinite;}
.shrinkBox .shrinkIco {width: 18px;height: 26px;background: url("../../../assets/HJJ/menus/menu-oper.png") no-repeat center;opacity: .6;}
.shrinkBox .shrinkIco.shrink {background: url("../../../assets/HJJ/menus/menu-shrink.png") no-repeat center;}
.shrinkBox:hover .shrinkIco {opacity: 1;animation: swingShrink 1s linear infinite;-webkit-animation: swingShrink 1s linear infinite;}
.Cmenus {overflow: hidden;}
.Cmenus + .Cmenus {border-top: 1px solid #17243c;}
/*background-color: #0a1429;*/
.Cmenus .Cmenus_title {height: 48px;display: flex;justify-content: space-between;align-items: center;background:#344a5d;
    padding: 0 12px;color: #e2f2ff;font-size: 15px;cursor: pointer;position: relative;z-index: 10}
.Cmenus .Cmenus_title .ico {width: 18px;height: 18px;border: 1px solid #6480ab;background: url("../../../assets/HJJ/ico/ico-arrow-full-right.png") no-repeat center;}
.Cmenus .Cmenus_title .ico.open {background: url("../../../assets/HJJ/ico/ico-arrow-full-down.png") no-repeat center;}
.Cmenus .Cmenus_titles .ico {width: 18px;height: 18px;border: 1px solid #354971;background: url("../../../assets/HJJ/ico/ico--plus.png") no-repeat center;}
.Cmenus .Cmenus_titles .ico.openf {background: url("../../../assets/HJJ/ico/ico-clear.png") no-repeat center;}
.Cmenus .Cmenus_content {padding-left: 12px;position: relative;overflow: hidden}
.Cmenus .Cmenus_content:before {content: '';width: 1px;background: url("../../../assets/HJJ/ico/ico-lone.png");position: absolute;left: 13px;top: 4px;bottom: 4px;}
.Cmenus .Cmenus_content .Cmenu_item {height: 32px;margin-top: 8px;padding-left: 18px;line-height: 32px;color: #7b90af;font-size: 14px;cursor: pointer;border-left: 3px solid transparent}
.Cmenus .Cmenus_content .Cmenu_item:hover,
.Cmenus .Cmenus_content .Cmenu_item.active {color: #fff;background-color: rgba(110,189,255,.2);border-left: 3px solid rgb(110,189,255);}
.Cmenus_title:hover{
    font-weight: bolder;
    font-size: 16px;
    background-image: linear-gradient(0deg, #344a5d, rgba(100, 141, 177, 0.99));
}
@keyframes glint {
    0% {-webkit-box-shadow: inset 0 0 4px rgba(110, 189, 255, .8);box-shadow: inset 0 0 4px rgba(110, 189, 255, .8);}
    25% {-webkit-box-shadow: inset 0 0 8px rgba(110, 189, 255, .8);box-shadow: inset 0 0 8px rgba(110, 189, 255, .8);}
    50% {-webkit-box-shadow: inset 0 0 16px rgba(110, 189, 255, .8);box-shadow: inset 0 0 16px rgba(110, 189, 255, .8);}
    75% {-webkit-box-shadow: inset 0 0 8px rgba(110, 189, 255, .8);box-shadow: inset 0 0 8px rgba(110, 189, 255, .8);}
    100% {-webkit-box-shadow: inset 0 0 4px rgba(110, 189, 255, .8);box-shadow: inset 0 0 4px rgba(110, 189, 255, .8);}
}
@keyframes swing {
    0% {left: 30px;}
    25% {left: 26px;}
    50% {left: 30px;}
    75% {left: 34px;}
    100% {left: 30px;}
}
@keyframes swingShrink {
    0% {margin-left: 0px;}
    25% {margin-left: -6px;}
    50% {margin-left: 0px;}
    75% {margin-left: 6px;}
    100% {margin-left: 0px;}
}

.table_search_box {display: flex;flex-wrap: wrap;}
.item_group {background-color: #0a1429;color: #7b90af;height: 28px;position: relative;flex-shrink: 0;}
.item_group:before,
.item_group:after {content: '';width: 4px;height: 30px;color: #7b90af;position: absolute;top: -2px;}
/*.item_group:before {background: url("../../../assets/HJJ/ico/ico-group-btn-bg-l.png") no-repeat center;left: -2px;}*/
/*.item_group:after {background: url("../../../assets/HJJ/ico/ico-group-btn-bg-r.png") no-repeat center;right: -1px;}*/
.item_group.input {display: flex;}
.item_group.input .ant-input {border-color: transparent;background-color: transparent;height: 28px;line-height: 26px;padding: 0 10px;font-size: 13px;color: #7b90af;}
.item_group.input:hover .icon,
.item_group.input.search .icon{width: 30px;height: 28px;padding-right: 30px;cursor: pointer;background: url("../../../assets/HJJ/ico/ico-clear.png") no-repeat center;position: absolute;right: 0;top: 0;}
.item_group.input.search .icon {background: url("../../../assets/HJJ/ico/ico-search.png") no-repeat center;}
.item_group.input.search{background: #141e28 !important}
.item_group.input.search ::-webkit-input-placeholder{color: #7b90af!important;}
.item_group.btn {display: flex;align-items: center;padding: 0 12px;cursor: pointer;flex-shrink: 0}
.item_group.btn.big {height: 40px;}
.item_group.btn .ico {width: 15px;height: 15px;background: url("../../../assets/HJJ/ico/ico-search.png") no-repeat center;margin-right: 6px;}
.item_group.btn span{color: #c4dafb}
.item_group.btn:hover span{color: #ffffff!important;}
.item_group.btn .add {width: 13px;height: 13px;background: url("../../../assets/HJJ/ico/ico--plus.png") no-repeat center;background-size: 100%;}
.item_group.btn:hover {
  background-position: right center;
  color: #ffffff;
  box-shadow: inset 0px 0px 5px #cac1a6;
  border: 1px solid #bbb193;
  /*background-position: right center;color: #ffffff;box-shadow: inset 0px 0px 5px #00a1ff;border: 1px solid #3898d0;*/
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  /*height: 36px !important;*/
}
.item_group.btn{background-image: linear-gradient(to right, #2e4051 0%, #446782 50% ,#7d765c 100%);;
  text-transform: uppercase;
  background-size: 300% auto;
  /*box-shadow: inset 0px 0px 5px #007ac1;*/
  border: 1px solid #4c7595;
  height: 32px;
  color: #c4dafb;
  transition: all 1s;}
/*.item_group.btn:hover {background-color: rgba(57,52,41,1);color: #ffffff;}*/
/*.item_group.btn:hover:before {background: url("../../../assets/HJJ/ico/ico-group-btn-bg-active-l.png") no-repeat center;}*/
/*.item_group.btn:hover:after {background: url("../../../assets/HJJ/ico/ico-group-btn-bg-active-r.png") no-repeat center;}*/
.item_group.btn:hover .add{background: url("../../../assets/HJJ/ico/ico-active-plus.png") no-repeat center;}
.btn-animate {position: relative;cursor: pointer;}
.btn-animate:hover {color: #fff;}
.btn-animate:before {content: '';background: rgba(76,117,149,0.4);transform: scale(0);transition-property: transform;transition-duration: .2s;
    transition-timing-function: ease-out;border-radius: 50%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.btn-animate:hover:before {transform: scale(1);border-radius: 0;}
.btn-animate.btn-animate-orange:before {background: rgba(225,220,28,.2);}

.table_search_box {padding: 10px 10px 0 0px;display: flex;}
.table_search_box .item_group {margin: 0 10px 10px 0;}


.table_list_box td .ant-switch {background-color: #253554;}
.table_list_box .tag {font-size: 12px;padding: 0 6px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;border: 1px solid #6ebdff;color: #6ebdff;}
.table_list_box .tag.finish {border-color: #ff9338;color: #ff9338;}
.table_list_box .tag.pause {border-color: #f8cf6f;color: #f8cf6f;}
.table_list_box .tag.oper {border-color: #78e775;color: #78e775;}
.table_list_box .tag.end {border-color: #ff9338;color: #ff9338;}
.table_list_box .table_action_btn {height: 32px;padding: 6px 12px;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;background-color: #334d65;color: #7b90af;display: flex;}
.table_list_box .table_action_btn:hover {background-color: #3d607b;}
.table_list_box .table_action_btn .table_btn {height: 20px;padding: 0 12px;font-size: 16px;display: flex;align-items: center;position: relative;cursor: pointer;}
.table_list_box .table_action_btn .table_btn:hover {color: #fff;}
.table_list_box .table_action_btn .table_btn + .table_btn:before {content: '';width: 1px;height: 16px;background-color: #385178;position: absolute;left: 0;top: 2px;}

.table_pagination {height: 30px;margin-top: 10px;display: flex;align-items: center;justify-content: center;color: #7b90af;}
.table_pagination .total {margin-right: 8px;}
.table_pagination .item {width: 26px;height: 26px;border-radius: 2px;background-color: #202d3b;margin-left: 4px;display: flex;align-items: center;justify-content: center;cursor: pointer;}
.table_pagination .item.prev {background: #19222c url("../../../assets/HJJ/ico/ico-arrow-full-left.png") no-repeat center;}
.table_pagination .item.next {background: #19222c url("../../../assets/HJJ/ico/ico-arrow-full-right.png") no-repeat center;}
.table_pagination .item:hover,
.table_pagination .item.active {background-color: #334d65;color: #fff;}

.edui-default .edui-editor-toolbarbox {position: sticky!important;z-index: 9999;right: 0;left: 0;top: 0;}
.edui-default .edui-editor-bottomContainer {position: sticky!important;z-index: 9999;right: 0;left: 0;bottom: 0;background: white;}

.volumeSlider .ant-slider {margin: 0;height: 100%;}
.volumeSlider .ant-slider:hover .ant-slider-rail,
.volumeSlider .ant-slider-rail {background-color: transparent;top: 7px;height: 5px;}
.volumeSlider .ant-slider-track {background-image: linear-gradient(to right, #4c7595, #e9deb2);-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;height: 5px;top: 7px;}
.volumeSlider .ant-slider-handle {width: 10px;height: 13px;background: url("../../../assets/HJJ/train/volume.png") no-repeat center;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;border-color: transparent;margin: 0;top: -8px;}
.volumeSlider .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open),
.volumeSlider .ant-slider-handle:hover,
.volumeSlider .ant-slider-handle:focus {border-color: transparent;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}

.volumeSlider.voice .ant-slider:hover .ant-slider-rail,
.volumeSlider.voice .ant-slider-rail {background-color: #354971;}

.formSlider .ant-slider {margin: 10px 6px;}
.formSlider .ant-slider:hover .ant-slider-rail,
.formSlider .ant-slider-rail {background-color: #071633;}
.formSlider .ant-slider-track {background-color: #6ebdff;}
.formSlider .ant-slider-handle {border-color: #6ebdff;background-color: #6ebdff}

.radioSlider {height: 16px;border: 1px solid #2a3a4b;padding: 2px;position: relative;}
.radioSlider .bg {width: calc(100% - 4px);height:10px;background: url("../../../assets/HJJ/receive/radioSliderBg.png");position: absolute;}
.radioSlider .text {position: absolute;left: 0;right: 0;top: calc(100% + 6px);display: flex;align-items: center;justify-content: space-between;}
.radioSlider .text>div {width: 40px;text-align: center;flex-shrink: 0;font-size: 12px;color: #5d7084}
.radioSlider .text>div.on {color: #d1e7ff}
.radioSlider .ant-slider {margin: 0;height: 100%;}
.radioSlider .ant-slider:hover .ant-slider-rail,
.radioSlider .ant-slider:hover .ant-slider-track,
.radioSlider .ant-slider-rail {background-color: transparent;top: 7px;height: 5px;}
.radioSlider .ant-slider-track {height: 5px;top: 7px;background-color: transparent}
.radioSlider .ant-slider-handle {width: 23px;height: 26px;background: url("../../../assets/HJJ/receive/radioSliderDot.png") no-repeat center;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;border-color: transparent;margin: 0;top: -9px;}
.radioSlider .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open),
.radioSlider .ant-slider-handle:hover,
.radioSlider .ant-slider-handle:focus {border-color: transparent;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
.radioSlider .bg.big {background: url("../../../assets/HJJ/receive/radioSliderBgBig.png");}
.radioSlider .big .text {position: relative}
.radioSlider .big .text>div {width: 20px}
.radioSlider .big .text>div.on {position: absolute;top: 0;}

.handKeyChart .g2-tooltip {background-color: rgba(24, 45, 86, .9) !important;box-shadow: rgba(31, 46, 75, .6) 0 0 10px !important;color: #6ebdff !important;}
.handKeyChart .g2-tooltip-marker {display: none !important;}
.totalChart .g2-tooltip {background-color: rgba(24, 45, 86, .9) !important;box-shadow: rgba(31, 46, 75, .6) 0 0 10px !important;color: #6ebdff !important;}
.totalChart .g2-tooltip-marker {display: none !important;}

.areaTooltip {width: 80px;padding: 5px 0}
.areaTooltip .item {display: flex;justify-content: space-between;align-items: center;height: 22px;}
.areaTooltip .item .perfect {color: #b79344;}
.areaTooltip .item .abnormal {color: #d11d1d;}

.tooltipItem {height: 26px;display: flex;align-items: center;justify-content: space-between;width: 140px;}

.luckysheet-cell-input {color: #333;}

.btn.oper {width: 102px;height: 38px;background: url("../../../assets/HJJ/postTrain/btn-bg.png") no-repeat;background-size: 100% auto;
    font-weight: bold;font-size: 16px;display: flex;align-items: center;justify-content: center;color: #7d1a10;text-shadow: 1px 1px 1px rgba(255, 255, 255, .3);cursor: pointer}
.btn.oper.end {background: url("../../../assets/HJJ/postTrain/btn-bg1.png") no-repeat;background-size: 100% auto;}
.btn.oper.max {width: 102px;height: 38px;background: url("../../../assets/HJJ/login/registerBtn.png") no-repeat;background-size: 100% 100%;color: #151d26}
.btn.oper.end.max {background: url("../../../assets/HJJ/receive/trainBtb.png") no-repeat center;background-size: 100% 100%; color: #610000}
.btn.oper:hover {}
.btn.oper.max:hover{
  color: #ffffff;
}
.btn.oper.end:hover {color: #c12727;}
.btn.oper+.btn.oper {margin-left: 20px;}

.trainItem {width: calc(20vw - 50px);max-width: 326px;height: calc((20vw - 50px) * 641 / 322);max-height: 641px;min-width: 220px;min-height: 438px;
    background: url("../../../assets/HJJ/preTrain/group-bg.png") no-repeat center;background-size: 100% 100%;cursor: pointer;}
.trainItem:hover {background: url("../../../assets/HJJ/preTrain/group-bg-on.png") no-repeat center;background-size: 100% 100%;}
.trainItem+.trainItem {margin-left: 4%;}
.trainItem .itemImg {width: 50%;max-width: 172px;margin: 8% 24%;}
.trainItem .title {font-size: 32px;font-weight: bolder;color: #bdc9da;text-shadow: -1px 2px 1px #000000;
    -webkit-background-clip: text;text-align: center;height: 80px;line-height: 85px;
}
.trainItem:hover .title {color: #e9deb2}
.trainItem .totalData {margin: 12% 4% 0;height: 32%;}
.trainItem .totalData .item {padding-left: 12%;display: flex;height: 28%;align-items: center;background: url("../../../assets/HJJ/preTrain/valBG.png") no-repeat;background-size: 85% 17px;background-position: 0 100%}
.trainItem .totalData .item + .item {margin-top: 5%;}
.trainItem .totalData .item .itemLab {margin-right: 4%;height: 100%;}
.trainItem .totalData .item .itemLab.hover {display: none;}
.trainItem .totalData .item .lab {color: #7b90af;font-size: 13px}
.trainItem .totalData .item .val {color: #8aa3bd;font-size: 20px;font-weight: bolder;line-height: 1;margin-top: 6%;}
.trainItem .totalData .item .text {font-size: 13px;font-weight: normal;}
.trainItem:hover .totalData .item{background: url("../../../assets/HJJ/preTrain/valBG-hover.png") no-repeat;background-size: 85% 17px;background-position: 0 100%}
.trainItem:hover .totalData .item .lab {color: #6e6e66;}
.trainItem:hover .totalData .item .val {color: #e9deb2;}
.trainItem:hover .totalData .item .itemLab {display: none;}
.trainItem:hover .totalData .item .itemLab.hover {display: block;}
.floatPopRight {width: 53px;height: calc((20vw - 50px) * 641 / 322);max-height: 641px;min-height: 438px;position: absolute;right: -12px;}
.floatPopRight .deploy {width: 53px;height: 164px;background: url("../../../assets/HJJ/preTrain/deploy-bg.png") no-repeat center;background-size: 100% 100%;
    text-align: center;padding: 58px 5px 0 17px;font-size: 16px;color: #70a3b8;line-height: 1.4;cursor: pointer}
.floatPopRight .deploy:hover {background: url("../../../assets/HJJ/preTrain/deploy-bg-on.png") no-repeat center;background-size: 100% 100%;}
.floatPopRight .deploy .ico {width: 18px;position: absolute;top: 33px;right: 11px}
.floatPopRight .deploy:hover .ico {animation: rotate 1s linear;animation-iteration-count: 10;}

@media (max-width: 1660px) {
    .trainItem .title {font-size: 28px}
    .trainItem .totalData .item .val {font-size: 17px}
    .trainItem .totalData .item .text {font-size: 13px}
}
@media (max-width: 1500px) {
    .trainItem .title {font-size: 26px}
    .trainItem .totalData .item .lab {font-size: 12px}
    .trainItem .totalData .item .val {font-size: 17px}
    .trainItem .totalData .item .text {font-size: 12px}
    .floatPopRight {width: 42px;}
    .floatPopRight .deploy {width: 42px;height: calc(42px * 164 / 53);font-size: 13px;line-height: 1.3;padding: 48px 5px 0 15px;}
    .floatPopRight .deploy .ico {width: 16px;top: 20px;right: 8px}
}

.newClosePopup {width: 45px;height: 30px;display: flex;align-items: center;justify-content: center;cursor: pointer;position: absolute;right:5px;top: 8px;}
.newClosePopup .closeIco {width: 26px;height: 25px;background: url("../../../assets/HJJ/login/close.png") no-repeat center;}
.newClosePopup:hover .closeIco {animation: rotate 0.4s linear;}



.cool .timu {background: url("../../../assets/HJJ/explain/itemLine.png") no-repeat !important;background-size: 100% 100% !important;}
.cool .timu1 {background: url("../../../assets/HJJ/explain/itemLineOn.png") no-repeat !important;background-size: 100% 100% !important;}
.cool .grouping .grouping_halving_line {background-image: url("../../../assets/HJJ/bar.png");background-size: 100% 100%;}

.scale-slide-enter-active,
.scale-slide-leave-active {
  transition: all 0.5s ease;
}
.scale-slide-enter-from,
.scale-slide-leave-to{
  opacity: 0;
  transform: scale(0.8);
}

.customModalMask {position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 999;background-color: rgba(0,0,0,.45);}

.customModal{width: 918px;position: absolute;left: calc(50% - 399px);top: 22%;z-index: 1000}
.customModal .center{
  background: url("../../../assets/HJJ/login/registerCenter.png");
  width: 895px;
  height: 510px;
  position: absolute;
  top: 56px;
  left: 11px;
  display: flex;
  align-items: center;
  padding-bottom: 13%;
}
.customModal .registerBG{
  background: url("../../../assets/HJJ/login/registerTitle.png");
  width: 918px;
  height: 88px;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
.customModal .bottom{
  position: absolute;
  top: 490px;
}
.customModal .title .text {width: 100%;font-size: 36px;font-weight: bold;letter-spacing: 12px;
    -webkit-background-clip: text;color: transparent;line-height: 1;text-align: center}
.customModal .registerBtn {width: 96px;height: 30px;font-size: 15px;text-align: center;line-height: 28px;border-radius: 2px;cursor: pointer;}
.customModal .registerBtn.loadingBtn {cursor: no-drop;}
.customModal .registerBG .title {cursor: pointer;font-weight: bold;font-size: 25px;letter-spacing: 3px;padding-bottom: 10px;-webkit-background-clip: text;color: transparent;color: #ffffff}
.customModal .registerBG .close {cursor: pointer;background: url("../../../assets/HJJ/login/close.png");width: 20px;height: 20px}
.customModal .registerBG .close:hover {animation: rotate 0.4s linear;}
.customModal .registerBtn.confirm {color: black;background-image:url("../../../assets/HJJ/login/registerBtn.png");height: 38px;width: 102px;line-height: 38px;font-weight: bold}
.customModal .registerBtn.cancel {margin-left: 20px;color: black;background-image:url("../../../assets/HJJ/login/registerBtn.png");height: 38px;width: 102px;line-height: 38px;}
.customModal .ant-input ,.customModal .ant-select-selector{
  background-color: #141e28!important;
  border-color: #374954!important;
  color: #fff;
  height: 36px;
}



