.loading {background-color: rgba(0,8,19,.8);position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 9999;display: flex;justify-content: center;align-items: center;}

.grouping {position: relative;padding-top: 8px;}
.grouping .grouping_halving_line {height: 8px;width: calc(100% - 14px);margin-left: 7px;background-image: url("../../../assets/HJ/bar.gif");background-size: 100% 100%;background-repeat: no-repeat;position: absolute;top: 0;left: 0;z-index: 7;}
/*.grouping .grouping_halving_line:before,*/
/*.grouping .grouping_halving_line:after {content: '';height: 8px;position: absolute;top: 0;}*/
/*.grouping .grouping_halving_line:before {width: calc(100% - 4px);background-color: #17253d;left: 2px;z-index: 8;}*/
/*.grouping .grouping_halving_line:after {width: calc(100% - 8px);background-color: #25456e;left: 4px;z-index: 9;}*/
.grouping .grouping_halving_line:before{content: "";width: 3px;height: 8px;background: #a2a887;position: absolute;left:-7px;}
.grouping .grouping_halving_line:after{content: "";width: 3px;height: 8px;background: #a2a887;position: absolute;right: -7px;}
.grouping .grouping_content {padding: 0;}
.basicExercise .basicInit {
  padding: 8px 0;
  height: calc(100% - 46px);
}

.basicExercise .basicInit .item {
  height: 86px;
  color: #e2f2ff;
  font-size: 16px;
  background: url("../../../assets/HJ/train/basic-item-bg.png") no-repeat;
  background-size: 100%;
  padding: 10px 10px 0 54px;
  position: relative;
}

.basicExercise .basicInit .item + .item {
  margin-top: 16px;
}


.basicExercise .basicInit .ico {
  position: absolute;
  top: 12px;
  left: 20px;
}

.basicExercise .basicInit .title {
  color: #a5b6d0;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 5px;
}

.basicExercise .basicInit strong {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 15px;
}

.basicExercise .basicInit .num {
  height: 40px;
  font-size: 26px;
  margin-right: 6px;
  overflow: hidden;
  display: flex;
}

.ant-btn[disabled], .ant-btn[disabled]:hover, .ant-btn[disabled]:focus, .ant-btn[disabled]:active{
  color: white!important;
  background: #20426c!important;
  box-shadow: inset 0px 0px 5px #007ac1;
  border: 1px solid #395a96!important;
}
.menus {overflow: hidden;}
.menus + .menus {border-top: 1px solid #17243c;}
.menus .menus_title {
  width:190px ;
  height: 50px;display: flex;justify-content: space-between;align-items: center;padding: 0 12px;color: #9bccff;font-size: 20px;border: 1px solid transparent;margin: 15px 0;
  background: #0a1429 url("../../../assets/HJ/menus/menus-title-bg.png") no-repeat center;cursor: pointer;position: relative;z-index: 10;font-weight: bolder;letter-spacing: 2px}
.menus .menus_title .ico {width: 12px;height: 12px;background: url("../../../assets/HJ/menus/menu-arrow-right.png") no-repeat center;}
.menus .menus_title .ico.open {background: url("../../../assets/HJ/menus/menu-arrow-down.png") no-repeat center;}
.menus .menus_title .menus_icon {width:30px;height:30px;background: url("../../../assets/HJ/menus/menus-icon-bg.png") no-repeat center;display: flex;
  align-items: center;justify-content: center;margin-right: 20px;}
.menus .menus_title:hover { background-image:url("../../../assets/HJ/menus/menus-title-bg-hover.png");
  position: relative;
  color: #ffffff;}
/*.menus .menus_title.active {*/
/*  box-shadow: inset 0 0 16px rgba(110, 189, 255, .6);border-color: rgba(110, 189, 255, .7);color: #6ebdff;animation: glint 4s linear infinite;*/
/*    -webkit-animation: glint 4s linear infinite;*/
/*}*/
.menus .menus_title.active {
  background-image:url("../../../assets/HJ/menus/menus-title-bg-hover.png");
  position: relative;
  color: #ffffff;
}
.nomore{
  background: url('../../../assets/HJ/train/nomore.png') no-repeat 100% ;
  height: 293px;
  width: 290px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 20px;
  color: #00a0e9;
}
@keyframes left {
  0%{
    left: 10px;
  }
  50%{
    left: 15px;
  }
  100%{
    left: 10px;
  }
}
@keyframes right {
  0%{
    right: 10px;
  }
  50%{
    right: 15px;
  }
  100%{
    right: 10px;
  }
}
.menus .menus_title.active:before,.menus .menus_title:hover:before{
  content: "";
  width: 20px;
  height: 24px;
  position: absolute;
  top: 12px;
  left: 10px;
  animation:left 1.5s linear infinite;
  background-image: url("../../../assets/HJ/menus/left.png");
}
.menus .menus_title.active:after,.menus .menus_title:hover:after{
  content: "";
  width: 20px;
  height: 24px;
  position: absolute;
  top: 12px;
  right: 10px;
  animation:right 1.5s linear infinite;
  background-image: url("../../../assets/HJ/menus/right.png");
}
.menus .menus_title.active .menus_icon {background: url("../../../assets/HJ/menus/menus-icon-active-bg.png") no-repeat center;}
.menus .menus_content {overflow: hidden}
.menus .menus_content .menu_item {height: 41px;padding-left: 60px;line-height: 40px;color: #7b90af;font-size: 15px;cursor: pointer;}
.menus .menus_content .menu_item:hover,
.menus .menus_content .menu_item.active {color: #6ebdff;background: url("../../../assets/HJ/menus/menus-item-active-bg.png") no-repeat;font-weight: bolder;position: relative;}
.menus .menus_content .menu_item:hover:before,
.menus .menus_content .menu_item.active:before {content: '';width: 17px;height: 18px;background: url("../../../assets/HJ/menus/menus-active.png") no-repeat;position: absolute;left: 30px;top: 12px;}
.menus .menus_content .menu_item:hover:before{animation: swing 1s linear infinite;-webkit-animation: swing 1s linear infinite;}
.shrinkBox .shrinkIco {width: 18px;height: 26px;background: url("../../../assets/HJ/menus/menu-oper.png") no-repeat center;opacity: .6;}
.shrinkBox .shrinkIco.shrink {background: url("../../../assets/HJ/menus/menu-shrink.png") no-repeat center;}
.shrinkBox:hover .shrinkIco {opacity: 1;animation: swingShrink 1s linear infinite;-webkit-animation: swingShrink 1s linear infinite;}
.Cmenus {overflow: hidden;font-size: 15px;}
.Cmenus + .Cmenus {border-top: 1px solid #17243c;}
/*background-color: #0a1429;*/
.Cmenus .Cmenus_title {height: 48px;display: flex;justify-content: space-between;align-items: center;background-image: linear-gradient(0deg,#143560,#294c78);
  padding: 0 12px;color: #e2f2ff;cursor: pointer;position: relative;z-index: 10}
.Cmenus .Cmenus_title .ico {width: 18px;height: 18px;border: 1px solid #6480ab;background: url("../../../assets/HJ/ico/ico-arrow-full-right.png") no-repeat center;}
.Cmenus .Cmenus_title .ico.open {background: url("../../../assets/HJ/ico/ico-arrow-full-down.png") no-repeat center;}
.Cmenus .Cmenus_titles .ico {width: 18px;height: 18px;border: 1px solid #354971;background: url("../../../assets/HJ/ico/ico--plus.png") no-repeat center;}
.Cmenus .Cmenus_titles .ico.openf {background: url("../../../assets/HJ/ico/ico-clear.png") no-repeat center;}
.Cmenus .Cmenus_content {padding-left: 12px;position: relative;overflow: hidden}
.Cmenus .Cmenus_content:before {content: '';width: 1px;background: url("../../../assets/HJ/ico/ico-lone.png");position: absolute;left: 13px;top: 4px;bottom: 4px;}
.Cmenus .Cmenus_content .Cmenu_item {height: 32px;margin-top: 8px;padding-left: 18px;line-height: 32px;color: #a5b6d0;font-size: 14px;cursor: pointer;border-left: 3px solid transparent}
.Cmenus .Cmenus_content .Cmenu_item:hover,
.Cmenus .Cmenus_content .Cmenu_item.active {color: #fff;background-color: rgba(110,189,255,.2);border-left: 3px solid rgb(110,189,255);}

@keyframes glint {
  0% {-webkit-box-shadow: inset 0 0 4px rgba(110, 189, 255, .8);box-shadow: inset 0 0 4px rgba(110, 189, 255, .8);}
  25% {-webkit-box-shadow: inset 0 0 8px rgba(110, 189, 255, .8);box-shadow: inset 0 0 8px rgba(110, 189, 255, .8);}
  50% {-webkit-box-shadow: inset 0 0 16px rgba(110, 189, 255, .8);box-shadow: inset 0 0 16px rgba(110, 189, 255, .8);}
  75% {-webkit-box-shadow: inset 0 0 8px rgba(110, 189, 255, .8);box-shadow: inset 0 0 8px rgba(110, 189, 255, .8);}
  100% {-webkit-box-shadow: inset 0 0 4px rgba(110, 189, 255, .8);box-shadow: inset 0 0 4px rgba(110, 189, 255, .8);}
}
@keyframes swing {
  0% {left: 30px;}
  25% {left: 26px;}
  50% {left: 30px;}
  75% {left: 34px;}
  100% {left: 30px;}
}
@keyframes swingShrink {
  0% {margin-left: 0px;}
  25% {margin-left: -6px;}
  50% {margin-left: 0px;}
  75% {margin-left: 6px;}
  100% {margin-left: 0px;}
}

.table_search_box {display: flex;flex-wrap: wrap;}
.item_group {background-color: #0a1429;color: #7b90af;height: 28px;position: relative;flex-shrink: 0;}
.item_group:before,
.item_group:after {content: '';width: 4px;height: 30px;color: #7b90af;position: absolute;top: -2px;}
/*.item_group:before {background: url("../../assets/HJ/ico/ico-group-btn-bg-l.png") no-repeat center;left: -2px;}*/
/*.item_group:after {background: url("../../assets/HJ/ico/ico-group-btn-bg-r.png") no-repeat center;right: -1px;}*/
.item_group.input {display: flex;}
.item_group.input .ant-input {border-color: transparent;background-color: transparent;height: 28px;line-height: 26px;padding: 0 10px;color: #7b90af;}
.item_group.input:hover .icon,
.item_group.input.search .icon{width: 30px;height: 28px;padding-right: 30px;cursor: pointer;background: url("../../../assets/HJ/ico/ico-clear.png") no-repeat center;position: absolute;right: 0;top: 0;}
.item_group.input.search .icon {background: url("../../../assets/HJ/ico/ico-search.png") no-repeat center;}
.item_group.input.search{background: #20416e!important;}
.item_group.input.search ::-webkit-input-placeholder{color: #7b90af!important;}
.item_group.btn {display: flex;align-items: center;padding: 0 12px;cursor: pointer;flex-shrink: 0}
.item_group.btn.big {height: 40px;}
.item_group.btn .ico {width: 15px;height: 15px;background: url("../../../assets/HJ/ico/ico-search.png") no-repeat center;margin-right: 6px;}
.item_group.btn span{color: #c4dafb}
.item_group.btn:hover span{color: #ffffff!important;}
.item_group.btn .add {width: 13px;height: 13px;background: url("../../../assets/HJ/ico/ico--plus.png") no-repeat center;background-size: 100%;}
.item_group.btn:hover {background-position: right center;color: #ffffff;box-shadow: inset 0px 0px 5px #00a1ff;border: 1px solid #3898d0;}
.item_group.btn{background-image: linear-gradient(to right, #20426b 0%, #20426b 50% ,#3898d0 100%);
  text-transform: uppercase;
  background-size: 300% auto;
  box-shadow: inset 0px 0px 5px #007ac1;
  border: 1px solid #395a96;
  height: 32px;
  color: #c4dafb;
  transition: all 1s;}
/*.item_group.btn:hover {background-color: rgba(57,52,41,1);color: #ffffff;}*/
/*.item_group.btn:hover:before {background: url("../../assets/HJ/ico/ico-group-btn-bg-active-l.png") no-repeat center;}*/
/*.item_group.btn:hover:after {background: url("../../assets/HJ/ico/ico-group-btn-bg-active-r.png") no-repeat center;}*/
.item_group.btn:hover .add{background: url("../../../assets/HJ/ico/ico-active-plus.png") no-repeat center;}
.btn-animate {position: relative;cursor: pointer;}
.btn-animate:hover {color: #fff;}
.btn-animate:before {content: '';background: rgba(41,230,255,.2);transform: scale(0);transition-property: transform;transition-duration: .2s;
  transition-timing-function: ease-out;border-radius: 50%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.btn-animate:hover:before {transform: scale(1);border-radius: 0;}
.btn-animate.btn-animate-orange:before {background: rgba(225,220,28,.2);}

.table_search_box {padding: 10px 10px 0 0px;display: flex;}
.table_search_box .item_group {margin: 0 10px 10px 0;}


.table_list_box td .ant-switch {background-color: #253554;}
.table_list_box .tag {font-size: 12px;padding: 0 6px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;border: 1px solid #6ebdff;color: #6ebdff;}
.table_list_box .tag.finish {border-color: #ff9338;color: #ff9338;}
.table_list_box .tag.pause {border-color: #f8cf6f;color: #f8cf6f;}
.table_list_box .tag.oper {border-color: #78e775;color: #78e775;}
.table_list_box .table_action_btn {height: 32px;padding: 6px 12px;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;background-color: #143763;color: #7b90af;display: flex;}
.table_list_box .table_action_btn:hover {background-color: #284363;}
.table_list_box .table_action_btn .table_btn {height: 20px;padding: 0 12px;font-size: 16px;display: flex;align-items: center;position: relative;cursor: pointer;}
.table_list_box .table_action_btn .table_btn:hover {color: #fff;}
.table_list_box .table_action_btn .table_btn + .table_btn:before {content: '';width: 1px;height: 16px;background-color: #385178;position: absolute;left: 0;top: 2px;}

.table_pagination {height: 30px;margin-top: 10px;display: flex;align-items: center;justify-content: center;color: #7b90af;}
.table_pagination .total {margin-right: 8px;}
.table_pagination .item {width: 26px;height: 26px;border-radius: 2px;background-color: #0a1429;margin-left: 4px;display: flex;align-items: center;justify-content: center;cursor: pointer;}
.table_pagination .item.prev {background: #0a1429 url("../../../assets/HJ/ico/ico-arrow-full-left.png") no-repeat center;}
.table_pagination .item.next {background: #0a1429 url("../../../assets/HJ/ico/ico-arrow-full-right.png") no-repeat center;}
.table_pagination .item:hover,
.table_pagination .item.active {background-color: #253554;color: #fff;}

.edui-default .edui-editor-toolbarbox {position: sticky!important;z-index: 9999;right: 0;left: 0;top: 0;}
.edui-default .edui-editor-bottomContainer {position: sticky!important;z-index: 9999;right: 0;left: 0;bottom: 0;background: white;}

.volumeSlider .ant-slider {margin: 0;height: 100%;}
.volumeSlider .ant-slider:hover .ant-slider-rail,
.volumeSlider .ant-slider-rail {background-color: transparent;top: 7px;height: 5px;}
.volumeSlider .ant-slider-track {background-image: linear-gradient(to right, #008dff, #00d1f4);-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;height: 5px;top: 7px;}
.volumeSlider .ant-slider-handle {width: 10px;height: 13px;background: url("../../../assets/HJ/train/volume.png") no-repeat center;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;border-color: transparent;margin: 0;top: -8px;}
.volumeSlider .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open),
.volumeSlider .ant-slider-handle:hover,
.volumeSlider .ant-slider-handle:focus {border-color: transparent;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}

.volumeSlider.voice .ant-slider:hover .ant-slider-rail,
.volumeSlider.voice .ant-slider-rail {background-color: #354971;}

.formSlider .ant-slider {margin: 10px 6px;}
.formSlider .ant-slider:hover .ant-slider-rail,
.formSlider .ant-slider-rail {background-color: #071633;}
.formSlider .ant-slider-track {background-color: #6ebdff;}
.formSlider .ant-slider-handle {border-color: #6ebdff;background-color: #6ebdff}

.radioSlider {height: 16px;border: 1px solid #31588f;padding: 2px;position: relative;}
.radioSlider .bg {width: calc(100% - 4px);height:10px;background: url("../../../assets/HJ/receive/radioSliderBg.png");position: absolute;}
.radioSlider .text {position: absolute;left: 0;right: 0;top: calc(100% + 6px);display: flex;align-items: center;justify-content: space-between;}
.radioSlider .text>div {width: 40px;text-align: center;flex-shrink: 0;font-size: 12px;color: #3f6089}
.radioSlider .text>div.on {color: #009afd}
.radioSlider .ant-slider {margin: 0;height: 100%;}
.radioSlider .ant-slider:hover .ant-slider-rail,
.radioSlider .ant-slider:hover .ant-slider-track,
.radioSlider .ant-slider-rail {background-color: transparent;top: 7px;height: 5px;}
.radioSlider .ant-slider-track {height: 5px;top: 7px;background-color: transparent}
.radioSlider .ant-slider-handle {width: 23px;height: 26px;background: url("../../../assets/HJ/receive/radioSliderDot.png") no-repeat center;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;border-color: transparent;margin: 0;top: -9px;}
.radioSlider .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open),
.radioSlider .ant-slider-handle:hover,
.radioSlider .ant-slider-handle:focus {border-color: transparent;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}

.handKeyChart .g2-tooltip {background-color: rgba(24, 45, 86, .9) !important;box-shadow: rgba(31, 46, 75, .6) 0 0 10px !important;color: #6ebdff !important;}
.handKeyChart .g2-tooltip-marker {display: none !important;}
.totalChart .g2-tooltip {background-color: rgba(24, 45, 86, .9) !important;box-shadow: rgba(31, 46, 75, .6) 0 0 10px !important;color: #6ebdff !important;}
.totalChart .g2-tooltip-marker {display: none !important;}

.areaTooltip {width: 80px;padding: 5px 0}
.areaTooltip .item {display: flex;justify-content: space-between;align-items: center;height: 22px;}
.areaTooltip .item .perfect {color: #b79344;}
.areaTooltip .item .abnormal {color: #d11d1d;}

.tooltipItem {height: 26px;display: flex;align-items: center;justify-content: space-between;width: 140px;}

.luckysheet-cell-input {color: #333;}

.btn.oper {width: 120px;height: calc(120px * 49 / 131);background: url("../../../assets/HJ/postTrain/btn-bg.png") no-repeat;background-size: 100% auto;
  font-weight: bold;font-size: 20px;display: flex;align-items: center;justify-content: center;color: #7d1a10;text-shadow: 1px 1px 1px rgba(255, 255, 255, .6);}
.btn.oper.end {background: url("../../../assets/HJ/postTrain/btn-bg1.png") no-repeat;background-size: 100% auto;}
.btn.oper.max {width: 160px;height: calc(160px * 73 / 268);background: url("../../../assets/HJ/postTrain/btn-bg2.png") no-repeat;background-size: 100% auto;}
.btn.oper.end.max {background: url("../../../assets/HJ/postTrain/btn-bg3.png") no-repeat center;background-size: 100% auto;}
.btn.oper:hover {color: #c15327;}
.btn.oper.end:hover {color: #c12727;}
.btn.oper+.btn.oper {margin-left: 20px;}

.trainItem {width: calc(20vw - 50px);max-width: 322px;height: calc((20vw - 50px) * 641 / 322);max-height: 641px;min-width: 220px;min-height: 438px;
  background: url("../../../assets/HJ/preTrain/group-bg.png") no-repeat center;background-size: 100% 100%;cursor: pointer;}
.trainItem:hover {background: url("../../../assets/HJ/preTrain/group-bg-on.png") no-repeat center;background-size: 100% 100%;}
.trainItem+.trainItem {margin-left: 4%;}
.trainItem .itemImg {width: 50%;max-width: 172px;margin: 13% auto 11%;}
.trainItem .title {font-size: 32px;font-weight: bolder;background-image: linear-gradient(to bottom, #b5e9ff, #71cbff);
  -webkit-background-clip: text;color: transparent;text-align: center;
}
.trainItem:hover .title {background-image: linear-gradient(to bottom, #ffffff, #bee7ff);}
.trainItem .totalData {margin: 12% 4% 0;height: 32%;}
.trainItem .totalData .item {padding-left: 12%;display: flex;height: 28%;align-items: center;}
.trainItem .totalData .item + .item {margin-top: 5%;}
.trainItem .totalData .item .itemLab {margin-right: 4%;height: 100%;}
.trainItem .totalData .item .itemLab.hover {display: none;}
.trainItem .totalData .item .lab {color: #7b90af;font-size: 13px}
.trainItem .totalData .item .val {color: #ab8222;font-size: 20px;font-weight: bolder;line-height: 1;margin-top: 2px;}
.trainItem .totalData .item .text {font-size: 13px;font-weight: normal;}
.trainItem:hover .totalData .item .lab {color: #bad6ff;}
.trainItem:hover .totalData .item .val {color: #fc9e44;}
.trainItem:hover .totalData .item .itemLab {display: none;}
.trainItem:hover .totalData .item .itemLab.hover {display: block;}
.floatPopRight {width: 53px;height: calc((20vw - 50px) * 641 / 322);max-height: 641px;min-height: 438px;position: absolute;right: -12px;}
.floatPopRight .deploy {width: 53px;height: 164px;background: url("../../../assets/HJ/preTrain/deploy-bg.png") no-repeat center;background-size: 100% 100%;
  text-align: center;padding: 58px 5px 0 17px;font-size: 16px;color: #71cbff;line-height: 1.4;cursor: pointer}
.floatPopRight .deploy:hover {background: url("../../../assets/HJ/preTrain/deploy-bg-on.png") no-repeat center;background-size: 100% 100%;}
.floatPopRight .deploy .ico {width: 18px;position: absolute;top: 27px;right: 11px}
.floatPopRight .deploy:hover .ico {animation: rotate 1s linear;animation-iteration-count: 10;}

@media (max-width: 1660px) {
  .trainItem .title {font-size: 28px}
  .trainItem .totalData .item .val {font-size: 17px}
  .trainItem .totalData .item .text {font-size: 13px}
}
@media (max-width: 1500px) {
  .trainItem .title {font-size: 26px}
  .trainItem .totalData .item .lab {font-size: 12px}
  .trainItem .totalData .item .text {font-size: 12px}
  .floatPopRight {width: 42px;}
  .floatPopRight .deploy {width: 42px;height: calc(42px * 164 / 53);font-size: 13px;line-height: 1.3;padding: 48px 5px 0 15px;}
  .floatPopRight .deploy .ico {width: 16px;top: 20px;right: 8px}
}
@media (max-width: 1260px) {
  .trainItem {min-width: 180px;min-height: 360px}
  .trainItem+.trainItem {margin-left: 2%;}
  .trainItem .title {font-size: 22px}
  .trainItem .totalData .item .val {font-size: 16px;margin-top: 1px}
}

.newClosePopup {width: 45px;height: 30px;display: flex;align-items: center;justify-content: center;cursor: pointer;
  background: url("../../../assets/HJ/basicTheory/close-bg.png") no-repeat center;position: absolute;right: 0;top: 0;}
.newClosePopup .closeIco {width: 12px;height: 12px;background: url("../../../assets/HJ/basicTheory/close.png") no-repeat center;}
.newClosePopup:hover .closeIco {animation: rotate 0.4s linear;}



.cool .timu {background: url("../../../assets/HJ/receive/itemLine.png") no-repeat !important;background-size: 100% 100% !important;}
.cool .timu1 {background: url("../../../assets/HJ/receive/itemLineOn.png") no-repeat !important;background-size: 100% 100% !important;}
.cool .grouping .grouping_halving_line {background-image: url("../../../assets/HJ/bar.png");background-size: 100% 100%;}

.scale-slide-enter-active,
.scale-slide-leave-active {
  transition: all 0.5s ease;
}
.scale-slide-enter-from,
.scale-slide-leave-to{
  opacity: 0;
  transform: scale(0.8);
}

.customModalMask {position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 999;background-color: rgba(0,0,0,.45);}
.customModal{width: 798px;height: 484px;background: url("../../../assets/HJ/postTrain/tipsBg.png") no-repeat center;position: absolute;left: calc(50% - 399px);top: 22%;z-index: 1000}
.customModal .title {width: 237px;height: 65px;display: flex;align-items: center;justify-content: center;margin: 7% auto 3%;
  background: url("../../../assets/HJ/postTrain/tipsTitleBg.png") no-repeat center;}
.customModal .title .text {width: 100%;font-size: 36px;font-weight: bold;letter-spacing: 12px;background-image: linear-gradient(to bottom, #ffffff, #71cbff);
  -webkit-background-clip: text;color: transparent;line-height: 1;text-align: center}
.customModal .registerBtn {width: 96px;height: 30px;font-size: 15px;text-align: center;line-height: 28px;border-radius: 2px;cursor: pointer;}
.customModal .registerBtn.loadingBtn {cursor: no-drop;opacity: .8;}
.customModal .registerBtn.confirm {color: #e2f2ff;box-shadow: 2px 2px 3px rgba(0,0,0,.2);background-image: linear-gradient(#22acff, #0068de);}
.customModal .registerBtn.cancel {border: 1px solid #1ca1fa;color: #1ca1fa;margin-left: 20px}

.addEquipmentModal {
  width: 90% !important;
  top: 30px !important;
}
.equipmentImgBox .ant-upload.ant-upload-select-picture-card{
  border: 1px solid #26466c !important;
  margin-right:0px ;
  margin-bottom: 0px;
}
.equipmentImgBox .ant-upload-picture-card-wrapper{
  height: 100%;
}
.equipmentImgBox .ant-upload-select-picture-card{
  width: 100% !important;
  height: 100% !important;
}
.ZIndex {
  z-index: 100!important;
}
/*岗位生成训练按钮*/
.createDrillBtn{
  width: 96px;
  height: 30px;
  color: #e2f2ff;
  font-size: 15px;
  text-align: center;
  line-height: 28px;
  /*background-image: linear-gradient(#6cebfc, #006ea4);*/
  box-shadow: 2px 2px 3px rgba(0,0,0,.2);
  border-radius: 2px;
  background-image: linear-gradient(#22acff, #0068de);
}
.createDrillBtn.loadingBtn {
  cursor: no-drop;
  opacity: .8;
}

/*岗前计数框*/
.statisticalBox{width: 200px;box-shadow: 0px 0px 6px 2px rgba(255,255,255,0.2) inset;padding: 10px;background: url("../../../assets/HJJ/telexTrain/statisticalBoxBG.png") repeat}
.statisticalBox .lineBox{width: 180px;height: 26px;border: 1px solid #404347;display: flex;margin-bottom: 5px;}
.statisticalBox .lineBox .box{width: 50%;height: 100%;line-height: 26px;display: flex;}
.statisticalBox .lineBox .box:first-child{border-right: 1px solid #404347;color: rgba(255,255,255,0.8);align-items: center;}
.statisticalBox .lineBox .box:nth-last-child(1){color: #ffffff;padding-left: 10px;}
.statisticalBox .lineBox .box img{width: 24px;height: 24px;}
.statisticalBox .linebtns{display: flex;align-items: center;justify-content: center;margin: 10px 0 0px 0;z-index: 99}
.statisticalBox .btn{border: 1px solid #6ebdff;padding: 5px 10px;color: #ffffff;background-image: linear-gradient(to top, #152647, #6ebdff);cursor: pointer}
.statisticalBox .btn:first-child{margin-right: 10px}
.statisticalBox .btn:hover{color: #ffffff}

