@borderCole: #757165;
@bgColer: #181A19  ;

[type=text],
[type=email],
[type=url],
[type=password],
[type=number],
[type=date],
[type=datetime-local],
[type=month],
[type=search],
[type=tel],
[type=time],
[type=week],
[multiple],
textarea,
select {
  padding: 0;
}
[type='text']:focus, input:where(:not([type])):focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus{
  --tw-ring-shadow: 0 0 0 1px rgba(191, 191, 191, 0) !important;
}


.tox:not(.tox-tinymce-inline) .tox-editor-header, .tox .tox-menubar,
.tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary,
.tox .tox-toolbar-overlord {
  background-image: none !important;
  background-color: transparent !important;
}

.tox .tox-menubar + .tox-toolbar, .tox .tox-menubar + .tox-toolbar-overlord,
.tox .tox-menubar {
  border-bottom: 2px solid #343c39;
  background: #343c39 !important;
}

.tox .tox-statusbar, .tox .tox-tbtn:hover,
.tox .tox-mbtn:hover:not(:disabled):not(.tox-mbtn--active) {
  background-color: #343c39 !important;
}

.tox .tox-edit-area__iframe,
.tox .tox-edit-area__iframe body {
  background-color: rgba(52, 60, 57, 0.6) !important;
}

.tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
  background-color: #343c39 !important;
}

.tox .tox-collection--list .tox-collection__item--active, .tox .tox-collection--list .tox-collection__item--enabled {
  background-color: #1b322a !important;
}

.tox .tox-menu {
  background-color: #413f33  !important;
}

.tox .tox-mbtn--active, .tox .tox-tbtn--enabled, .tox .tox-tbtn--enabled:hover,
.tox .tox-collection--toolbar .tox-collection__item--active, .tox .tox-tbtn:active,
.tox .tox-mbtn:focus:not(:disabled), .tox .tox-tbtn:focus, .tox .tox-button--naked:focus:not(:disabled),
.tox .tox-button--naked:hover:not(:disabled), .tox .tox-button--naked:active:not(:disabled), .tox .tox-split-button:focus {
  background: #758785 !important;
}

.tox .tox-button--naked:focus:not(:disabled), .tox .tox-button--naked:hover:not(:disabled),
.tox .tox-button--naked:active:not(:disabled) {
  border-color: #2b4e30 !important;
}

.tox .tox-split-button:hover {
  box-shadow: 0 0 0 1px #758785 inset !important;
}

.tox .tox-insert-table-picker .tox-insert-table-picker__selected {
  background-color: rgb(32 183 106 / 18%) !important;
  border-color: rgb(34 183 32 / 50%) !important;
}

.tox .tox-pop.tox-pop--top::after {
  border-color: transparent transparent #343c39 transparent !important;
}

.tox .tox-pop.tox-pop--bottom::after {
  border-color: #343c39 transparent transparent transparent !important;
}

.tox .tox-dialog-wrap__backdrop {
  background-color: rgba(0, 0, 0, 0.45) !important;
}

.tox .tox-dialog, .tox .tox-dialog__header, .tox .tox-dialog__footer {
  background: #323736 !important;
}

.tox .tox-listboxfield .tox-listbox--select, .tox .tox-textarea, .tox .tox-textfield, .tox .tox-toolbar-textfield {
  background-color: #413f33  !important;
}

.tox .tox-listboxfield .tox-listbox--select:focus, .tox .tox-textarea:focus, .tox .tox-textfield:focus {
  border-color: #757165 !important;
  box-shadow: 0 0 0 2px rgb(26 196 50 / 20%);
}


.tox .tox-dialog__footer-end .tox-button {
  background: url('../../../assets/LJ/login/registerBtn.png') no-repeat center / 100% 100% !important;
  border: none !important;
  color: rgba(226, 255, 242, 0.85) !important;
}

.tox .tox-dialog__footer-end .tox-button--secondary {
  background: url('../../../assets/LJ/main/cancelBtn.png') no-repeat center / 100% 100% !important;
}

.mce-content-body audio[data-mce-selected], .mce-content-body embed[data-mce-selected], .mce-content-body img[data-mce-selected],
.mce-content-body object[data-mce-selected], .mce-content-body table[data-mce-selected], .mce-content-body video[data-mce-selected] {
  outline: 3px solid #00910e !important;
}

.mce-content-body div.mce-resizehandle {
  background-color: #00910e !important;
  border-color: #00910e !important;
}


.ant-calendar-month-panel-header {
  background: #181d1b !important;
  border-color: #2b352b !important;
  border-bottom: 1px solid #2b352b !important;
}

.ant-calendar-picker-icon {
  color: #8e9693 !important;
}

.ant-calendar-picker:hover .ant-calendar-picker-clear {
  background: transparent;
  color: #8e9693;
}

.ant-calendar table,
.ant-calendar th,
.ant-calendar td,
.ant-calendar-time-picker-inner,
.ant-calendar-range.ant-calendar-time .ant-calendar-time-picker {
  background: #181d1b !important;
}

.ant-calendar-range.ant-calendar-time .ant-calendar-time-picker-inner {
  background: none !important;
}

.ant-calendar-month-panel-header .ant-calendar-month-panel-century-select,
.ant-calendar-month-panel-header .ant-calendar-month-panel-decade-select,
.ant-calendar-month-panel-header .ant-calendar-month-panel-year-select,
.ant-calendar-month-panel-header .ant-calendar-month-panel-month-select {
  color: #fff !important;
}

.ant-calendar-month-panel-month {
  color: #fff !important;
}

.ant-calendar-month-panel-month:hover {
  background: #757165 !important;
  cursor: pointer;
}

.ant-calendar-month-panel-selected-cell .ant-calendar-month-panel-month,
.ant-calendar-selected-day .ant-calendar-date,
.ant-calendar-date:hover,
.ant-calendar-year-panel-selected-cell .ant-calendar-year-panel-year,
.ant-calendar-year-panel-year:hover,
.ant-calendar-decade-panel-selected-cell .ant-calendar-decade-panel-decade,
.ant-calendar-decade-panel-decade:hover {
  background-color: #162e26 !important;
  color: #fff !important;
}

.ant-calendar-time-picker-select {
  border-color: #757165 !important;
}

li.ant-calendar-time-picker-select-option-selected,
.ant-calendar-time-picker-select li:hover {
  background: #162e26 !important;
}

li.ant-calendar-time-picker-select-option-disabled {
  color: rgba(255, 255, 255, 0.25) !important;
  background: #323736 !important;
}

.ant-calendar-disabled-cell .ant-calendar-date {
  color: rgba(255, 255, 255, 0.25) !important;
  background: #323736 !important;
}

.ant-calendar-year-panel,
.ant-calendar-decade-panel {
  background: #181d1b !important;
}

.ant-calendar {
  background: #181d1b !important;
  border-color: #2b352b !important;
}

.ant-calendar-input {
  background: rgba(0, 0, 0, 0) !important;
  color: #8e9693 !important;
}

.ant-calendar-header,
.ant-calendar-input-wrap,
.ant-calendar-year-panel-header,
.ant-calendar-decade-panel-header {
  border-bottom: 1px solid #757165 !important;
}

.ant-calendar-footer {
  border-top: 1px solid #757165 !important;
}

.ant-calendar-date,
.ant-calendar-picker-container,
.ant-calendar-header .ant-calendar-century-select,
.ant-calendar-header .ant-calendar-decade-select,
.ant-calendar-header .ant-calendar-year-select,
.ant-calendar-header .ant-calendar-month-select,
.ant-calendar-time .ant-calendar-day-select,
.ant-calendar-year-panel-year,
.ant-calendar-year-panel-header .ant-calendar-year-panel-decade-select,
.ant-calendar-decade-panel-decade {
  color: #8e9693 !important;
}

.ant-calendar-time .ant-calendar-footer .ant-calendar-time-picker-btn-disabled {
  color: rgba(255, 255, 255, 0.2) !important;
}

.ant-calendar-today .ant-calendar-date {
  border-color: #162e26 !important;
}

.ant-calendar .ant-calendar-ok-btn {
  background-image: linear-gradient(to right, #353c38 0%, #424f47 50%, #8f9593 100%) !important;
  border: 1px solid #5a615f !important;
  background-size: 300% auto !important;
  transition: all 1s;
  text-transform: uppercase;
}

.ant-calendar-footer a,
.ant-calendar-time-picker-select li:focus {
  color: #ffffff !important;
}

.ant-calendar-time-picker-combobox {
  background: #181d1b !important;
}


.ant-time-picker-panel-input,
.ant-time-picker-panel-inner {
  background: #181d1b !important;
  border-color: #2b352b !important;
  color: #8e9693 !important;
}

.ant-time-picker-panel-select li:hover,
li.ant-time-picker-panel-select-option-selected {
  background: #162e26 !important;
  color: #fff !important;
}

.ant-time-picker-icon .ant-time-picker-clock-icon,
.ant-time-picker-clear .ant-time-picker-clock-icon {
  color: #8e9693 !important
}

.ant-calendar-range .ant-calendar-in-range-cell::before {
  background: #162e26 !important;
}

.ant-time-picker-panel-input-wrap,
.ant-time-picker-panel-select {
  border-color: #757165 !important;
}

.ant-time-picker:hover .ant-time-picker-clear {
  background: transparent;
}

.required::before {
  display: inline-block;
  margin-right: 5px;
  color: #f5222d;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}

.full-modal {
  .ant-modal {
    max-width: 100%;
    top: 0;
    padding-bottom: 0;
    margin: 0;
  }

  .ant-modal-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh);
  }

  .ant-modal-body {
    flex: 1;
  }
}

.num-rain-div {
  display: inline-block;
  font-size: 10px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.num-rain-div[data-state='active'] {
  text-shadow: 0 0 1px rgba(84, 110, 143, 0.3);
  color: rgba(84, 110, 143, 0.3);
}

//.content-mask-bg {
//  background: rgba(23,31,41,0.7) !important;
//}
.ant-breadcrumb > span:last-child a {
  color: #34b34c !important;
}

.ant-breadcrumb a {
  color: rgb(111, 127, 152) !important;
}

.ant-breadcrumb a:hover {
  color: #34b34c !important;
}

.wisdom {
  .ant-message-notice-content {
    background: transparent;
    padding: 0;
    box-shadow: none;
  }

  .ant-message-custom-content {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 20px;
    line-height: 1;
    font-weight: bolder;
    transform: scale(.8);
  }

  .ant-message-custom-content.ant-message-success {
    color: #e3ffdf;
    box-shadow: 0 0 16px #008000;
    background: rgb(0 128 0 / 0.2) url("../../../assets/LJ/message-bg-success.png");
  }

  .ant-message-custom-content.ant-message-error {
    box-shadow: 0 0 16px #ff0000;
    color: #ffc8c8;
    background: rgb(255 0 0 / 20%) url("../../../assets/LJ/message-bg-error.png");
  }

  .ant-message-custom-content.ant-message-warning {
    box-shadow: 0 0 16px #f0a732;
    color: #fff8c8;
    //background: rgb(240 167 50 / 20%) url("../../../assets/LJ/message-bg-error.png");
    background: rgb(255 165 0 / 20%) linear-gradient(135deg,
    rgba(240, 167, 50, .2) 0, rgba(240, 167, 50, .2) 25%, transparent 25%, transparent 50%,
    rgba(240, 167, 50, .2) 50%, rgba(240, 167, 50, .2) 75%, transparent 75%, transparent);
    background-size: 15px 15px;
    position: relative;
  }

  .ant-message-custom-content.ant-message-warning::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 0;
    //background: linear-gradient(135deg,
    //#f0a732 0, #f0a732 25%, transparent 25%, transparent 50%,
    //#f0a732 50%, #f0a732 75%, transparent 75%, transparent);
    background-image: linear-gradient(135deg,
    #f0a732 0, #f0a732 25%, transparent 25%, transparent 50%,
    #f0a732 50%, #f0a732 75%, transparent 75%, transparent);
    background-size: 15px 15px;
    background-repeat: repeat-x;

  }

  .ant-message-custom-content.ant-message-warning::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(135deg,
    #f0a732 0, #f0a732 25%, transparent 25%, transparent 50%,
    #f0a732 50%, #f0a732 75%, transparent 75%, transparent);
    background-size: 15px 15px;
    background-repeat: repeat-x;

  }

  .ant-message-custom-content .anticon svg {
    display: none;
  }

  .ant-message-custom-content .anticon-check-circle {
    width: 32px;
    height: 24px;
    background: url("../../../assets/LJ/message-lab-success.png") no-repeat center;
    margin-right: 20px;
    position: relative;
    top: 0 !important;
  }

  .ant-message-custom-content .anticon-close-circle {
    width: 34px;
    height: 26px;
    background: url("../../../assets/LJ/message-lab-error.png") no-repeat center;
    margin-right: 20px;
    position: relative;
    top: 0 !important;
  }

  .ant-message-custom-content .anticon-exclamation-circle {
    width: 34px;
    height: 26px;
    background: url("../../../assets/LJ/message-lab-error.png") no-repeat center;
    margin-right: 20px;
    position: relative;
    top: 0 !important;
  }

  .ant-message .anticon {
    top: -3px;
  }

  .ant-message {
    top: 60px;
    user-select: none;
  }

  .edui-default .edui-editor {
    background-color: transparent;
    border: none;
  }

  .edui-default .edui-editor-toolbarboxinner {
    background: #a9b7ad;
  }

  .edui-default .edui-editor-bottomContainer td {
    color: #8e9693;
    border-top: 1px solid #212322;
    background: #413f33
  }

  //.ant-select{
  //  border: 1px solid #757165;
  //}
  .ant-select-multiple .ant-select-selection-item {
    background: #413f33 ;
    color: rgba(169, 171, 170, 0.85);
    border: 1px solid #334036;
  }

  .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: #181A19 ;
  }

  .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-item {
    color: #8e9693;
  }

  .ant-select-multiple .ant-select-selection-item-remove:hover {
    color: rgba(12, 162, 51, 0.75);
  }

  .primary-color {
    color: #2b6839;
  }

  .ant-modal-confirm-body .ant-modal-confirm-title,
  .ant-modal-confirm-body .ant-modal-confirm-content {
    color: #fff;
  }

  .ant-select-item {
    color: #fff;

    .anticon {
      color: #33b34b;
    }
  }

  .ant-select-item:hover {
    color: rgb(0, 0, 0);
  }

  .ant-upload {
    color: #fff;
  }

  .ant-upload.ant-upload-select-picture-card:hover {
    border-color: #215a47;
  }


  .danger-color {
    color: #f5222d;
  }

  .ant-select-selection-placeholder {
    color: #8e9693 !important;
  }

  textarea::-webkit-input-placeholder,
  input::-webkit-input-placeholder {
    color: #8e9693 !important;
    font-weight: normal;
  }

  textarea::-moz-placeholder,
  input::-moz-placeholder {
    color: #8e9693 !important;
    font-weight: normal;
  }

  textarea:-moz-placeholder,
  input:-moz-placeholder {
    color: #8e9693 !important;
    font-weight: normal;
  }

  textarea:-ms-input-placeholder,
  input:-ms-input-placeholder {
    color: #8e9693 !important;
    font-weight: normal;
  }

  .ant-input[disabled]:hover,
  .ant-select-disabled .ant-select-selector:hover,
  .ant-input-number-disabled:hover {
    border-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .ant-input:hover,
  .ant-input-number:hover {
    border-color: #8e9693
  }

  .ant-input[disabled],
  .ant-select-disabled .ant-select-selector,
  .ant-input-number-disabled {
    color: rgba(255, 255, 255, 0.85);
    background-color: transparent;
    cursor: not-allowed;
    opacity: .6;
    border-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .ant-input-group.ant-input-group-compact > *:first-child {
    border-right: 0;
  }

  .ant-input-group.disabled .ant-input[disabled]:hover {
    border-color: #757165;
    background-color: #0a1429;
    opacity: .6;
    cursor: no-drop;
  }

  .ant-input-group.disabled .ant-input-disabled {
    color: #8e9693;
    opacity: .6;
  }

  //.ant-input[disabled]{
  //  background: #1a4d2e !important;
  //  color: #fff;
  //  cursor: not-allowed;
  //
  //}
  .ant-select-multiple.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background: #1a4d2e;
  }

  .ant-input ant-input-disabled {
    background: #8e9693 !important;
  }

  .ant-select-disabled .ant-select-arrow {
    display: none;
  }

  .ant-upload.ant-upload-select-picture-card {
    border: 1px dashed #757165;
  }

  //树
  .ant-select-tree li .ant-select-tree-node-content-wrapper:hover {
    background: #162E26;
  }

  .ant-select-tree li .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
    background: #162E26;
  }

  .ant-select-tree li .ant-select-tree-node-content-wrapper,
  .ant-select-tree li {
    color: rgba(226, 242, 255, 0.85);
  }

  .ant-modal-confirm-btns .ant-btn {
    background: url("../../../assets/LJ/main/cancelBtn.png") no-repeat center/100% 100%;
  }

  .ant-modal-confirm-btns .ant-btn:hover, .ant-modal-confirm-btns .ant-btn:focus {
    background: url("../../../assets/LJ/main/cancelBtn.png") no-repeat center/100% 100%;
  }

  .ant-btn-dangerous {
    background: url("../../../assets/LJ/login/registerBtn.png") no-repeat center/100% 100% !important;
  }

  .ant-btn-dangerous:hover, .ant-btn-dangerous:focus {
    color: #ff7875;
    background: url("../../../assets/LJ/login/registerBtn.png") no-repeat center/100% 100%;
    border-color: #ff7875;
  }

  .ant-btn-primary:active, .ant-btn-primary:hover, .ant-btn-primary:focus {
    background: url("../../../assets/LJ/login/registerBtn.png") no-repeat center/100% 100%;
    color: rgba(226, 255, 242, 0.85);
  }

  .ant-btn-primary:hover {
    color: #fff
  }

  [type='text']:focus {
    box-shadow: none;
  }

  //---end--
  //按钮样式---start--
  .ant-btn {
    background: url("../../../assets/LJ/login/registerBtn.png") no-repeat center/100% 100%;
    border: none;
    color: rgba(226, 255, 242, 0.85)
  }

  .ant-btn.cancel {
    background: url("../../../assets/LJ/main/cancelBtn.png") no-repeat center/100% 100%;
  }

  .ant-btn:hover {
    background: #0a29174d url("../../../assets/LJ/login/registerBtn.png") no-repeat center/100% 100%;
    //border: 1px solid rgba(226, 255, 238, 0.4) !important;
    color: #fff;
  }

  .ant-btn:active, .ant-btn:focus {
    background: url("../../../assets/LJ/login/registerBtn.png") no-repeat center/100% 100%;
    border: none;
    color: rgba(226, 255, 242, 0.85)
  }

  .ant-input:focus {
    border-color: #40a9ff;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px rgb(26 196 50 / 20%);
  }

  //----end---
  // 单选按钮组---start--
  .ant-radio-button-wrapper {
    border: 0px solid #6e6b61 !important;
    border-left: 1px solid #6e6b61 !important;
    border-top: 1px solid #6e6b61 !important;
    border-bottom: 1px solid #6e6b61 !important;
    background: #413f33  !important;
  }

  .ant-radio-button-wrapper:last-child {
    border-right: 1px solid #6e6b61 !important;
  }

  .ant-radio-button-wrapper .ant-radio-button-wrapper-checked {
    border: 0px solid #6e6b61 !important;
  }

  .ant-radio-button-wrapper:not(:first-child)::before {
    width: 0px !important;
  }

  .ant-radio-disabled .ant-radio-inner::after {
    background-color: #33B34B;
  }

  .ant-radio-disabled + span {
    color: rgba(255, 255, 255, .25);
  }

  [type='checkbox'],
  [type='radio'],
  .ant-radio-inner {
    width: 18px !important;
    height: 18px !important;
  }

  .ant-radio-inner::after {
    top: 4px !important;
    left: 4px !important;
  }

  .ant-input-number-input {
    //font-size: 18px;
    font-weight: bold;
  }

  .ant-input-number,
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    color: #e2fff5 !important;
  }

  .ant-radio-disabled .ant-radio-inner {
    border-color: #6e6b61 !important;
  }

  //------end---

  .ant-radio-button-wrapper-disabled.ant-radio-button-wrapper-checked {
    color: #fff;
    background: #e2d6b0;
    border-color: #6e6b61;
    box-shadow: none;
  }

  .ruleTd {
    background: #404747 !important;
  }

  .ant-upload.ant-upload-select-picture-card > .ant-upload {
    padding: 4px;
  }

  .ant-tree li .ant-tree-node-content-wrapper {
    color: #a9abaa;
  }

  .ant-tree.ant-tree-show-line li span.ant-tree-switcher {
    color: #a9abaa;
    background: #323736;
  }

  .ant-tree-checkbox-checked .ant-tree-checkbox-inner {
    background-color: #00910e;
    border-color: #00910e;
  }

  .ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner::after {
    background-color: #00910e;
  }

  .ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner {
    background-color: #413f33 ;
    border: 1px solid #323736;
  }

  .ant-tree-checkbox-inner {
    background-color: #413f33 ;
    border: 1px solid #323736;
  }

  .ant-tree.ant-tree-show-line li:not(:last-child)::before {
    border-left: 1px solid #323736;
  }

  .ant-tree li .ant-tree-node-content-wrapper:hover {
    background-color: #323736;
  }

  .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: #455aff;
    color: #fff;
  }

  .ant-tree li span.ant-tree-switcher,
  .ant-tree li span.ant-tree-iconEle {
    line-height: 15px;
  }

  .ant-btn > .anticon {
    line-height: 0;
  }

  .ant-upload.ant-upload-select-picture-card {
    background: transparent;
  }

  .ant-btn-icon-only.ant-btn-sm {
    line-height: 3px;
  }

  .ant-table-striped .table-striped td {
    background-color: rgba(52, 60, 57, 0.02);
  }

  .ant-transfer-list-search-action {
    line-height: 24px;
  }

  .ant-select-multiple .ant-select-selection-item-remove {
    line-height: normal;
    color: rgba(226, 242, 255, 0.85);
  }

  .ant-table-row-expand-icon {
    color: #14341d;
  }

  .ant-table-row-expand-icon:focus, .ant-table-row-expand-icon:hover {
    color: #3c9543;
  }

  .width_header .ant-modal-header {
    background: url(/src/assets/main/model_1000.png) no-repeat left center;
    background-size: 100% 100%;
  }

  .init_modal_style .ant-input,
  .init_modal_style .ant-select:not(.ant-select-customize-input) .ant-select-selector,
  .ant-select-dropdown {
    color: #e2fff5;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #181A19  ;

  }

  .ant-table {
    background-color: transparent;
    color: #e2fff5
  }

  .ant-table-placeholder {
    background-color: rgba(52, 60, 57, 0.3);
    border-color: #343c39;
  }

  .ant-empty-normal {
    color: #e2fff5;
  }

  .ant-table-thead > tr {
    background-image: url("../../../assets/LJ/tab-header.png");
    background-repeat: no-repeat;
    height: 52px;
    background-size: 100% 100%;
  }

  .ant-table-thead > tr:hover {
    background-image: url("../../../assets/LJ/tab-header.png") !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .ant-table-thead > tr > th {
    padding: 12px;
    background-color: rgba(0, 0, 0, 0);
    //color: #e2fff5;
    //background-image: url("../../../assets/LJ/login/inputBG.png");
    //font-size: 15px;
    border-bottom: none;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    font-size: 16px;
  }

  .ant-table-tbody > tr > td {
    border-bottom: 1px solid #343c39;
    transition: background 0.3s;
    background-color: rgba(52, 60, 57, 0.3);
    color: white;
    padding: 14px;
  }

  .ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
  .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
  .ant-table-thead > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
    background: rgba(52, 60, 57, 1);
    color: #ffffff;
  }

  .ant-modal-content {
    //background:url("../../../assets/LJ/login/registerCenter-1.png") no-repeat;
    background: rgba(0, 0, 0, 0);
    background-size: 100% 100%;
    //padding: 0 12px;
    //border-color: transparent transparent #757165 #757165;
    position: relative;
    padding-bottom: 20px;
    //box-shadow: inset 0 -120px 200px -120px rgb(22 85 154 / 80%);
  }

  //.ant-modal-content:before {
  //  position: absolute;
  //  content: "";
  //  width: 100%;
  //  height: 66px;
  //  background: url("../../../assets/LJ/home/model_before.jpg") no-repeat;
  //  background-size: 100% 100%;
  //  bottom: 0
  //}

  .noBottomBg .ant-modal-content:before {
    height: 0;
    display: none;
  }

  .noBottomBg .ant-modal-content {
    padding-bottom: 0;
  }

  .ant-modal-content:after {
  }

  .ant-modal-confirm .ant-modal-content:before {
  }

  .ant-modal-confirm .ant-modal-content:after {
  }

  @media (max-width: 600px) {
    .ant-modal-header {
      background: url("../../../assets/LJ/login/popTitle.png") no-repeat left center;
    }
  }

  @media (min-width: 600px) {
    .ant-modal-header {
      background: url("../../../assets/LJ/login/popTitle2.png") no-repeat left center;
    }
  }

  @media (min-width: 1000px) {
    .ant-modal-header {
      background: url("../../../assets/LJ/login/popTitle3.png") no-repeat left center;
    }
  }

  .ant-modal-header {
    //background: url("../../../assets/LJ/login/popTitle.png") no-repeat left center;
    //background-size: 100% 100%;
    border-bottom-color: rgba(0, 0, 0, 0);
    height: 47px;
    padding: 8px 24px;
    position: relative;
    background-size: 100% 100%;
    bottom: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    //border-bottom: 1px solid #324b60;
    //box-shadow: 0px 7px 17px -5px #1c2733;
  }

  .listeningCheckModal {
    .ant-modal-header {
      background: linear-gradient(90deg, rgb(35, 74, 61) 0%, rgb(51, 89, 76) 50%, rgb(35, 74, 61) 100%) !important;
      border: 1px solid #595e5e !important;
      height: 36px;
      padding: 0px 15px;

      .ant-modal-title {
        width: 100%;
      }
    }

    .ant-modal-body > div:first-child {
      padding: 10px 20px 0px !important;
    }
  }

  .ant-modal-body {
    ::-webkit-scrollbar {
      /*width: 5px;*/
      /*border-radius: 5px;*/

    }

    ::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0);
    }

    ::-webkit-scrollbar-thumb {
      background-color: #52695f;
    }
  }


  .ant-modal-header:before,
  .ant-modal-header:after,
  .ant-modal-footer:before,
  .ant-modal-footer:after {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
  }

  .ant-modal-footer {
    position: relative;
    background: #323736;
    border-left: 1px solid #323736 !important;
    border-right: 1px solid #323736 !important;
    border-bottom: 1px solid #323736 !important;
    border-top: none !important;
  }

  .ant-modal-footer .createDrillBtn {
    width: 83px;
    height: 34px;
    color: #e2fff5;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    background-image: url("../../../assets/LJ/login/registerBtn.png");
    cursor: pointer;
  }


  .ant-modal-footer .cancelDrillBtn {
    width: 83px;
    height: 34px;
    color: #e2fff5;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    background-image: url("../../../assets/LJ/main/cancelBtn.png");
    cursor: pointer;
  }

  .createDrillBtn {
    width: 83px;
    height: 34px;
    color: #e2fff5;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    background: url("../../../assets/LJ/login/registerBtn.png") no-repeat center/100% 100%;
    cursor: pointer;
  }

  .cancelDrillBtn {
    width: 83px;
    height: 34px;
    color: #e2fff5;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    background: url("../../../assets/LJ/main/cancelBtn.png") no-repeat center/100% 100%;
    cursor: pointer;
  }

  .ant-modal-footer .createDrillBtn.prev {
    background-image: linear-gradient(#e6c165, #bf6c2a);
  }

  .ant-modal-footer .createDrillBtn.loadingBtn {
    cursor: no-drop;
    opacity: .8;
  }

  .ant-modal-title {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 1px 0px #000;
    letter-spacing: 1px;
  }

  .ant-modal-body {
    padding: 10px 0 20px 0;
    border-left: 1px solid #5f6564;
    border-right: 1px solid #5f6564;
    background: #323736;
  }

  .ant-modal {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .body_padding_none .ant-modal-body {
    padding-bottom: 0px;
  }

  .ant-modal-confirm .ant-modal-body {
    padding: 32px 32px 24px;
  }

  .ant-modal-close .anticon {
    width: 20px;
    color: rgba(0, 0, 0, 0);
    height: 20px;
    background: url("../../../assets/LJ/login/close.png") no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    top: 20px;
    right: 15px;
  }

  .ant-form-item:last-child {
    margin-bottom: 0;
  }

  .ant-form-item:first-child {
    margin-top: 20px;
  }

  .noBottomBg .ant-modal-close .anticon {
    top: 20px;
  }

  .ant-modal-close:hover .anticon {
    animation: rotate 0.4s linear;
  }

  .init_modal_style.footer-border-none .ant-modal-footer {
    border-top-color: transparent;
    border-left: 1px solid #5f6564 !important;
    border-right: 1px solid #5f6564 !important;
    border-bottom: 1px solid #5f6564 !important;
  }

  .init_modal_style .ant-tabs-nav .ant-tabs-tab {
    color: #000;
  }

  .init_modal_style .ant-tabs-nav .ant-tabs-tab-active {
    color: #fff;
  }

  .init_modal_style .ant-tabs-nav .ant-tabs-tab:hover {
    color: #fff;
  }

  .init_modal_style .ant-tabs {
    color: #000;
  }

  .init_modal_style .ant-tabs-ink-bar {
    background-color: #fff;
  }

  .fade-in {
    animation: fade-in 0.4s linear;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(90deg);
    }

    50% {
      transform: rotate(180deg);
    }

    75% {
      transform: rotate(270deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }


  .ant-tabs-bar {
    border-bottom: 1px solid #434847;
  }

  .ant-tabs-nav .ant-tabs-tab {
    margin-right: 10px;
    height: 34px;
    width: 130px;
  }

  .ant-tabs-nav .ant-tabs-tab {
    color: #fff !important;
    background: url("../../../assets/LJ/main/tabBg.png") no-repeat center/100% 100%;
    text-align: center;
    padding: 0;
    line-height: 34px;
  }

  .ant-tabs-nav .ant-tabs-tab:hover, .ant-tabs-nav .ant-tabs-tab-active {
    color: #d77e19 !important;
    background: url("../../../assets/LJ/main/tabBg-active.png") no-repeat center/100% 100%;
  }

  .ant-tabs-ink-bar {
    background-color: #ff9213 !important;
  }

  .ant-form-item-label > label {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 32px;
    color: rgba(226, 242, 255, 0.85);
    font-size: 14px;
  }

  .ant-input,
  .ant-input-number {
    background-color: @bgColer !important;
    border-color: @borderCole !important;
    color: #fff;
  }

  .ant-input-number-focused {
    box-shadow: 0 0 0 2px rgb(26 196 50 / 20%) !important;
  }

  .ant-input::placeholder {
    color: #8e9693 !important;
  }

  .ant-input-number-disabled {
    color: #8e9693;
    opacity: .6;
  }

  .ant-input-number .ant-input-number-handler-wrap {
    background-color: transparent;
    border-color: #757165;
    width: 16px;
    opacity: 1;
  }

  .ant-input-number-handler:active {
    background-color: transparent;
  }

  .ant-input-number .ant-input-number-handler-down {
    border-color: #757165;
  }

  .ant-input-number .ant-input-number-handler-up-inner,
  .ant-input-number .ant-input-number-handler-down-inner {
    transform: scale(1);
    margin-top: -3px;
  }

  .ant-input-number .ant-input-number-handler-up-inner {
    width: 7px;
    height: 5px;
    background: url("../../../assets/LJ/ico/ico-input-number-up.png") no-repeat center;
  }

  .ant-input-number .ant-input-number-handler-down-inner {
    width: 7px;
    height: 5px;
    background: url("../../../assets/LJ/ico/ico-input-number-down.png") no-repeat center;
  }

  .ant-input-number-handler-wrap .ant-input-number-handler .ant-input-number-handler-up-inner,
  .ant-input-number-handler-wrap .ant-input-number-handler .ant-input-number-handler-down-inner {
    transform: scale(1);
  }

  .ant-input-number .ant-input-number-handler svg,
  .ant-input-number .ant-input-number-handler:hover svg {
    display: none;
  }

  .ant-checkbox-wrapper {
    color: #fff;
  }

  .ant-checkbox-wrapper .ant-checkbox-inner {
    border-color: #6e6b61 !important;
  }

  .authBoxs .ant-checkbox-wrapper {
    color: #a9abaa;
  }

  .ant-checkbox-wrapper .ant-checkbox-inner {
    background-color: #413f33 ;
    border-color: #0a1429;
    width: 20px;
    height: 20px;
  }

  .ant-checkbox-wrapper .ant-checkbox-checked::after,
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox-wrapper .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-wrapper .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #e2d6b0;
  }

  .ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #e2d6b0;
    border-color: #e2d6b0;
  }

  .ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner::after {
    display: none;
  }

  .ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #e2d6b0;
    background-image: url("../../../assets/LJ/ico/ico-checkbox-checked.png"), url("../../../assets/LJ/ico/ico-checkbox-checked-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    //background-size: contain,cover;
    //background:   no-repeat center;
  }

  .ant-radio-group {
    display: flex;
  }

  .ant-radio-wrapper {
    color: #fff;
    margin-right: 24px;
  }

  .ant-radio-inner {
    background-color: #413f33 !important;
    border-color: #6e6b61;
  }

  .ant-select-item:hover {
    color: rgba(255, 255, 255, 0.4);
  }

  .ant-radio-wrapper:hover .ant-radio,
  .ant-radio:hover .ant-radio-inner,
  .ant-radio-input:focus + .ant-radio-inner,
  .ant-radio-checked .ant-radio-inner {
    border-color: #413E33 !important;
  }

  .ant-radio-input:focus + .ant-radio-inner {
    box-shadow: 0 0 0 3px rgb(26 196 50 / 8%);
  }

  .ant-radio-checked::after {
    border-color: #33B34B;
  }

  .ant-radio-inner::after {
    background-color: #33B34B;
  }

  .ant-switch {
    background-color: #413f33 ;
    border: solid 1px #757165;
  }

  .ant-switch::after {
    background-color: #33B34B;
    width: 16px;
    height: 16px;
    top: 2px;
  }

  .ant-switch:focus {
    box-shadow: 0 0 0 2px rgb(26 196 50 / 20%) !important;
  }

  .ant-click-animating-node {
    box-shadow: 0 0 0 2px rgb(26 196 50 / 20%) !important;
  }

  .ant-switch-inner {
    color: #E2D6B0;
  }

  .ant-pagination-prev,
  .ant-pagination-next,
  .ant-pagination-jump-prev,
  .ant-pagination-jump-next {
    color: #8e9693;
  }

  .ant-pagination {
    color: #8e9693;
    border-color: #8e9693;
  }


  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: #8e9693;
  }

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: #8e9693;
    box-shadow: 0 0 0 2px rgb(26 196 50 / 20%);
  }

  .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector input:focus {
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
  }

  .ant-pagination-options-quick-jumper input {
    background-color: #28302c;
    border-color: #8e9693;
    color: #8e9693;
  }

  .ant-pagination-options-quick-jumper input:hover {
    border-color: #8e9693;
  }

  .ant-pagination-options-quick-jumper input:focus {
    background: #413f33 ;
    border-color: #8e9693;
  }

  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    background-color: transparent;
    border-color: transparent;
    color: #8e9693;
    line-height: 20px;
  }

  .ant-pagination-item-link {
    opacity: 1;
  }

  .ant-pagination-jump-prev .ant-pagination-jump-prev-custom-icon {
    opacity: 1;
  }

  .ant-pagination-prev {
    position: relative;
  }

  .ant-pagination-next {
    position: relative;
  }

  .ant-pagination-next:before {
    content: '';
    height: 26px;
    width: 26px;
    left: 0;
    position: absolute;
    background-image: url("../../../assets/LJ/ico/ico-arrow-full-right.png");
    background-position: 50%;
    background-repeat: no-repeat;
  }

  .ant-pagination-prev:before {
    content: '';
    height: 26px;
    width: 26px;
    left: 0;
    position: absolute;
    background-image: url("../../../assets/LJ/ico/ico-arrow-full-left.png");
    background-position: 50%;
    background-repeat: no-repeat;
  }

  .ant-pagination-prev:hover .ant-pagination-item-link,
  .ant-pagination-next:hover .ant-pagination-item-link {
    color: #ffffff !important;
    border-color: #253554 !important;
    background-color: #253554 !important;
  }

  .ant-pagination-prev:focus .ant-pagination-item-link,
  .ant-pagination-next:focus .ant-pagination-item-link {
    background-color: #0a1429;
    border-color: #0a1429;
    color: #8e9693;
  }

  .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis,
  .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
    color: #8e9693;
  }

  .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
  .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
    color: #8e9693;
  }

  .ant-pagination-item-active {
    background-color: #253554;
    border-color: #253554 !important;
  }

  .ant-pagination-item-active a {
    color: #fff;
  }

  .ant-pagination-item {
    height: 26px;
    width: 26px;
    min-width: 26px;
    line-height: 26px;
    background-color: #0a1429;
    border-color: #0a1429;
  }

  .ant-pagination-item:focus,
  .ant-pagination-item:hover {
    background-color: #253554;
    border-color: #253554;
  }

  .ant-pagination-item a {
    padding: 0px;
    color: #8e9693;
  }

  .ant-pagination-item-active {
    background-color: #253554 !important;
  }

  .ant-pagination-item-active a {
    color: #fff !important;
  }

  .ant-pagination-item-active:focus,
  .ant-pagination-item-active:hover {
    border-color: #253554;
  }

  .ant-pagination-item:focus a,
  .ant-pagination-item:hover a {
    color: #fff;
  }

  .ant-pagination-item-active:focus a,
  .ant-pagination-item-active:hover a {
    color: #fff;
  }

  .ant-pagination-prev,
  .ant-pagination-next,
  .ant-pagination-jump-prev,
  .ant-pagination-jump-next {
    height: 26px;
    width: 26px;
    min-width: 26px;
    line-height: 26px;
    background-color: #28302c;
    border-color: #0a1429;
  }

  .ant-pagination.mini .ant-pagination-jump-prev,
  .ant-pagination.mini .ant-pagination-jump-next {
    margin-right: 4px;
  }


  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: #181A19 ;
    border-color: #525653;
    color: #8e9693;
  }

  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: #162e26;
    color: #8e9693;
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background: #162e26;
    color: #8e9693;

  }

  .ant-select-arrow {
    color: #8e9693;
  }

  .ant-select .ant-select-clear {
    color: #8e9693;
    background: transparent;
    //color: #5daf86;
  }

  .ant-pagination-options .ant-select-item:hover {
    background-color: rgba(230, 247, 255, .8);
  }

  .ant-select-item-option-disabled {
    background: #323736 !important;
    color: #888888 !important;
  }

  .ant-popover-message-title {
    color: white;
  }

  .ant-popover-inner {
    //background-color: transparent;
    background: #242d29;
    padding: 10px;
    border: 2px solid #575f5c;
  }

  .noPadding .ant-popover-inner {
    padding: 0px;
    border-color: #575f5c;
  }

  .ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow {
    border-left-color: #575f5c;
    border-top-color: #575f5c;
  }

  .ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow, .ant-popover-placement-topLeft > .ant-popover-content > .ant-popover-arrow, .ant-popover-placement-topRight > .ant-popover-content > .ant-popover-arrow {
    border-right-color: #575f5c;
    border-bottom-color: #575f5c;
  }

  .ant-popover-inner-content {
    padding: 0;
  }

  .ant-popover-placement-rightTop > .ant-popover-content > .ant-popover-arrow {
    border-bottom-color: #575F5C;
    border-left-color: #575F5C;
  }

  .topSeach {
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      height: 30px;
    }
  }

  .ant-dropdown {
    color: #8e9693;
  }

  .ant-dropdown-menu {
    background-color: #413f33 ;
    padding: 0;
    box-shadow: 0 0 10px #0a1429;
  }

  .ant-dropdown-menu-item-divider {
    background-color: #0a1429;
    margin: 0;
  }

  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title {
    color: #fff;
  }

  .ant-dropdown-menu-item:hover,
  .ant-dropdown-menu-submenu-title:hover {
    color: #dfeeff;
    background-color: #162E26;
  }

  .ant-spin {
    color: #ff7b00;
    text-shadow: none;
  }

  .ant-spin-nested-loading > div > .ant-spin .ant-spin-text {
    text-shadow: none;
  }

  .ant-spin-dot-item {
    background-color: #ff7b00;
  }

  .ant-spin-blur::after {
    opacity: 0.1;
  }

  .ant-radio-button-wrapper-checked {
    background: #e2d6b0 !important;
    color: #692609 !important;
    font-weight: bolder;
  }

  .ant-slider-track {
    background-color: #33B34B;
  }

  .ant-slider-handle {
    border: solid 2px #33b34ba1;
    border-radius: 0px 0px 45% 45%;
  }

  .ant-slider-handle:focus {
    border-color: #33b34ba1;
    border-radius: 0px 0px 45% 45%;
    box-shadow: 0 0 0 5px rgb(26 196 50 / 20%);
  }

  .ant-slider-dot-active {
    border-color: #33b34ba1;
    border-radius: 0px 0px 45% 45%;
  }

  .ant-slider:hover .ant-slider-track {
    background-color: #52c41a;
  }

  .ant-slider-handle.ant-tooltip-open {
    border-color: #52c41a;
    border-radius: 0px 0px 45% 45%;
  }

  .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
    border-color: #52c41a;
    border-radius: 0px 0px 45% 45%;
  }

  .init_modal_style .ant-col {
    color: #a9abaa;
  }

  .ant-modal-body > div:first-child {
    padding: 20px 20px 0px !important;
  }

  .ruleItem:hover,
  .rule-active {
    color: #ffffff;
    background-color: #533e1a !important;
    border-left: 3px solid #939797;
  }
}


.disturbBox input[type='checkbox'].ant-checkbox-input {
  width: 14px !important;
  height: 14px !important;
}

.disturbBox .ant-checkbox-wrapper {
  color: #fff!important;
  font-size: 13px;
}

.disturbBox .ant-checkbox-inner {
  width: 16px !important;
  height: 16px !important;
}

.ant-table-striped .ant-pagination-options-size-changer.ant-select {
  margin: 0 8px !important;
}

.ant-table-striped .ant-select-selection-item,
.ant-table-striped .ant-pagination-options-quick-jumper {
  line-height: 34px !important;
}

.ant-table-pagination.ant-pagination {
  float: none !important;
  text-align: center !important;
}

.wisdom .ant-pagination-prev:before,
.wisdom .ant-pagination-next:before,
.wisdom .ant-pagination-item {
  background-color: #28302c;
  width: 26px;
  height: 24px;
  border-radius: 2px;
  border: none;
}

.wisdom .ant-pagination-item {
  background: #28302c !important;
}

.wisdom .ant-pagination-item-active {
  background: #095410 !important;
}

.wisdom .ant-pagination-item:hover {
  background: #39403d !important;
}

.ant-pagination-item,
.ant-pagination-prev {
  margin-right: 4px !important;
}

// .wisdom .ant-pagination-prev::before :hover, .wisdom .ant-pagination-next::before :hover,
.wisdom .groupBoxs {
  border: 1px solid #474c4b !important;
  margin-top: 12px !important;
}

.wisdom .groupBoxs .groupTitle {
  color: #fff !important;
  background-color: #323736 !important;
}

.wisdom .configurationBox .rowItem .lab {
  color: #a9abaa !important;
}

.wisdom .configurationBox .rowItem .item .absolute {
  border-right: 1px solid #757165 !important;
}

.wisdom li.ant-select-tree-treenode-disabled > span:not(.ant-select-tree-switcher),
li.ant-select-tree-treenode-disabled > .ant-select-tree-node-content-wrapper,
li.ant-select-tree-treenode-disabled > .ant-select-tree-node-content-wrapper span {
  color: rgba(226, 242, 255, 0.85) !important;
}

.ant-transfer-list {
  width: 339px!important;
  height: 260px!important;
  border: 2px solid #546a61!important;
}
.ant-transfer-list-header {
  color: rgba(255, 255, 255, 0.85)!important;
  background: #52665e!important;
  border-bottom: 1px solid #546a61!important;
}
.ant-transfer-list-content-item {
  color: #dddddd!important;
}
.ant-transfer-list-content-item:not(.ant-transfer-list-content-item-disabled):hover {
  background-color: #656464!important;
}
.ant-checkbox-indeterminate .ant-checkbox-inner::after{
  background-color:#00de40!important;
}


.wisdom .ant-input {
  padding: 4px 11px;
}
::-webkit-scrollbar {
  /*width: 5px;*/
  /*border-radius: 5px;*/
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background-color: #3a403d;
}