.HJ{
  .boxs {
    display: flex;
    flex-direction: column;
  }
  .statisticsBox {
    position: absolute;
    top: 10px;
    left: 30px;
    padding-right: 10px;
  }
  .trainTime {
    height: 54px;
    width: 278px;
    background: url("../../../../../../assets/HJ/receive/trainTime.gif") no-repeat center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
  }
  .cool .trainTime {
    background: url("../../../../../../assets/HJ/receive/trainTime.png") no-repeat center;
  }
  .trainTime .timeNum {
    width: 29px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 6px;
  }
  .trainTime .timeNum .num {
    height: 40px;
    font-size: 28px;
    line-height: 40px;
    overflow: hidden;
    display: flex;
    text-align: center;
    color: #dbe5fa;
  }
  .practiseBtn {
    padding: 2px 16px;
    border:1px solid rgb(4 90 198);
    margin-top: 20px;
    width: max-content;
    height: max-content;
    border-radius: 3px;
    cursor: pointer;
    color: #dbe5fa;
    box-shadow: inset 0 -10px 10px -10px rgba(12, 114, 226, .8);
  }
  .practiseBtn + .practiseBtn {
    margin-left: 10px;
  }
  .practiseBtn:hover {
    box-shadow: inset 0 10px 10px -10px rgba(12, 114, 226, .8);
  }
  .ZGbtns {
    padding: 0px 0px;
    height: 29px;
    margin: 4px 4px 10px 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ZGbtns .left {
    position: relative;
    width: 8px;
    height: 29px;
  }
  .ZGbtns .left .left-top{
    height: 19px;
    position: absolute;
    top: -2px;
    right: 5px;
    border-left: 1px solid #71cbff;
    transform: rotateZ(40deg);
  }
  .ZGbtns .left .left-bottom{
    height: 19px;
    position: absolute;
    bottom: -2px;
    right: 5px;
    border-left: 1px solid #71cbff;
    transform: rotate(-40deg);
  }
  .ZGbtns .center{
    border-top: 1px solid #71cbff;
    border-bottom: 1px solid #71cbff;
    width: 67px;
    height: 29px;
    font-weight: bold;
  }
  .ZGbtns .right {
    position: relative;
    width: 8px;
    height: 29px;
  }
  .ZGbtns .right .right-top{
    height: 19px;
    position: absolute;
    top: -2px;
    left: 5px;
    border-left: 1px solid #71cbff;
    transform: rotateZ(-40deg);
  }
  .ZGbtns .right .right-bottom{
    height: 19px;
    position: absolute;
    bottom: -2px;
    left: 5px;
    border-left: 1px solid #71cbff;
    transform: rotate(40deg);
  }
  .ZGbtns.on div {
    border-color: #e8a829!important;
    color: #e8a829!important;
  }
  .tabs {
    padding-top: 40px;
    flex-shrink: 0;
  }
  .tabs .tab{
    height: 54px;
    width: 186px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background:  url("../../../../../../assets/HJ/telexTrain/tab.png") no-repeat center;
    margin: 0 5px;
    font-weight: bold;
    font-size: 18px;
    transition: all 1s ;
  }
  .tabs .tab.on{
    background:  url("../../../../../../assets/HJ/telexTrain/tabActive.png") no-repeat center;
    color: #814200;
  }
  .letterbox{
    width: 700px;
    height: 220px;
    padding: 40px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    transition: all .5s;
    flex-shrink: 0;
  }
  .letterText {
    width: 172px;
    line-height: 1.3;
    font-size: 172px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    color: #d6e4ff;
    position: absolute;
    top: calc(25% + 10px);
  }
  .letter{
    min-width: 130px;
    height: 140px;
    background: url("../../../../../../assets/HJ/telexTrain/letter-bg.png") no-repeat center;
    font-size: 100px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    transition: all ;
    animation: letterA 1s;
  }
  .letter.on{
    background: url("../../../../../../assets/HJ/telexTrain/letter-bg-active.png") no-repeat center;
    opacity: 1;
  }
  .letter .img{
    opacity: .3;
    height: 70px;
  }
  .letter.on .img{
    opacity: 1;
  }
  .letter .key{
    font-weight: bolder;
    font-size: 40px;
    background-image: linear-gradient(0deg,#334d83 30%,#5d6477 50%);
    -webkit-background-clip: text;
    color: transparent;
  }
  .letter.on .key{
    background-image: linear-gradient(0deg,#6690e8 30%,#ffffff 50%);
  }
  .examKeyboardBox {
    height: 100%;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .examKeyboard {
    max-height: 100%;
    position: relative;
  }
  .examKeyboard .bg {
    height: 100%;
  }
  .examKeyboard .pilotLamp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
    height: 6%;
    position: absolute;
    left: 20%;
    top: 2%;
  }
  .examKeyboard .pilotLamp .gapLine {
    height: 100%;
    max-height: 20px;
    width: 1px;
    margin: 0 14%;
    background-image: linear-gradient(to top, transparent 0%, #4e88b5 50%, transparent 100%);
  }
  .examKeyboard .pilotLamp .pilot {
    height: 100%;
    max-height: 20px;
  }
  .examKeyboard .patGist {
    width: 100%;
    height: 80px;
    background: url("../../../../../../assets/HJ/exam/gistBg-c.png");
    position: relative;
    margin: 0 10px 9px 0;
  }
  .examKeyboard .patGist:before,
  .examKeyboard .patGist:after {
    content: '';
    height: 80px;
    position: absolute;
    top: 0;
    z-index: 9;
  }
  .examKeyboard .patGist:before {
    width: 120px;
    background: url("../../../../../../assets/HJ/exam/gistBg.png") no-repeat center;
    left: 0;
  }
  .examKeyboard .patGist:after {
    width: 30px;
    background: url("../../../../../../assets/HJ/exam/gistBg-r.png") no-repeat center;
    right: 0;
  }
  .examKeyboard .patGist .tit {
    width: 102px;
    color: #faaa42;
    font-weight: bolder;
    font-size: 15px;
    padding: 3% 15px;
    position: relative;
    z-index: 10;
  }
  .examKeyboard .patGist .gist {
    color: #fff;
    font-size: 13px;
    padding: 2.6% 15px 0;
    position: relative;
    z-index: 10;
  }
}
.HJJ{
  .boxs {
    display: flex;
    flex-direction: column;
  }
  .statisticsBox {
    position: absolute;
    top: 10px;
    left: 30px;
    padding-right: 10px;
  }
  .ZGbtns {
    padding: 0px 0px;
    height: 38px;
    width: 120px;
    margin: 4px 4px 10px 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #bfcde0;
    font-size: 18px;
    letter-spacing: 5px;
    text-align: center;
    background: url('../../../../../../assets/HJJ/telexTrain/btnBg.png');
  }
  .ZGbtns .center {
    font-weight: bold;
  }
  .on {
    color: #e9deb2 !important;
    background: url('../../../../../../assets/HJJ/telexTrain/btnBg-active.png');
  }
  .tabs {
    padding-top: 40px;
    flex-shrink: 0;
  }
  .tabs .tab {
    height: 54px;
    width: 186px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background: url('../../../../../../assets/HJJ/telexTrain/tab.png') no-repeat center;
    margin: 0 5px;
    font-weight: bold;
    font-size: 18px;
    transition: all 1s;
  }
  .tabs .tab.on {
    background: url('../../../../../../assets/HJJ/telexTrain/tabActive.png') no-repeat center;
    color: #814200;
  }
  .letterbox {
    width: 850px;
    height: 220px;
    padding: 40px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
    flex-shrink: 0;
  }
  .letterText {
    width: 172px;
    line-height: 1.3;
    font-size: 172px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    color: #d6e4ff;
    position: absolute;
    top: calc(25% + 10px);
  }
  .letter {
    min-width: 162px;
    height: 116px;
    background: url('../../../../../../assets/HJJ/receive/cardBG.png') no-repeat center;
    background-size: 100%;
    font-size: 100px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    transition: all;
    animation: letterA 1s;
    padding-bottom: 10px;
  }
  .letter.on {
    background: url('../../../../../../assets/HJJ/receive/cardBG-active.png') no-repeat center;
    opacity: 1;
  }
  .letter .img {
    opacity: 0.3;
    height: 70px;
  }
  .letter.on .img {
    opacity: 1;
  }
  .letter .key {
    font-weight: bolder;
    font-size: 40px;
    color: #2a3e50;
  }
  .letter.on .key {
    color: #e9deb2;
    /*background-image: linear-gradient(0deg,#6690e8 30%,#ffffff 50%);*/
  }
  .examKeyboardBox {
    height: 100%;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .examKeyboard {
    max-height: 100%;
    position: relative;
  }
  .examKeyboard .bg {
    height: 100%;
  }
  .examKeyboard .pilotLamp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
    height: 6%;
    position: absolute;
    left: 20%;
    top: 2%;
  }
  .examKeyboard .pilotLamp .gapLine {
    height: 100%;
    max-height: 20px;
    width: 1px;
    margin: 0 14%;
    background-image: linear-gradient(to top, transparent 0%, #4e88b5 50%, transparent 100%);
  }
  .examKeyboard .pilotLamp .pilot {
    height: 100%;
    max-height: 20px;
  }
  .examKeyboard .patGist {
    width: 100%;
    height: 80px;
    background: url('../../../../../../assets/HJJ/exam/gistBg-c.png');
    position: relative;
    margin: 0 10px 9px 0;
  }
  .examKeyboard .patGist:before,
  .examKeyboard .patGist:after {
    content: '';
    height: 80px;
    position: absolute;
    top: 0;
    z-index: 9;
  }
  .examKeyboard .patGist:before {
    width: 120px;
    background: url('../../../../../../assets/HJJ/exam/gistBg.png') no-repeat center;
    left: 0;
  }
  .examKeyboard .patGist:after {
    width: 30px;
    background: url('../../../../../../assets/HJJ/exam/gistBg-r.png') no-repeat center;
    right: 0;
  }
  .examKeyboard .patGist .tit {
    width: 102px;
    color: #faaa42;
    font-weight: bolder;
    font-size: 15px;
    padding: 3% 15px;
    position: relative;
    z-index: 10;
  }
  .examKeyboard .patGist .gist {
    color: #fff;
    font-size: 13px;
    padding: 2.6% 15px 0;
    position: relative;
    z-index: 10;
  }
  .keysBox {
    position: absolute;
    left: 6.3%;
    right: 6.3%;
    top: 10%;
    bottom: 8%;
  }
  .lineKeys {
    height: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
  }
  .lineKeys .keyBox {
    padding: 10px 8px;
    flex-shrink: 0;
  }
  .lineKeys .keys {
    padding: 5px 6px 10px 6px;
    background-image: radial-gradient(closest-side at 5px 5px, #516c82, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 90% 5px, #516c82, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 5px 90%, #0e1c39, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 90% 90%, #0e1c39, rgba(0, 0, 0, 0)),
    linear-gradient(0deg, #17202c, #516c82);
    box-shadow: 0 0 5px #37556d;
    border: 1px solid #091731;
    border-radius: 5px;
    position: relative;
    transition: all 0.1s;
  }
  .lineKeys .keys.activeKey {
    box-shadow: 0 0 10px #736d61;
    background-image: radial-gradient(closest-side at 5px 5px, #7a7366, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 90% 5px, #7a7366, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 5px 90%, #2d2418, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 90% 90%, #2d2418, rgba(0, 0, 0, 0)),
    linear-gradient(0deg, #3c2e1a, #6f6a5f);
    border: solid 1px #292116;
  }
  .lineKeys .keys.successKey {
    box-shadow: 0 0 10px #0a9a89;
    background-image: radial-gradient(closest-side at 5px 5px, #0ca77c, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 90% 5px, #0e9295, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 5px 90%, #023125, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 90% 90%, #023125, rgba(0, 0, 0, 0)),
    linear-gradient(0deg, #033c2c, #06938b);
    border-color: #03311d;
  }
  .lineKeys .keys.errorKey {
    box-shadow: 0 0 10px #ff0000;
    background-image: radial-gradient(closest-side at 5px 5px, #923033, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 90% 5px, #923033, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 5px 90%, #49120e, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 90% 90%, #49120e, rgba(0, 0, 0, 0)),
    linear-gradient(0deg, #6c1605, #931606);
    border-color: #310b09;
  }
  .lineKeys .keys .key {
    box-shadow: 0 0 10px #091731;
    height: 56px;
    width: 56px;
    font-weight: bold;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    font-size: 18px;
    background-image: linear-gradient(0deg, #30495f, #212f40);
    color: #d6e4ff;
    border: 1px solid #3d5f79;
  }
  .lineKeys .keys.activeKey .key {
    background-image: linear-gradient(0deg, #746e62, #383b3e);
    border-color: #726d60;
    color: #fbb354;
  }
  .lineKeys .keys.successKey .key {
    background-image: linear-gradient(0deg, #0aaeaf, #006666);
    border-color: #2f9596;
  }
  .lineKeys .keys.errorKey .key {
    background-image: linear-gradient(0deg, #420d0d, #b12525);
    border-color: #a13939;
  }
  .lineKeys .keys .key .cod {
    width: 76%;
    border-top: 2px solid #d6e4ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    margin-top: 5px;
  }
  .lineKeys .keys .key .co {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: #d6e4ff;
  }
  .lineKeys .keys .key .co[data='1'] {
    width: 8px;
    height: 2px;
  }
  .lineKeys .keys .key .co + .co {
    margin-left: 8px;
  }
}
.LJ{
  .boxs {
    display: flex;
    flex-direction: column;
  }
  .statisticsBox {
    position: absolute;
    top: 10px;
    left: 30px;
    padding-right: 10px;
  }
  .ZGbtns {
    padding: 0px 0px;
    height: 38px;
    width: 120px;
    margin: 4px 4px 10px 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    letter-spacing: 5px;
    text-align: center;
    background: url("../../../../../../assets/LJ/telexTrain/btnBg.png");
  }
  .ZGbtns .center{
    font-weight: bold;
  }
  .on {
    color: #e9deb2!important;
    background: url("../../../../../../assets/LJ/telexTrain/btnBg-active.png");
  }
  .tabs {
    padding-top: 40px;
    flex-shrink: 0;
  }
  .tabs .tab{
    height: 54px;
    width: 186px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background:  url("../../../../../../assets/LJ/telexTrain/tab.png") no-repeat center;
    margin: 0 5px;
    font-weight: bold;
    font-size: 18px;
    transition: all 1s ;
  }
  .tabs .tab.on{
    background:  url("../../../../../../assets/LJ/telexTrain/tabActive.png") no-repeat center;
    color: #814200;
  }
  .letterbox{
    width: 850px;
    height: 220px;
    padding: 40px 0;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    transition: all .5s;
    flex-shrink: 0;
  }
  .letter{
    min-width: 162px;
    height: 116px;
    background: url("../../../../../../assets/LJ/receive/cardBG.png") no-repeat center;
    background-size: 100%;
    font-size: 100px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    transition: all ;
    animation: letterA 1s;
    padding-bottom: 10px;
  }
  .letter.on{
    background: url("../../../../../../assets/LJ/receive/cardBG-active.png") no-repeat center;
    opacity: 1;
  }
  .letter .img{
    opacity: .3;
    height: 70px;
  }
  .letter.on .img{
    opacity: 1;
  }
  .letter .key{
    font-weight: bolder;
    font-size: 40px;
    color:#50655b;
    height: 90px;
    line-height: 90px;
  }
  .letter .vals{
    width: 40%;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
  }
  .letter .vals .v {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
  }
  .letter .vals .v[data="1"]{
    width: 8px;
  }
  .letter .vals .v + .v {
    margin-left: 4px;
  }
  .letter.on .key{
    color: #e9deb2;
    /*background-image: linear-gradient(0deg,#6690e8 30%,#ffffff 50%);*/
  }
  .examKeyboardBox {
    height: 100%;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .examKeyboard {
    max-height: 100%;
    position: relative;
  }
  .examKeyboard .bg {
    height: 100%;
  }
  .examKeyboard .pilotLamp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
    height: 6%;
    position: absolute;
    left: 20%;
    top: 2%;
  }
  .examKeyboard .pilotLamp .gapLine {
    height: 100%;
    max-height: 20px;
    width: 1px;
    margin: 0 14%;
    background-image: linear-gradient(to top, transparent 0%, #4e88b5 50%, transparent 100%);
  }
  .examKeyboard .pilotLamp .pilot {
    height: 100%;
    max-height: 20px;
  }
  .examKeyboard .patGist {
    width: 100%;
    height: 80px;
    background: url("../../../../../../assets/LJ/exam/gistBg-c.png");
    position: relative;
    margin: 0 10px 9px 0;
  }
  .examKeyboard .patGist:before,
  .examKeyboard .patGist:after {
    content: '';
    height: 80px;
    position: absolute;
    top: 0;
    z-index: 9;
  }
  .examKeyboard .patGist:before {
    width: 120px;
    background: url("../../../../../../assets/LJ/exam/gistBg.png") no-repeat center;
    left: 0;
  }
  .examKeyboard .patGist:after {
    width: 30px;
    background: url("../../../../../../assets/LJ/exam/gistBg-r.png") no-repeat center;
    right: 0;
  }
  .examKeyboard .patGist .tit {
    width: 102px;
    color: #faaa42;
    font-weight: bolder;
    font-size: 15px;
    padding: 3% 15px;
    position: relative;
    z-index: 10;
  }
  .examKeyboard .patGist .gist {
    color: #fff;
    font-size: 13px;
    padding: 2.6% 15px 0;
    position: relative;
    z-index: 10;
  }
  .keysBox {
    position: absolute;
    left: 6.3%;
    right: 6.3%;
    top: 10%;
    bottom: 8%;
  }
  .lineKeys {
    height: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
  }
  .lineKeys .keyBox {
    padding: 10px 8px;
    flex-shrink: 0;
  }
  .lineKeys .keys {
    padding: 5px 6px 10px 6px;
    background-image: radial-gradient(closest-side at 5px 5px, #567967, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 90% 5px, #567967, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 5px 90%, #171b1a, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 90% 90%, #171b1a, rgba(0, 0, 0, 0)), linear-gradient(0deg, #202522, #505f5b);
    box-shadow: 0 0 5px #40674a;
    border: 1px solid #181f1c;
    border-radius: 5px;
    position: relative;
    transition: all 0.1s;
  }
  .lineKeys .keys.activeKey {
    box-shadow: 0 0 10px #736d61;
    background-image: radial-gradient(closest-side at 5px 5px, #7a7366, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 90% 5px, #7a7366, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 5px 90%, #2d2418, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 90% 90%, #2d2418, rgba(0, 0, 0, 0)), linear-gradient(0deg, #3c2e1a, #6f6a5f);
    border: solid 1px #292116;
  }
  .lineKeys .keys.successKey {
    box-shadow: 0 0 10px #0a9a89;
    background-image: radial-gradient(closest-side at 5px 5px, #0ca77c,rgba(0,0,0,0)),
    radial-gradient(closest-side at 90% 5px, #0e9295,rgba(0,0,0,0)),
    radial-gradient(closest-side at 5px 90%, #023125,rgba(0,0,0,0)),
    radial-gradient(closest-side at 90% 90%, #023125,rgba(0,0,0,0)),
    linear-gradient(0deg,#033c2c,#06938b);
    border-color: #03311d;
  }
  .lineKeys .keys.errorKey {
    box-shadow: 0 0 10px #ff0000;
    background-image: radial-gradient(closest-side at 5px 5px, #923033,rgba(0,0,0,0)),
    radial-gradient(closest-side at 90% 5px, #923033,rgba(0,0,0,0)),
    radial-gradient(closest-side at 5px 90%, #49120e,rgba(0,0,0,0)),
    radial-gradient(closest-side at 90% 90%, #49120e,rgba(0,0,0,0)),
    linear-gradient(0deg,#6c1605,#931606);
    border-color: #310b09;
  }
  .lineKeys .keys .key {
    box-shadow: 0 0 10px #34403a;
    height: 56px;
    width: 56px;
    font-weight: bold;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    font-size: 18px;
    background-image: linear-gradient(0deg, #3b4c45, #232f2a);
    color: #ffffff;
    border: 1px solid #545f50;
  }
  .lineKeys .keys.activeKey .key {
    background-image: linear-gradient(0deg, #746e62, #383e38);
    border-color: #726d60;
    color: #fbb354;
  }
  .lineKeys .keys.successKey .key {
    background-image: linear-gradient(0deg,#0aaeaf,#006666);
    border-color: #2f9596;
  }
  .lineKeys .keys.errorKey .key {
    background-image: linear-gradient(0deg,#420d0d,#b12525);
    border-color: #a13939;
  }
  .lineKeys .keys .key .cod {
    width: 76%;
    border-top: 2px solid #d6e4ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    margin-top: 5px;
  }
  .lineKeys .keys .key .co {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: #d6e4ff;
  }
  .lineKeys .keys .key .co[data='1'] {
    width: 8px;
    height: 2px;
  }
  .lineKeys .keys .key .co + .co {
    margin-left: 8px;
  }
}
.HJ,.GD{
  .keysBox {
    position: absolute;
    left: 6.3%;
    right: 6.3%;
    top: 10%;
    bottom: 8%;
  }
  .lineKeys {
    height: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
  }
  .lineKeys .keyBox {
    padding: 10px 8px;
    flex-shrink: 0;
  }
  .lineKeys .keys {
    padding: 5px 6px 10px 6px;
    background-image: radial-gradient(closest-side at 5px 5px, #466897, rgba(0, 0, 0, 0)),
    radial-gradient(closest-side at 90% 5px, #466897, rgba(0, 0, 0, 0)),
    radial-gradient(closest-side at 5px 90%, #0e1c39, rgba(0, 0, 0, 0)),
    radial-gradient(closest-side at 90% 90%, #0e1c39, rgba(0, 0, 0, 0)),
    linear-gradient(0deg, #152443, #385887);
    box-shadow: 0 0 5px #1553c4;
    border: 1px solid #091731;
    border-radius: 5px;
    position: relative;
    transition: all 0.1s;
  }
  .lineKeys .keys.activeKey {
    box-shadow: 0 0 10px #0054ff;
    background-image: radial-gradient(closest-side at 5px 5px, #0e4d95,rgba(0,0,0,0)),
    radial-gradient(closest-side at 90% 5px, #0e4d95,rgba(0,0,0,0)),
    radial-gradient(closest-side at 5px 90%, #031e51,rgba(0,0,0,0)),
    radial-gradient(closest-side at 90% 90%, #031e51,rgba(0,0,0,0)),
    linear-gradient(0deg,#05266c,#063f93);
  }
  .lineKeys .keys.successKey {
    box-shadow: 0 0 10px #0a9a89;
    background-image: radial-gradient(closest-side at 5px 5px, #0ca77c,rgba(0,0,0,0)),
    radial-gradient(closest-side at 90% 5px, #0e9295,rgba(0,0,0,0)),
    radial-gradient(closest-side at 5px 90%, #023125,rgba(0,0,0,0)),
    radial-gradient(closest-side at 90% 90%, #023125,rgba(0,0,0,0)),
    linear-gradient(0deg,#033c2c,#06938b);
    border-color: #03311d;
  }
  .lineKeys .keys.errorKey {
    box-shadow: 0 0 10px #ff0000;
    background-image: radial-gradient(closest-side at 5px 5px, #923033,rgba(0,0,0,0)),
    radial-gradient(closest-side at 90% 5px, #923033,rgba(0,0,0,0)),
    radial-gradient(closest-side at 5px 90%, #49120e,rgba(0,0,0,0)),
    radial-gradient(closest-side at 90% 90%, #49120e,rgba(0,0,0,0)),
    linear-gradient(0deg,#6c1605,#931606);
    border-color: #310b09;
  }
  .lineKeys .keys .key {
    box-shadow: 0 0 10px #091731;
    height: 56px;
    width: 56px;
    color: #d6e4ff;
    font-weight: bold;
    border: 1px solid #365086;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(0deg, #203d6a, #0d1e42);
    border-radius: 5px;
    font-size: 18px;
  }
  .lineKeys .keys.activeKey .key {
    background-image: linear-gradient(0deg,#0060f3,#002166);
    border-color: #385081;
  }
  .lineKeys .keys.successKey .key {
    background-image: linear-gradient(0deg,#0aaeaf,#006666);
    border-color: #2f9596;
  }
  .lineKeys .keys.errorKey .key {
    background-image: linear-gradient(0deg,#420d0d,#b12525);
    border-color: #a13939;
  }
  .lineKeys .keys .key .cod {
    width: 76%;
    border-top: 2px solid #d6e4ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    margin-top: 5px;
  }
  .lineKeys .keys .key .co {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: #d6e4ff;
  }
  .lineKeys .keys .key .co[data='1'] {
    width: 8px;
    height: 2px;
  }
  .lineKeys .keys .key .co + .co {
    margin-left: 8px;
  }
  @media (max-width: 1380px) {
    .letterbox, .examKeyboardBox {
      transform: scale(.8);
    }
  }
  @media (max-width: 1150px) {
    .letterbox, .examKeyboardBox {
      transform: scale(.7);
    }
  }
}

.KJ{
  .boxs {
    display: flex;
    flex-direction: column;
  }
  .statisticsBox {
    position: absolute;
    top: 10px;
    left: 30px;
    padding-right: 10px;
  }
  .ZGbtns {
    padding: 0px 0px;
    height: 38px;
    width: 120px;
    margin: 4px 4px 10px 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    letter-spacing: 5px;
    text-align: center;
    background: url("../../../../../../assets/KJ/telexTrain/btnBg.png");
  }
  .ZGbtns .center{
    font-weight: bold;
  }
  .on {
    color: #e9deb2!important;
    background: url("../../../../../../assets/KJ/telexTrain/btnBg-active.png");
  }
  .tabs {
    padding-top: 40px;
    flex-shrink: 0;
  }
  .tabs .tab{
    height: 54px;
    width: 186px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background:  url("../../../../../../assets/KJ/telexTrain/tab.png") no-repeat center;
    margin: 0 5px;
    font-weight: bold;
    font-size: 18px;
    transition: all 1s ;
  }
  .tabs .tab.on{
    background:  url("../../../../../../assets/KJ/telexTrain/tabActive.png") no-repeat center;
    color: #814200;
  }
  .letterbox{
    width: 850px;
    height: 220px;
    padding: 40px 0;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    transition: all .5s;
    flex-shrink: 0;
  }
  .letter{
    min-width: 162px;
    height: 116px;
    background: url("../../../../../../assets/KJ/receive/cardBG.png") no-repeat center;
    background-size: 100%;
    font-size: 100px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    transition: all ;
    animation: letterA 1s;
    padding-bottom: 10px;
  }
  .letter.on{
    background: url("../../../../../../assets/KJ/receive/cardBG-active.png") no-repeat center;
    opacity: 1;
  }
  .letter .img{
    opacity: .3;
    height: 70px;
  }
  .letter.on .img{
    opacity: 1;
  }
  .letter .key{
    font-weight: bolder;
    font-size: 40px;
    color:#50655b;
    height: 90px;
    line-height: 90px;
  }
  .letter .vals{
    width: 40%;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
  }
  .letter .vals .v {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
  }
  .letter .vals .v[data="1"]{
    width: 8px;
  }
  .letter .vals .v + .v {
    margin-left: 4px;
  }
  .letter.on .key{
    color: #e9deb2;
    /*background-image: linear-gradient(0deg,#6690e8 30%,#ffffff 50%);*/
  }
  .examKeyboardBox {
    height: 100%;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .examKeyboard {
    max-height: 100%;
    position: relative;
  }
  .examKeyboard .bg {
    height: 100%;
  }
  .examKeyboard .pilotLamp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
    height: 6%;
    position: absolute;
    left: 20%;
    top: 2%;
  }
  .examKeyboard .pilotLamp .gapLine {
    height: 100%;
    max-height: 20px;
    width: 1px;
    margin: 0 14%;
    background-image: linear-gradient(to top, transparent 0%, #4e88b5 50%, transparent 100%);
  }
  .examKeyboard .pilotLamp .pilot {
    height: 100%;
    max-height: 20px;
  }
  .examKeyboard .patGist {
    width: 100%;
    height: 80px;
    background: url("../../../../../../assets/KJ/exam/gistBg-c.png");
    position: relative;
    margin: 0 10px 9px 0;
  }
  .examKeyboard .patGist:before,
  .examKeyboard .patGist:after {
    content: '';
    height: 80px;
    position: absolute;
    top: 0;
    z-index: 9;
  }
  .examKeyboard .patGist:before {
    width: 120px;
    background: url("../../../../../../assets/KJ/exam/gistBg.png") no-repeat center;
    left: 0;
  }
  .examKeyboard .patGist:after {
    width: 30px;
    background: url("../../../../../../assets/KJ/exam/gistBg-r.png") no-repeat center;
    right: 0;
  }
  .examKeyboard .patGist .tit {
    width: 102px;
    color: #faaa42;
    font-weight: bolder;
    font-size: 15px;
    padding: 3% 15px;
    position: relative;
    z-index: 10;
  }
  .examKeyboard .patGist .gist {
    color: #fff;
    font-size: 13px;
    padding: 2.6% 15px 0;
    position: relative;
    z-index: 10;
  }
  .keysBox {
    position: absolute;
    left: 6.3%;
    right: 6.3%;
    top: 10%;
    bottom: 8%;
  }
  .lineKeys {
    height: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
  }
  .lineKeys .keyBox {
    padding: 10px 8px;
    flex-shrink: 0;
  }
  .lineKeys .keys {
    padding: 5px 6px 10px 6px;
    background-image: radial-gradient(closest-side at 5px 5px, #466897, rgba(0, 0, 0, 0)),
    radial-gradient(closest-side at 90% 5px, #466897, rgba(0, 0, 0, 0)),
    radial-gradient(closest-side at 5px 90%, #0e1c39, rgba(0, 0, 0, 0)),
    radial-gradient(closest-side at 90% 90%, #0e1c39, rgba(0, 0, 0, 0)),
    linear-gradient(0deg, #152443, #385887);
    box-shadow: 0 0 5px #1553c4;
    border: 1px solid #091731;
    border-radius: 5px;
    position: relative;
    transition: all 0.1s;
  }
  .lineKeys .keys.activeKey {
    box-shadow: 0 0 10px #736d61;
    background-image: radial-gradient(closest-side at 5px 5px, #7a7366, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 90% 5px, #7a7366, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 5px 90%, #2d2418, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 90% 90%, #2d2418, rgba(0, 0, 0, 0)), linear-gradient(0deg, #3c2e1a, #6f6a5f);
    border: solid 1px #292116;
  }
  .lineKeys .keys.successKey {
    box-shadow: 0 0 10px #0a9a89;
    background-image: radial-gradient(closest-side at 5px 5px, #0ca77c,rgba(0,0,0,0)),
    radial-gradient(closest-side at 90% 5px, #0e9295,rgba(0,0,0,0)),
    radial-gradient(closest-side at 5px 90%, #023125,rgba(0,0,0,0)),
    radial-gradient(closest-side at 90% 90%, #023125,rgba(0,0,0,0)),
    linear-gradient(0deg,#033c2c,#06938b);
    border-color: #03311d;
  }
  .lineKeys .keys.errorKey {
    box-shadow: 0 0 10px #ff0000;
    background-image: radial-gradient(closest-side at 5px 5px, #923033,rgba(0,0,0,0)),
    radial-gradient(closest-side at 90% 5px, #923033,rgba(0,0,0,0)),
    radial-gradient(closest-side at 5px 90%, #49120e,rgba(0,0,0,0)),
    radial-gradient(closest-side at 90% 90%, #49120e,rgba(0,0,0,0)),
    linear-gradient(0deg,#6c1605,#931606);
    border-color: #310b09;
  }
  .lineKeys .keys .key {
    box-shadow: 0 0 10px #091731;
    height: 56px;
    width: 56px;
    color: #d6e4ff;
    font-weight: bold;
    border: 1px solid #365086;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(0deg, #203d6a, #0d1e42);
    border-radius: 5px;
    font-size: 18px;
  }
  .lineKeys .keys.activeKey .key {
    background-image: linear-gradient(0deg, #746e62, #383e38);
    border-color: #726d60;
    color: #fbb354;
  }
  .lineKeys .keys.successKey .key {
    background-image: linear-gradient(0deg,#0aaeaf,#006666);
    border-color: #2f9596;
  }
  .lineKeys .keys.errorKey .key {
    background-image: linear-gradient(0deg,#420d0d,#b12525);
    border-color: #a13939;
  }
  .lineKeys .keys .key .cod {
    width: 76%;
    border-top: 2px solid #d6e4ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    margin-top: 5px;
  }
  .lineKeys .keys .key .co {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: #d6e4ff;
  }
  .lineKeys .keys .key .co[data='1'] {
    width: 8px;
    height: 2px;
  }
  .lineKeys .keys .key .co + .co {
    margin-left: 8px;
  }
}