@import "../../../../common/styles/KJ/colorAll";
.HJ{
  .grouping_content {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .configurationBox {
    padding: 10px 20px 20px;
    color: #fff;
  }
  .configurationBox .rowItem {
    padding: 8px 0;
    display: flex;
    align-items: center;
  }
  .configurationBox .rowItem.title {
    padding: 16px 0 0;
  }
  .configurationBox .rowItem .lab {
    width: 100px;
    flex-shrink: 0;
    font-size: 13px;
    color: #7b90af;
    text-align: right;
  }
  .configurationBox .rowItem .item {
    font-size: 13px;
    color: #7b90af;
    width: 120px;
    text-align: center;
  }
  .configurationBox .rowItem .item + .item {
    margin-left: 30px;
  }
  .configurationBox .rowItem .item .absolute {
    left: 0;
    top: 0;
    line-height: 32px;
    z-index: 9;
    padding: 0 8px;
    font-size: 12px;
    color: #7b90af;
    border-right: 1px solid #354971;
  }
  .configurationBox .rowItem.mini {
    padding-left: 6px;
  }
  .configurationBox .rowItem.mini .lab {
    width: 86px;
  }
  .configurationBox .rowItem.mini .item {
    width: 120px;
    margin-left: 12px;
  }
  .configurationBox .rowItem.mini .item .close {
    display: flex;
    margin-top: -7px;
    color: #d11d1d;
    position: absolute;
    right: -24px;
    top: 50%;
    cursor: pointer;
  }
  .configurationBox .rowItem .msg {
    height: 24px;
    font-size: 12px;
    color: #f8cf6f;
    display: flex;
    align-items: center;
    padding: 0 8px;
    background-color: #374a63;
  }
  .groupBoxs {
    position: relative;
    border: 1px solid #3d586f;
    margin-top: 20px;
    padding-bottom: 8px;
  }
  .groupBoxs .groupTitle {
    font-size: 13px;
    color: #bbcdef;
    line-height: 20px;
    padding: 0 10px;
    background-color: #2e4559;
    position: absolute;
    left: 10px;
    top: -10px;
  }
  .auditionBtn {
    background-color: #38556d;
    line-height: 20px;
    flex-shrink: 0;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 20px;
  }


  //成绩弹框样式

  .achievementMasking {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(3, 19, 47, .9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
  }

  .achievement {
    min-width: 1220px;
    width: 100%;
    min-height: 302px;
  }

  .achievement > .cont {
    width: 90%;
    margin: 0 auto;
    position: relative;
    background-image: linear-gradient(to left,rgba(0,0,0,0),#0a2149 15% 85%,rgba(0,0,0,0));

  }
  .achievement > .cont:before{
    content: '';
    position: absolute;
    top: 0px;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to left,rgba(0,0,0,0),#3f5a90,rgba(0,0,0,0));
  }
  .achievement > .cont:after{
    content: '';
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to left,rgba(0,0,0,0),#3f5a90,rgba(0,0,0,0));
  }

  .achievement .dataBox {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
  }

  .achievement .resTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
  }

  .achievement .resClose {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .achievement .resClose .close {
    width: 31px;
    height: 31px;
    border: 2px solid #7b90af;
    border-radius: 50%;
    background: url("../../../../assets/HJ/ico/ico-clear.png") no-repeat center;
    cursor: pointer;
    position: relative;
  }
  .achievement .resClose .closeInfo {
    position: relative;
  }

  .achievement .resClose .close:hover {
    border-color: #6ebdff;
    background: url("../../../../assets/HJ/ico/ico-clear-1.png") no-repeat center;
    animation: rotate 0.4s linear;
  }

  .achievement .resClose .closeInfo:before {
    content: '';
    width: 1px;
    height: 30px;
    background: url("../../../../assets/HJ/ico/ico-lone.png");
    position: absolute;
    top: -32px;
    left: 15px;
  }

  .achievement .splitLine {
    width: 10%;
    min-width: 120px;
    max-width: 160px;
    background: url("../../../../assets/HJ/train/res-slash.png") no-repeat center;
  }

  .achievement .desc {
    color: #e2f2ff;
    font-size: 14px;
    line-height: 20px;
  }
  .resLeft,
  .resRight {
    max-width: 420px;
    min-width: 360px;
  }

  .resLeft .top {
    height: 200px;
    background: none;
    text-align: center;
    position: relative;
  }
  .resLeft .top img {
    width: 100%;
  }
  .resLeft .top .score {
    width: 100%;
    font-weight: bolder;
    font-size: 60px;
    line-height: 1;
    background-image: linear-gradient(to bottom, #b3c6e8, #5d6572);
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    top: 40px;
    left: 0;
  }
  .resLeft .top .score.superb {
    background-image: linear-gradient(to bottom, #e0bd19, #d36b1e);
    -webkit-background-clip: text;
    color: transparent;
  }
  .resLeft .top .score.suffice {
    background-image: linear-gradient(to bottom, #cdc370, #d38c1e);
    -webkit-background-clip: text;
    color: transparent;
  }

  .resLeft .bottom {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .resGroup {
    display: flex;
    align-items: center;
  }

  .resGroup .cont {
    padding-left: 16px;
  }

  .resGroup .num {
    font-size: 24px;
    font-weight: bolder;
    line-height: 32px;
    background-image: linear-gradient(to bottom, #cdc370, #d38c1e);
    -webkit-background-clip: text;
    color: transparent;
    display: flex;
    align-items: center;
  }

  .resRight {
    padding-left: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 300px;
    flex-direction: column;
  }

  .resTextItem {
    width: 100%;
    max-width: 324px;
    height: 38px;
    padding: 0 10px;
    background: url("../../../../assets/HJ/train/res-text-bg.png") no-repeat center left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .resTextItem + .resTextItem {
    margin-top: 22px;
  }

  .resTextItem:before {
    content: '';
    width: 16px;
    height: 19px;
    background: url("../../../../assets/HJ/train/res-lab.png") no-repeat;
    position: absolute;
    top: 9px;
    left: -32px;
  }

  .resTextItem .num {
    width: 36%;
    flex-shrink: 0;
    color: #6ebdff;
    font-weight: bolder;
    font-size: 24px;
    font-style: italic;
  }

}
.HJJ{
  .grouping_content {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .createDrillBtn {
    width: 96px;
    height: 30px;
    color: #e2f2ff;
    font-size: 15px;
    text-align: center;
    line-height: 28px;
    /*background-image: linear-gradient(#6cebfc, #006ea4);*/
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background-image: linear-gradient(#70a3b8, #4c7595);
  }
  .createDrillBtn.loadingBtn {
    cursor: no-drop;
    opacity: 0.8;
  }
  .configurationBox {
    padding: 10px 20px 20px;
    color: #fff;
  }
  .configurationBox .rowItem {
    padding: 8px 0;
    display: flex;
    align-items: center;
  }
  .configurationBox .rowItem.title {
    padding: 16px 0 0;
  }
  .configurationBox .rowItem .lab {
    width: 100px;
    flex-shrink: 0;
    font-size: 13px;
    color: #7b90af;
    text-align: right;
  }
  .configurationBox .rowItem .item {
    font-size: 13px;
    color: #7b90af;
    width: 120px;
    text-align: center;
  }
  .configurationBox .rowItem .item + .item {
    margin-left: 30px;
  }
  .configurationBox .rowItem .item .absolute {
    left: 0;
    top: 0;
    line-height: 32px;
    z-index: 9;
    padding: 0 8px;
    font-size: 12px;
    color: #7b90af;
    border-right: 1px solid #354971;
  }
  .configurationBox .rowItem.mini {
    padding-left: 6px;
  }
  .configurationBox .rowItem.mini .lab {
    width: 86px;
  }
  .configurationBox .rowItem.mini .item {
    width: 120px;
    margin-left: 12px;
  }
  .configurationBox .rowItem.mini .item .close {
    display: flex;
    margin-top: -7px;
    color: #d11d1d;
    position: absolute;
    right: -24px;
    top: 50%;
    cursor: pointer;
  }
  .configurationBox .rowItem .msg {
    height: 24px;
    font-size: 12px;
    color: #f8cf6f;
    display: flex;
    align-items: center;
    padding: 0 8px;
    background-color: #374a63;
  }
  .groupBoxs {
    position: relative;
    border: 1px solid #3d586f;
    margin-top: 20px;
    padding-bottom: 8px;
  }
  .groupBoxs .groupTitle {
    font-size: 13px;
    color: #bbcdef;
    line-height: 20px;
    padding: 0 10px;
    background-color: #2e4559;
    position: absolute;
    left: 10px;
    top: -10px;
  }
  .auditionBtn {
    background-color: #38556d;
    line-height: 20px;
    flex-shrink: 0;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 20px;
  }


  //成绩弹框样式
  .achievementMasking {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(23, 34, 41, .9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
  }
  .achievement {
    min-width: 1220px;
    width: 100%;
    min-height: 302px;
  }
  .top_all_box{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 150px;
  }
  .achievement .top_all_box .tab_top_box{
    position: absolute;
    top: -43px;
    color:#ffae00 ;
    text-align: center;
    font-size: 64px;
    background: url("../../../../assets/HJJ/postTrain/topBox-after.png");
    background-size: 100% 100%;
    background-position: 15px;
    height: 179px;
    width: 685px;
    padding-top: 20px;
    text-shadow: 0px 0px 2px #e9deb2,0px 0px 2px #e9deb2,0px 0px 2px #e9deb2,0px 0px 2px #e9deb2;
  }
  .achievement .center_box{
    display: flex;
    position: absolute;
    top: 85px;
    width: 700px;
    align-items: center;
    justify-content: center;
    padding-left: 200px;

  }
  .achievement .center_box .box{
    width: 300px;
    position: relative;
  }
  .achievement .center_box .box:first-child:before{
    position: absolute;
    content: "";
    background: url("../../../../assets/HJJ/postTrain/check.png");
    width: 42px;
    height: 42px;
    left: -50px;
  }
  .achievement .center_box .box:last-child:before{
    position: absolute;
    content: "";
    background: url("../../../../assets/HJJ/postTrain/time.png");
    width: 42px;
    height: 42px;
    left: -50px;
  }
  .achievement .center_box .box div:first-child{
    color: #84929f;
    font-size: 12px;
  }
  .achievement .center_box .box div:last-child{
    color: #e9deb2;
    font-size: 20px;
    font-weight: bold;
  }

  .achievement .bottom_box{
    /* position: absolute;
    top: 200px; */
    margin-bottom: 20px;
  }
  .achievement .bottom_box .tab_top{
    background: url("../../../../assets/HJJ/postTrain/makTabBottom.png");
    width: 700px;
    height: 42px;
    background-size: 100% 100%;
    display: flex;
    padding: 5px 10px;
  }
  .achievement .bottom_box .tab_top .tab{
    width: 33.33%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #bfcde0;
  }

  .achievement .bottom_box .tab_top .tab:nth-child(2){
    border-right: 1px solid #425668;
    border-left: 1px solid #425668;
  }
  .achievement .bottom_box .bottom_box{
    background: #617d93;
    width: 700px;
    height: 42px;
    display: flex;
    padding: 5px 10px;
  }
  .achievement .bottom_box .bottom_box .tab{
    width: 33.33%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: #e9deb2;
    font-weight: bold;
  }
  .achievement > .cont {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: url("../../../../assets/HJJ/postTrain/maskBg.png")no-repeat 0 0/100% 100%;

  }
  .achievement .dataBox {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  .achievement .resTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
  }
  .achievement .resClose {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .achievement .resClose .close {
    width: 31px;
    height: 31px;
    border: 2px solid #7b90af;
    border-radius: 50%;
    background: url("../../../../assets/HJJ/ico/ico-clear.png") no-repeat center;
    cursor: pointer;
    position: relative;
  }
  .achievement .resClose .closeInfo {
    position: relative;
  }
  .achievement .resClose .close:hover {
    border-color: #6ebdff;
    background: url("../../../../assets/HJJ/ico/ico-clear-1.png") no-repeat center;
    animation: rotate 0.4s linear;
  }
  .achievement .resClose .closeInfo:before {
    content: '';
    width: 1px;
    height: 30px;
    background: url("../../../../assets/HJJ/ico/ico-lone.png");
    position: absolute;
    top: -32px;
    left: 15px;
  }
  .achievement .splitLine {
    width: 10%;
    min-width: 120px;
    max-width: 160px;
    background: url("../../../../assets/HJJ/train/res-slash.png") no-repeat center;
  }
  .achievement .desc {
    color: #e2f2ff;
    font-size: 14px;
    line-height: 20px;
  }
  .resLeft,
  .resRight {
    width: 700px;
    position: relative;
  }
  .resLeft .top {
    height: 200px;
    background: none;
    text-align: center;
    position: relative;
  }
  .resLeft .top img {
    width: 100%;
  }
  .resLeft .top .score {
    width: 100%;
    font-weight: bolder;
    font-size: 60px;
    line-height: 1;
    background-image: linear-gradient(to bottom, #b3c6e8, #5d6572);
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    top: 40px;
    left: 0;
  }
  .resLeft .top .score.superb {
    background-image: linear-gradient(to bottom, #e0bd19, #d36b1e);
    -webkit-background-clip: text;
    color: transparent;
  }
  .resLeft .top .score.suffice {
    background-image: linear-gradient(to bottom, #cdc370, #d38c1e);
    -webkit-background-clip: text;
    color: transparent;
  }
  .resLeft .bottom {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  .resGroup {
    display: flex;
    align-items: center;
  }
  .resGroup .cont {
    padding-left: 16px;
  }
  .resGroup .num {
    font-size: 24px;
    font-weight: bolder;
    line-height: 32px;
    background-image: linear-gradient(to bottom, #cdc370, #d38c1e);
    -webkit-background-clip: text;
    color: transparent;
    display: flex;
    align-items: center;
  }
  .resRight {
    padding-left: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 300px;
    flex-direction: column;
  }
  .resTextItem {
    width: 100%;
    max-width: 324px;
    height: 38px;
    padding: 0 10px;
    background: url("../../../../assets/HJJ/train/res-text-bg.png") no-repeat center left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .resTextItem + .resTextItem {
    margin-top: 22px;
  }
  .resTextItem:before {
    content: '';
    width: 16px;
    height: 19px;
    background: url("../../../../assets/HJJ/train/res-lab.png") no-repeat;
    position: absolute;
    top: 9px;
    left: -32px;
  }
  .resTextItem .num {
    width: 36%;
    flex-shrink: 0;
    color: #6ebdff;
    font-weight: bolder;
    font-size: 24px;
    font-style: italic;
  }
}
.LJ{
  /deep/.ant-checkbox-disabled + span {
    color: rgba(255,255,255,0.6);
  }
  .grouping_content {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .configurationBox {
    padding: 10px 20px 20px;
    color: #fff;
  }
  .configurationBox .rowItem {
    padding: 8px 0;
    display: flex;
    align-items: center;
  }
  .configurationBox .rowItem.title {
    padding: 16px 0 0;
  }
  .configurationBox .rowItem .lab {
    width: 100px;
    flex-shrink: 0;
    font-size: 13px;
    color: #a9abaa;
    text-align: right;
  }
  .configurationBox .rowItem .item {
    font-size: 13px;
    color: #a9abaa;
    width: 120px;
    text-align: center;
  }
  .configurationBox .rowItem .item + .item {
    margin-left: 30px;
  }
  .configurationBox .rowItem .item .absolute {
    left: 0;
    top: 0;
    line-height: 32px;
    z-index: 9;
    padding: 0 8px;
    font-size: 12px;
    color: #a9abaa;
    border-right: 1px solid #26332e;
  }
  .configurationBox .rowItem.mini .lab {
    width: 86px;
  }
  .configurationBox .rowItem.mini .item {
    width: 120px;
    margin-left: 12px;
  }
  .configurationBox .rowItem.mini .item:last-child {
    margin-right: 12px;
  }
  .configurationBox .rowItem.mini .item .close {
    display: flex;
    margin-top: -7px;
    color: #d11d1d;
    position: absolute;
    right: -35px;
    top: 50%;
    cursor: pointer;
  }
  .configurationBox .rowItem .msg {
    height: 24px;
    font-size: 12px;
    color: #f8cf6f;
    display: flex;
    align-items: center;
    padding: 0 8px;
    background-color: #162520;
  }
  .groupBoxs {
    position: relative;
    border: 1px solid #3d586f;
    margin-top: 20px;
    padding-bottom: 8px;
  }
  .groupBoxs .groupTitle {
    font-size: 13px;
    color: #bbcdef;
    line-height: 20px;
    padding: 0 10px;
    background-color: #2e4559;
    position: absolute;
    left: 10px;
    top: -10px;
  }
  .auditionBtn {
    background-color: #0f7151;
    color: #ffffff;
    line-height: 20px;
    flex-shrink: 0;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 20px;
  }

  //成绩弹框样式
  .achievementMasking {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10 17 14 / 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
  }

  .achievement {
    min-width: 1220px;
    width: 100%;
    min-height: 302px;
  }
  .top_all_box{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 150px;
  }

  .achievement .top_all_box .tab_top_box{
    position: absolute;
    top: -43px;
    color:#ffae00 ;
    text-align: center;
    font-size: 64px;
    background: url("../../../../assets/LJ/postTrain/topBox-after.png");
    background-size: 100% 100%;
    background-position: 15px;
    height: 179px;
    width: 685px;
    padding-top: 20px;
    text-shadow: 0px 0px 2px #e9deb2,0px 0px 2px #e9deb2,0px 0px 2px #e9deb2,0px 0px 2px #e9deb2;
  }
  .achievement .center_box{
    display: flex;
    position: absolute;
    top: 85px;
    width: 700px;
    align-items: center;
    justify-content: center;
    padding-left: 200px;

  }
  .achievement .center_box .box{
    width: 300px;
    position: relative;
  }
  .achievement .center_box .box:first-child:before{
    position: absolute;
    content: "";
    background: url("../../../../assets/LJ/postTrain/check.png");
    width: 42px;
    height: 42px;
    left: -50px;
  }
  .achievement .center_box .box:last-child:before{
    position: absolute;
    content: "";
    background: url("../../../../assets/LJ/postTrain/time.png");
    width: 42px;
    height: 42px;
    left: -50px;
  }
  .achievement .center_box .box div:first-child{
    color: #a9abaa;
    font-size: 12px;
  }
  .achievement .center_box .box div:last-child{
    color: #e9deb2;
    font-size: 20px;
    font-weight: bold;
  }

  .achievement .bottom_box{
    /* position: absolute;
    top: 200px; */
    margin-bottom: 20px;
  }
  .achievement .bottom_box .tab_top{
    background: url("../../../../assets/LJ/postTrain/makTabBottom.png");
    width: 700px;
    height: 42px;
    background-size: 100% 100%;
    display: flex;
    padding: 5px 10px;
  }
  .achievement .bottom_box .tab_top .tab{
    width: 33.33%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
  }

  .achievement .bottom_box .tab_top .tab:nth-child(2){
    border-right: 1px solid #525b59;
    border-left: 1px solid #525b59;
  }
  .achievement .bottom_box .bottom_box{
    background: #183028;
    width: 700px;
    height: 42px;
    display: flex;
    padding: 5px 10px;
  }
  .achievement .bottom_box .bottom_box .tab{
    width: 33.33%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: #e9deb2;
    font-weight: bold;
  }


  .achievement > .cont {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: url("../../../../assets/LJ/postTrain/maskBg.png")no-repeat 0 0/100% 100%;

  }

  .achievement .dataBox {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .achievement .resTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
  }

  .achievement .resClose {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .achievement .resClose .close {
    width: 31px;
    height: 31px;
    border: 2px solid #a9abaa;
    border-radius: 50%;
    background: url("../../../../assets/LJ/ico/ico-clear.png") no-repeat center;
    cursor: pointer;
    position: relative;
  }
  .achievement .resClose .closeInfo {
    position: relative;
  }

  .achievement .resClose .close:hover {
    border-color: #6effcdba;
    background: url("../../../../assets/LJ/ico/ico-clear-1.png") no-repeat center;
    animation: rotate 0.4s linear;
  }

  .achievement .resClose .closeInfo:before {
    content: '';
    width: 1px;
    height: 30px;
    background: url("../../../../assets/LJ/ico/ico-lone.png");
    position: absolute;
    top: -32px;
    left: 15px;
  }

  .achievement .splitLine {
    width: 10%;
    min-width: 120px;
    max-width: 160px;
    background: url("../../../../assets/LJ/train/res-slash.png") no-repeat center;
  }

  .achievement .desc {
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
  }

  .resLeft,
  .resRight {
    width: 700px;
    position: relative;
  }

  .resLeft .top {
    height: 200px;
    background: none;
    text-align: center;
    position: relative;
  }
  .resLeft .top img {
    width: 100%;
  }
  .resLeft .top .score {
    width: 100%;
    font-weight: bolder;
    font-size: 60px;
    line-height: 1;
    background-image: linear-gradient(to bottom, #b3c6e8, #5d6572);
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    top: 40px;
    left: 0;
  }
  .resLeft .top .score.superb {
    background-image: linear-gradient(to bottom, #e0bd19, #d36b1e);
    -webkit-background-clip: text;
    color: transparent;
  }
  .resLeft .top .score.suffice {
    background-image: linear-gradient(to bottom, #cdc370, #d38c1e);
    -webkit-background-clip: text;
    color: transparent;
  }

  .resLeft .bottom {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .resGroup {
    display: flex;
    align-items: center;
  }

  .resGroup .cont {
    padding-left: 16px;
  }

  .resGroup .num {
    font-size: 24px;
    font-weight: bolder;
    line-height: 32px;
    background-image: linear-gradient(to bottom, #cdc370, #d38c1e);
    -webkit-background-clip: text;
    color: transparent;
    display: flex;
    align-items: center;
  }

  .resRight {
    padding-left: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 300px;
    flex-direction: column;
  }

  .resTextItem {
    width: 100%;
    max-width: 324px;
    height: 38px;
    padding: 0 10px;
    background: url("../../../../assets/LJ/train/res-text-bg.png") no-repeat center left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .resTextItem + .resTextItem {
    margin-top: 22px;
  }

  .resTextItem:before {
    content: '';
    width: 16px;
    height: 19px;
    background: url("../../../../assets/LJ/train/res-lab.png") no-repeat;
    position: absolute;
    top: 9px;
    left: -32px;
  }

  .resTextItem .num {
    width: 36%;
    flex-shrink: 0;
    color: #34b34c;
    font-weight: bolder;
    font-size: 24px;
    font-style: italic;
  }

}
.KJ{
  /deep/.ant-checkbox-disabled + span {
    color: rgba(255,255,255,0.6);
  }
  .grouping_content {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .configurationBox {
    padding: 10px 20px 20px;
    color: #fff;
  }
  .configurationBox .rowItem {
    padding: 8px 0;
    display: flex;
    align-items: center;
  }
  .configurationBox .rowItem.title {
    padding: 16px 0 0;
  }
  .configurationBox .rowItem .lab {
    width: 100px;
    flex-shrink: 0;
    font-size: 13px;
    color: #a9abaa;
    text-align: right;
  }
  .configurationBox .rowItem .item {
    font-size: 13px;
    color: #a9abaa;
    width: 120px;
    text-align: center;
  }
  .configurationBox .rowItem .item + .item {
    margin-left: 30px;
  }
  .configurationBox .rowItem .item .absolute {
    left: 0;
    top: 0;
    line-height: 32px;
    z-index: 9;
    padding: 0 8px;
    font-size: 12px;
    color: #000000;
    border-right: 1px solid #26332e;
  }
  .configurationBox .rowItem.mini .lab {
    width: 86px;
  }
  .configurationBox .rowItem.mini .item {
    width: 120px;
    margin-left: 12px;
  }
  .configurationBox .rowItem.mini .item:last-child {
    margin-right: 12px;
  }
  .configurationBox .rowItem.mini .item .close {
    display: flex;
    margin-top: -7px;
    color: #d11d1d;
    position: absolute;
    right: -35px;
    top: 50%;
    cursor: pointer;
  }
  .configurationBox .rowItem .msg {
    height: 24px;
    font-size: 12px;
    color: #f8cf6f;
    display: flex;
    align-items: center;
    padding: 0 8px;
    background-color: #162520;
  }
  .groupBoxs {
    position: relative;
    border: 1px solid #3d586f;
    margin-top: 20px;
    padding-bottom: 8px;
  }
  .groupBoxs .groupTitle {
    font-size: 13px;
    color: #bbcdef;
    line-height: 20px;
    padding: 0 10px;
    background-color: #2e4559;
    position: absolute;
    left: 10px;
    top: -10px;
  }
  .auditionBtn {
    background-color: #0f7151;
    color: #ffffff;
    line-height: 20px;
    flex-shrink: 0;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 20px;
  }

  //成绩弹框样式
  .achievementMasking {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10 17 14 / 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
  }

  .achievement {
    min-width: 1220px;
    width: 100%;
    min-height: 302px;
  }
  .top_all_box{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 150px;
  }

  .achievement .top_all_box .tab_top_box{
    position: absolute;
    top: -43px;
    color:#ffae00 ;
    text-align: center;
    font-size: 64px;
    background: url("../../../../assets/KJ/postTrain/topBox-after.png");
    background-size: 100% 100%;
    background-position: 15px;
    height: 179px;
    width: 685px;
    padding-top: 20px;
    text-shadow: 0px 0px 2px #e9deb2,0px 0px 2px #e9deb2,0px 0px 2px #e9deb2,0px 0px 2px #e9deb2;
  }
  .achievement .center_box{
    display: flex;
    position: absolute;
    top: 85px;
    width: 700px;
    align-items: center;
    justify-content: center;
    padding-left: 200px;

  }
  .achievement .center_box .box{
    width: 300px;
    position: relative;
  }
  .achievement .center_box .box:first-child:before{
    position: absolute;
    content: "";
    background: url("../../../../assets/KJ/postTrain/check.png");
    width: 42px;
    height: 42px;
    left: -50px;
  }
  .achievement .center_box .box:last-child:before{
    position: absolute;
    content: "";
    background: url("../../../../assets/KJ/postTrain/time.png");
    width: 42px;
    height: 42px;
    left: -50px;
  }
  .achievement .center_box .box div:first-child{
    color: #a9abaa;
    font-size: 12px;
  }
  .achievement .center_box .box div:last-child{
    color: #e9deb2;
    font-size: 20px;
    font-weight: bold;
  }

  .achievement .bottom_box{
    /* position: absolute;
    top: 200px; */
    margin-bottom: 20px;
  }
  .achievement .bottom_box .tab_top{
    background: url("../../../../assets/KJ/postTrain/makTabBottom.png");
    width: 700px;
    height: 42px;
    background-size: 100% 100%;
    display: flex;
    padding: 5px 10px;
  }
  .achievement .bottom_box .tab_top .tab{
    width: 33.33%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
  }

  .achievement .bottom_box .tab_top .tab:nth-child(2){
    border-right: 1px solid #525b59;
    border-left: 1px solid #525b59;
  }
  .achievement .bottom_box .bottom_box{
    background: @modelBG;
    width: 700px;
    height: 42px;
    display: flex;
    padding: 5px 10px;
  }
  .achievement .bottom_box .bottom_box .tab{
    width: 33.33%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: #e9deb2;
    font-weight: bold;
  }


  .achievement > .cont {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: url("../../../../assets/KJ/postTrain/maskBg.png")no-repeat 0 0/100% 100%;

  }

  .achievement .dataBox {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .achievement .resTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
  }

  .achievement .resClose {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .achievement .resClose .close {
    width: 31px;
    height: 31px;
    border: 2px solid #a9abaa;
    border-radius: 50%;
    background: url("../../../../assets/KJ/ico/ico-clear.png") no-repeat center;
    cursor: pointer;
    position: relative;
  }
  .achievement .resClose .closeInfo {
    position: relative;
  }

  .achievement .resClose .close:hover {
    border-color: #6effcdba;
    background: url("../../../../assets/KJ/ico/ico-clear-1.png") no-repeat center;
    animation: rotate 0.4s linear;
  }

  .achievement .resClose .closeInfo:before {
    content: '';
    width: 1px;
    height: 30px;
    background: url("../../../../assets/KJ/ico/ico-lone.png");
    position: absolute;
    top: -32px;
    left: 15px;
  }

  .achievement .splitLine {
    width: 10%;
    min-width: 120px;
    max-width: 160px;
    background: url("../../../../assets/KJ/train/res-slash.png") no-repeat center;
  }

  .achievement .desc {
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
  }

  .resLeft,
  .resRight {
    width: 700px;
    position: relative;
  }

  .resLeft .top {
    height: 200px;
    background: none;
    text-align: center;
    position: relative;
  }
  .resLeft .top img {
    width: 100%;
  }
  .resLeft .top .score {
    width: 100%;
    font-weight: bolder;
    font-size: 60px;
    line-height: 1;
    background-image: linear-gradient(to bottom, #b3c6e8, #5d6572);
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    top: 40px;
    left: 0;
  }
  .resLeft .top .score.superb {
    background-image: linear-gradient(to bottom, #e0bd19, #d36b1e);
    -webkit-background-clip: text;
    color: transparent;
  }
  .resLeft .top .score.suffice {
    background-image: linear-gradient(to bottom, #cdc370, #d38c1e);
    -webkit-background-clip: text;
    color: transparent;
  }

  .resLeft .bottom {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .resGroup {
    display: flex;
    align-items: center;
  }

  .resGroup .cont {
    padding-left: 16px;
  }

  .resGroup .num {
    font-size: 24px;
    font-weight: bolder;
    line-height: 32px;
    background-image: linear-gradient(to bottom, #cdc370, #d38c1e);
    -webkit-background-clip: text;
    color: transparent;
    display: flex;
    align-items: center;
  }

  .resRight {
    padding-left: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 300px;
    flex-direction: column;
  }

  .resTextItem {
    width: 100%;
    max-width: 324px;
    height: 38px;
    padding: 0 10px;
    background: url("../../../../assets/KJ/train/res-text-bg.png") no-repeat center left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .resTextItem + .resTextItem {
    margin-top: 22px;
  }

  .resTextItem:before {
    content: '';
    width: 16px;
    height: 19px;
    background: url("../../../../assets/KJ/train/res-lab.png") no-repeat;
    position: absolute;
    top: 9px;
    left: -32px;
  }

  .resTextItem .num {
    width: 36%;
    flex-shrink: 0;
    color: #34b34c;
    font-weight: bolder;
    font-size: 24px;
    font-style: italic;
  }

}