@import "../../../../../../common/styles/KJ/colorAll";

.HJ{
  .myvideo {
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
  }
  .playEnd {
    height: 67px;
    width: 359px;
    background: url("../../../../../../assets/HJ/receive/tipsBg.png") no-repeat center;
    color: #fda24a;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 63px;
    left: calc(50% - 180px);
    z-index: 5;
    transform: scale(.8);
  }
  .basicBody {
    background-color: rgba(24, 45, 86, 0.45);
  }
  .basicBody:before {
    content: '';
    width: 288px;
    background: url("../../../../../../assets/HJ/basicTheory/studyManage/analyze/zuo.png") no-repeat left;
    background-size: auto 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
  .basicBody:after {
    content: '';
    width: 288px;
    background: url("../../../../../../assets/HJ/basicTheory/studyManage/analyze/you.png") no-repeat right;
    background-size: auto 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  .basicTitle {
    height: 54px;
    background-image: linear-gradient(to bottom, #122345, #1d355a);
    color: #ffffff;
    padding-left: 40px;
    display: flex;
    align-items: center;
  }
  .basicTitle .text {
    font-size: 13px;
    margin-left: 20px;
    flex-shrink: 0;
  }
  .basicTitle .the {
    font-size: 12px;
    flex-shrink: 0;
    color: #009afd;
  }
  .trainTime {
    width: 278px;
    height: 54px;
    background: url("../../../../../../assets/HJ/receive/trainTime.gif") no-repeat center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
  }
  .trainBtn.end {
    width: 80px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    color: #7d1a10;
    border: 1px solid #ff8a8a;
    background-image: linear-gradient(to bottom, #f3b9b2, #ca4e45);
    margin-left: 10px;
  }
  .trainBtn.end:hover {
    background-image: linear-gradient(to top, #f3b9b2, #ca4e45);
  }
  .cool .trainTime {
    background: url("../../../../../../assets/HJ/receive/trainTime.png") no-repeat center;
  }
  .trainTime .timeNum {
    width: 29px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 6px;
  }
  .trainTime .timeNum .num {
    height: 40px;
    font-size: 28px;
    line-height: 40px;
    overflow: hidden;
    display: flex;
    text-align: center;
    color: #dbe5fa;
  }
  .trainBtnBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .trainBtnBox .btns {
    height: 36px;
    padding: 0 6px;
    background-color: rgba(32, 66, 107, .5);
    border: 1px solid #395a95;
    -webkit-box-shadow: inset 0 0 20px rgba(0, 150, 255, .32);
    box-shadow: inset 0 0 20px rgba(0, 150, 255, .32);
    display: flex;
    border-radius: 2px;
  }
  .trainBtnBox .btns .btnIco {
    width: 42px;
    padding: 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .trainBtnBox .btns .btnIco + .btnIco:before {
    content: '';
    width: 1px;
    background: url("../../../../../../assets/HJ/receive/btn-line.png") no-repeat center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
  .trainBtnBox .btns .btnIco.active,
  .trainBtnBox .btns .btnIco:hover {
    background-color: #0c2041;
  }

  .volumeSlider.voice {
    width: 100%;
    padding-bottom: 12px;
    border-left: 1px solid #354971;
    border-right: 1px solid #354971;
  }

  .bbType {
    width: 87px;
    height: 29px;
    margin-left: 10px;
    background: url("../../../../../../assets/HJ/receive/btn-bg.png") no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #71cbff;
    cursor: pointer;
  }
  .bbType.on,
  .bbType:hover {
    background: url("../../../../../../assets/HJ/receive/btn-bg-on.png") no-repeat;
    color: #fc9e44;
  }
  .keyCodeBody {
    height: calc(100% - 126px);
    width: 100%;
    background-image: url("../../../../../../assets/HJ/preTrain/bj_03.png");
    background-repeat: no-repeat;
    background-position: top;
    padding:20px 50px;
    margin-top: -20px;
  }
  .keyCode {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }
  .keyItem1 {
    width: calc(100% / 9);
    height: 25%;
  }
  .keyItem2 {
    width: calc(100% / 5);
    height: 45%;
  }
  .keyItem {
    padding: 10px 15px;
  }
  .keyItem .bg {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: url("../../../../../../assets/HJ/receive/keyCode-bg.png") no-repeat top;
    background-size: 100% 100%;
    border-radius: 10px 10px 4px 4px;
  }
  .keyItem .bg .bg-content{
    position: relative;
  }
  .keyItem .bg.active {
    background: url("../../../../../../assets/HJ/receive/keyCode-bg-on.png") no-repeat top;
    background-size: 100% 100%;
  }
  .keyItem .bg.active {
    background: url("../../../../../../assets/HJ/receive/keyCode-bg-on.png") no-repeat top;
    background-size: 100% 100%;
  }
  .keyItem .bg.sltOk {
    background: url("../../../../../../assets/HJ/receive/keyCode-bg-ok.png") no-repeat top;
    background-size: 100% 100%;
    box-shadow: 0 0 20px #034440;
  }
  .keyItem .bg.sltUn {
    background: url("../../../../../../assets/HJ/receive/keyCode-bg-un.png") no-repeat top;
    background-size: 100% 100%;
    box-shadow: 0 0 20px #7b0606;
  }
  .keyItem:hover .bg.active,
  .keyItem:hover .bg {
    transform: scale(.95);
  }
  .keyItem .bg.sltOk .bb,
  .keyItem .bg.sltUn .bb {
    display: none;
  }
  .keyItem .bg .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.6%;
    left: 12%;
    right: 12%;
    bottom: 20%;
  }
  .keyItem .bg.active .item {
    animation: glint 2s linear infinite;
    -webkit-animation: glint 2s linear infinite;
  }
  .keyItem .bg .key {
    width: 70%;
    margin-bottom: 10px;
  }
  .keyItem .bg .key.error {
    filter: hue-rotate(90deg);
  }
  .keyItem .bg .key.success {
    filter: hue-rotate(-90deg);
  }
  .keyItem .bg .val {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: #466693;
  }
  .keyItem .bg .val.error {
    background-color: #d11d1d;
  }
  .keyItem .bg .val.success {
    background-color: #28a956;
  }
  .keyItem .bg .val[data="1"] {
    width: 12%;
  }
  .keyItem .bg .val.on {
    background-color: #fc9e44;
  }
  .keyItem .bg .val + .val {
    margin-left: 4px;
  }
  .keyItem .bg .bb {
    width: 50%;
    position: absolute;
    left: 25%;
    bottom: 10px;
  }
  @keyframes glint {
    0% {
      -webkit-box-shadow: inset 0 0 5px rgba(110, 189, 255, .2);
      box-shadow: inset 0 0 5px rgba(110, 189, 255, .2);
    }
    25% {
      -webkit-box-shadow: inset 0 0 10px rgba(110, 189, 255, .4);
      box-shadow: inset 0 0 10px rgba(110, 189, 255, .4);
    }
    50% {
      -webkit-box-shadow: inset 0 0 20px rgba(110, 189, 255, .8);
      box-shadow: inset 0 0 20px rgba(110, 189, 255, .8);
    }
    75% {
      -webkit-box-shadow: inset 0 0 10px rgba(110, 189, 255, .4);
      box-shadow: inset 0 0 10px rgba(110, 189, 255, .4);
    }
    100% {
      -webkit-box-shadow: inset 0 0 5px rgba(110, 189, 255, .2);
      box-shadow: inset 0 0 5px rgba(110, 189, 255, .2);
    }
  }
  .deployBox{
    margin-top: 16px;
    padding-top: 6px;
    background: url("../../../../../../assets/HJ/preTrain/db_03.png") no-repeat center;
    width: 100%;
    height: 50px;
  }
  .deployBox .item {
    display: flex;
  }
  .deployBox .deploy {
    height: 35px;
    width: 92px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    background: url("../../../../../../assets/HJ/term/btn-bg.png") no-repeat center;
  }
  .deployBox .deploy:hover,
  .deployBox .deploy.on {
    background: url("../../../../../../assets/HJ/term/btn-bg-on.png") no-repeat center;
  }
  .deployBox .deploy + .deploy {
    margin-left: 8px
  }
  .numberCode{
    width: 955px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.HJJ{
  .myvideo {
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
  }
  .playEnd {
    height: 67px;
    width: 359px;
    background: url("../../../../../../assets/HJJ/receive/tipsBg.png") no-repeat center;
    color: #fda24a;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 63px;
    left: calc(50% - 180px);
    z-index: 5;
    transform: scale(.8);
  }
  .basicBody {
    background-color: rgba(23, 31, 41, 0.7);
  }
  .scoreBody:before, .scoreBody:after {
    content: '';
    width: 288px;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .scoreBody:before {
    background: url("../../../../../../assets/HJJ/basicTheory/studyManage/analyze/zuo.png") no-repeat left;
    background-size: auto 100%;
    left: 0;
  }
  .scoreBody:after {
    background: url("../../../../../../assets/HJJ/basicTheory/studyManage/analyze/you.png") no-repeat right;
    background-size: auto 100%;
    right: 0;
  }
  .basicTitle {
    height: 73px;
    background-image: url("../../../../../../assets/HJJ/receive/top-bg.png") ;
    background-size: 100% 100%;
    color: #ffffff;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  .basicTitle .text {
    font-size: 13px;
    margin-left: 20px;
    flex-shrink: 0;
    color: #909db0;
  }
  .basicTitle .the {
    font-size: 12px;
    flex-shrink: 0;
    color: #009afd;
  }
  .trainBtn.end {
    width: 80px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    color: #7d1a10;
    border: 1px solid #ff8a8a;
    background-image: linear-gradient(to bottom, #f3b9b2, #ca4e45);
    margin-left: 10px;
  }
  .trainBtn.end:hover {
    background-image: linear-gradient(to top, #f3b9b2, #ca4e45);
  }
  .trainBtnBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .trainBtnBox .btns {
    height: 36px;
    padding: 0 6px;
    background-color: #161e29;
    border: 2px solid #2a3a4b;
    display: flex;
    border-radius: 5px;
  }
  .trainBtnBox .btns .btnIco {
    width: 42px;
    padding: 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .trainBtnBox .btns .btnIco + .btnIco {
    border-left: 2px solid #2a3a4b;
  }
  .trainBtnBox .btns .btnIco.active:after,
  .trainBtnBox .btns .btnIco:hover:after {
    content: '';
    height: 24px;
    width: 42px;
    background: url("../../../../../../assets/HJJ/home/itemHover.png") no-repeat bottom center;
    background-size: auto 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .trainBtnBox .btns .btnIco div {
    position: relative;
    z-index: 9;
  }

  .volumeSlider.voice {
    width: 100%;
    padding-bottom: 12px;
    border-left: 1px solid #354971;
    border-right: 1px solid #354971;
  }

  .bbType {
    width: 87px;
    height: 29px;
    margin-left: 10px;
    background: url("../../../../../../assets/HJJ/receive/btn-bg.png") no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #70a3b8;
    cursor: pointer;
  }
  .bbType.on,
  .bbType:hover {
    background: url("../../../../../../assets/HJJ/receive/btn-bg-on.png") no-repeat;
    color: #fc9e44;
  }
  .keyCodeBody {
    height: calc(100% - 126px - 50px);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    padding:20px 50px;
    margin-top: -20px;
  }
  .keyCode {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }
  .keyItem1 {
    width: calc(100% / 9);
    height: 25%;
  }
  .keyItem2 {
    width: calc(100% / 5);
    height: 45%;
  }
  .keyItem {
    padding: 10px 15px;
    position: relative;
  }
  .keyItem .bg {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: url("../../../../../../assets/HJJ/receive/keyCode-bg.png") no-repeat top;
    background-size: 100% 100%;
    border-radius: 10px 10px 4px 4px;
    position: relative;
  }
  .keyItem .bg .bg-content{
    position: relative;
  }
  .bg::after{
    content:"";
    width: 30px;
    position: absolute;
    height: 17px;
    background: url("../../../../../../assets/HJJ/receive/joint.png") repeat ;
    background-size: 100% 100%;
    /*background: red;*/
    right: -30px;
    top: calc(50% - 8px);
  }
  .noAfter::after{
    content: ""!important;
    width: 0px;
    height: 0px;
  }
  .keyItem .bg.active {
    background: url("../../../../../../assets/HJJ/receive/keyCode-bg-on.png") no-repeat top;
    background-size: 100% 100%;
  }
  .keyItem .bg.active {
    background: url("../../../../../../assets/HJJ/receive/keyCode-bg-on.png") no-repeat top;
    background-size: 100% 100%;
  }
  .keyItem .bg.sltOk {
    background: url("../../../../../../assets/HJJ/receive/keyCode-bg-ok.png") no-repeat top;
    background-size: 100% 100%;
    box-shadow: 0 0 20px #034440;
  }
  .keyItem .bg.sltUn {
    background: url("../../../../../../assets/HJJ/receive/keyCode-bg-un.png") no-repeat top;
    background-size: 100% 100%;
    box-shadow: 0 0 20px #7b0606;
  }
  .keyItem:hover .bg.active,
  .keyItem:hover .bg {
    transform: scale(.95);
  }
  .keyItem .bg.sltOk .bb,
  .keyItem .bg.sltUn .bb {
    display: none;
  }
  .keyItem .bg .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.6%;
    left: 12%;
    right: 12%;
    bottom: 0%;
  }
  .keyItem .bg.active .item {
    /*animation: glint 2s linear infinite;*/
    /*-webkit-animation: glint 2s linear infinite;*/
  }
  .keyItem .bg .key {
    width: 70%;
    margin-bottom: 35px;
  }
  .keyItem .bg .key.error {
    filter: hue-rotate(90deg);
  }
  .keyItem .bg .key.success {
    filter: hue-rotate(-90deg);
  }
  .keyItem .bg .val {
    width: 4px;
    height: 4px;
    /*border-radius: 4px;*/
    background-color: #909db0;
  }
  .keyItem .bg .val.error {
    background-color: #d11d1d;
  }
  .keyItem .bg .val.success {
    background-color: #28a956;
  }
  .keyItem .bg .val[data="1"] {
    width: 12%;
  }
  .keyItem .bg .val.on {
    background-color: #fc9e44;
  }
  .keyItem .bg .val + .val {
    margin-left: 4px;
  }
  .keyItem .bg .bbContent{
    position: absolute;
    right: 20px;
    top: 10px;
    background: #948369;
    padding: 2px 5px;
    border-radius: 5px;
  }
  .keyItem .bg .bbContent .bb {
    width: 30px;
    height: 15px;
  }
  @keyframes glint {
    0% {
      -webkit-box-shadow: inset 0 0 5px rgba(110, 189, 255, .2);
      box-shadow: inset 0 0 5px rgba(110, 189, 255, .2);
    }
    25% {
      -webkit-box-shadow: inset 0 0 10px rgba(110, 189, 255, .4);
      box-shadow: inset 0 0 10px rgba(110, 189, 255, .4);
    }
    50% {
      -webkit-box-shadow: inset 0 0 20px rgba(110, 189, 255, .8);
      box-shadow: inset 0 0 20px rgba(110, 189, 255, .8);
    }
    75% {
      -webkit-box-shadow: inset 0 0 10px rgba(110, 189, 255, .4);
      box-shadow: inset 0 0 10px rgba(110, 189, 255, .4);
    }
    100% {
      -webkit-box-shadow: inset 0 0 5px rgba(110, 189, 255, .2);
      box-shadow: inset 0 0 5px rgba(110, 189, 255, .2);
    }
  }
  .deployBox{
    margin-top: 16px;
    padding-top: 6px;
    width: 100%;
    height: 100px;
  }
  .deployBox .item {
    display: flex;
  }
  .deployBox .deploy {
    height: 44px;
    width: 159px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #bfcde0;
    background: url("../../../../../../assets/HJJ/receive/trainbtn-bg.png") no-repeat center;
  }
  .deployBox .deploy:hover,
  .deployBox .deploy.on {
    background: url("../../../../../../assets/HJJ/receive/trainBtn-bg-hover.png") no-repeat center;
    color: #e9deb2;
  }
  .deployBox .deploy + .deploy {
    margin-left: 8px
  }
  .numberCode{
    width: 955px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .disturbBox {
    padding-left: 20px;
  }
}
.LJ{
  .myvideo {
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
  }

  .playEnd {
    height: 67px;
    width: 359px;
    background: url("../../../../../../assets/LJ/receive/tipsBg.png") no-repeat center;
    color: #fda24a;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 63px;
    left: calc(50% - 180px);
    z-index: 5;
    transform: scale(.8);
  }

  .basicBody {
    background-color: rgba(38, 41, 36, 0.3);
  }

  .scoreBody:before,
  .scoreBody:after {
    content: '';
    width: 288px;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .scoreBody:before {
    background: url("../../../../../../assets/LJ/basicTheory/studyManage/analyze/zuo.png") no-repeat left;
    background-size: auto 100%;
    left: 0;
  }

  .scoreBody:after {
    background: url("../../../../../../assets/LJ/basicTheory/studyManage/analyze/you.png") no-repeat right;
    background-size: auto 100%;
    right: 0;
  }

  .basicTitle {
    height: 73px;
    background-image: url("../../../../../../assets/LJ/receive/top-bg.png");
    background-size: 100% 100%;
    color: #ffffff;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }

  .basicTitle .text {
    font-size: 13px;
    margin-left: 20px;
    flex-shrink: 0;
    color: #fff;
  }

  .basicTitle .the {
    font-size: 12px;
    flex-shrink: 0;
    color: #009afd;
  }

  .trainBtn.end {
    width: 80px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    color: #7d1a10;
    border: 1px solid #ff8a8a;
    background-image: linear-gradient(to bottom, #f3b9b2, #ca4e45);
    margin-left: 10px;
  }

  .trainBtn.end:hover {
    background-image: linear-gradient(to top, #f3b9b2, #ca4e45);
  }


  .trainBtnBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .trainBtnBox .btns {
    height: 36px;
    padding: 0 6px;
    background-color: #1b1e1b;
    border: 2px solid #40574e;
    display: flex;
    border-radius: 5px;
  }

  .trainBtnBox .btns .btnIco {
    width: 42px;
    padding: 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }

  .trainBtnBox .btns .btnIco+.btnIco {
    border-left: 2px solid #263831;
  }

  .trainBtnBox .btns .btnIco.active:after,
  .trainBtnBox .btns .btnIco:hover:after {
    content: '';
    height: 24px;
    width: 42px;
    background: url("../../../../../../assets/LJ/home/itemHover.png") no-repeat bottom center;
    background-size: auto 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .trainBtnBox .btns .btnIco div {
    position: relative;
    z-index: 9;
  }


  .volumeSlider.voice {
    width: 100%;
    padding-bottom: 12px;
    border-left: 1px solid #2f3731;
    border-right: 1px solid #2f3731;
  }



  .bbType {
    width: 87px;
    height: 29px;
    margin-left: 10px;
    background: url("../../../../../../assets/LJ/receive/btn-bg.png") no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #33b34b;
    cursor: pointer;
  }

  .bbType.on,
  .bbType:hover {
    background: url("../../../../../../assets/LJ/receive/btn-bg-on.png") no-repeat;
    color: #fc9e44;
  }

  .keyCodeBody {
    height: calc(100% - 126px - 50px);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    padding: 20px 50px;
    margin-top: -20px;
  }

  .keyCode {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }

  .keyItem1 {
    width: calc(100% / 9);
    height: 25%;
  }

  .keyItem2 {
    width: calc(100% / 5);
    height: 45%;
  }

  .keyItem {
    padding: 10px 15px;
    position: relative;
  }

  .keyItem .bg {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: url("../../../../../../assets/LJ/receive/keyCode-bg.png") no-repeat top;
    background-size: 100% 100%;
    border-radius: 10px 10px 4px 4px;
    position: relative;
  }

  .keyItem .bg .bg-content {
    position: relative;
  }

  .bg::after {
    content: "";
    width: 30px;
    position: absolute;
    height: 17px;
    background: url("../../../../../../assets/LJ/receive/joint.png") repeat;
    background-size: 100% 100%;
    /*background: red;*/
    right: -30px;
    top: calc(50% - 8px);
  }

  .noAfter::after {
    content: "" !important;
    width: 0px;
    height: 0px;
  }

  .keyItem .bg.active {
    background: url("../../../../../../assets/LJ/receive/keyCode-bg-on.png") no-repeat top;
    background-size: 100% 100%;
  }

  .keyItem .bg.active {
    background: url("../../../../../../assets/LJ/receive/keyCode-bg-on.png") no-repeat top;
    background-size: 100% 100%;
  }

  .keyItem .bg.sltOk {
    background: url("../../../../../../assets/LJ/receive/keyCode-bg-ok.png") no-repeat top;
    background-size: 100% 100%;
    box-shadow: 0 0 20px #034440;
  }

  .keyItem .bg.sltUn {
    background: url("../../../../../../assets/LJ/receive/keyCode-bg-un.png") no-repeat top;
    background-size: 100% 100%;
    box-shadow: 0 0 20px #7b0606;
  }

  .keyItem:hover .bg.active,
  .keyItem:hover .bg {
    transform: scale(.95);
  }

  .keyItem .bg.sltOk .bb,
  .keyItem .bg.sltUn .bb {
    display: none;
  }

  .keyItem .bg .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.6%;
    left: 12%;
    right: 12%;
    bottom: 0%;
  }

  .keyItem .bg.active .item {
    /*animation: glint 2s linear infinite;*/
    /*-webkit-animation: glint 2s linear infinite;*/
  }

  .keyItem .bg .key {
    width: 70%;
    margin-bottom: 35px;
  }

  .keyItem .bg .key.error {
    filter: hue-rotate(90deg);
  }

  .keyItem .bg .key.success {
    filter: hue-rotate(-90deg);
  }

  .keyItem .bg .val {
    width: 4px;
    height: 4px;
    /*border-radius: 4px;*/
    background-color: #fff;
  }

  .keyItem .bg .val.error {
    background-color: #d11d1d;
  }

  .keyItem .bg .val.success {
    background-color: #28a956;
  }

  .keyItem .bg .val[data="1"] {
    width: 12px;
  }

  .keyItem .bg .val.on {
    background-color: #fc9e44;
  }

  .keyItem .bg .val+.val {
    margin-left: 4px;
  }

  .keyItem .bg .bbContent {
    position: absolute;
    right: 20px;
    top: 10px;
    background: #948369;
    padding: 2px 5px;
    border-radius: 5px;
  }

  .keyItem .bg .bbContent .bb {
    width: 30px;
    height: 15px;
  }

  @keyframes glint{
    0% {-webkit-box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);}
    25% {-webkit-box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);}
    50% {-webkit-box-shadow: inset 0 0 16px rgba(233, 222, 178, .8);box-shadow: inset 0 0 16px rgba(233, 222, 178, .8);}
    75% {-webkit-box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);}
    100% {-webkit-box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);}
  }


  .deployBox {
    margin-top: 16px;
    padding-top: 6px;
    width: 100%;
    height: 100px;
  }

  .deployBox .item {
    display: flex;
  }

  .deployBox .deploy {
    width: 203px;
    height: 54px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    background: url("../../../../../../assets/LJ/receive/trainbtn-bg.png") no-repeat center;
    background-size: 100% 100%;
  }

  .deployBox .deploy:hover,
  .deployBox .deploy.on {
    background: url("../../../../../../assets/LJ/receive/trainBtn-bg-hover.png") no-repeat center/100% 100%;
    /*color: #e9deb2;*/
  }

  .deployBox .deploy+.deploy {
    margin-left: 8px
  }

  .numberCode {
    width: 955px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .disturbBox {
    padding-left: 20px;
  }

}
.KJ{
  .myvideo {
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
  }

  .playEnd {
    height: 67px;
    width: 359px;
    background: url("../../../../../../assets/KJ/receive/tipsBg.png") no-repeat center;
    color: #fda24a;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 63px;
    left: calc(50% - 180px);
    z-index: 5;
    transform: scale(.8);
  }

  .basicBody {
    background-color: rgba(38, 41, 36, 0.3);
  }

  .scoreBody:before,
  .scoreBody:after {
    content: '';
    width: 288px;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .scoreBody:before {
    background: url("../../../../../../assets/KJ/basicTheory/studyManage/analyze/zuo.png") no-repeat left;
    background-size: auto 100%;
    left: 0;
  }

  .scoreBody:after {
    background: url("../../../../../../assets/KJ/basicTheory/studyManage/analyze/you.png") no-repeat right;
    background-size: auto 100%;
    right: 0;
  }

  .basicTitle {
    height: 73px;
    background-image: url("../../../../../../assets/KJ/receive/top-bg.png");
    background-size: 100% 100%;
    color: #ffffff;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }

  .basicTitle .text {
    font-size: 13px;
    margin-left: 20px;
    flex-shrink: 0;
    color: #fff;
  }

  .basicTitle .the {
    font-size: 12px;
    flex-shrink: 0;
    color: #009afd;
  }

  .trainBtn.end {
    width: 80px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    color: #7d1a10;
    border: 1px solid #ff8a8a;
    background-image: linear-gradient(to bottom, #f3b9b2, #ca4e45);
    margin-left: 10px;
  }

  .trainBtn.end:hover {
    background-image: linear-gradient(to top, #f3b9b2, #ca4e45);
  }


  .trainBtnBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .trainBtnBox .btns {
    height: 36px;
    padding: 0 6px;
    background-color: @maskbgColor;
    border: 2px solid @KJbgColer;
    display: flex;
    border-radius: 5px;
  }

  .trainBtnBox .btns .btnIco {
    width: 42px;
    padding: 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }

  .trainBtnBox .btns .btnIco+.btnIco {
    border-left: 2px solid @KJbgColer;
  }

  .trainBtnBox .btns .btnIco.active:after,
  .trainBtnBox .btns .btnIco:hover:after {
    content: '';
    height: 24px;
    width: 42px;
    background: url("../../../../../../assets/KJ/home/itemHover.png") no-repeat bottom center;
    background-size: auto 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .trainBtnBox .btns .btnIco div {
    position: relative;
    z-index: 9;
  }


  .volumeSlider.voice {
    width: 100%;
    padding-bottom: 12px;
    border-left: 1px solid #2f3731;
    border-right: 1px solid #2f3731;
  }



  .bbType {
    width: 87px;
    height: 29px;
    margin-left: 10px;
    background: url("../../../../../../assets/KJ/receive/btn-bg.png") no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #33b34b;
    cursor: pointer;
  }

  .bbType.on,
  .bbType:hover {
    background: url("../../../../../../assets/KJ/receive/btn-bg-on.png") no-repeat;
    color: #fc9e44;
  }

  .keyCodeBody {
    height: calc(100% - 126px - 50px);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    padding: 20px 50px;
    margin-top: -20px;
  }

  .keyCode {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }

  .keyItem1 {
    width: calc(100% / 9);
    height: 25%;
  }

  .keyItem2 {
    width: calc(100% / 5);
    height: 45%;
  }

  .keyItem {
    padding: 10px 15px;
    position: relative;
  }

  .keyItem .bg {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: url("../../../../../../assets/KJ/receive/keyCode-bg.png") no-repeat top;
    background-size: 100% 100%;
    border-radius: 10px 10px 4px 4px;
    position: relative;
  }

  .keyItem .bg .bg-content {
    position: relative;
  }

  .bg::after {
    content: "";
    width: 30px;
    position: absolute;
    height: 17px;
    background: url("../../../../../../assets/KJ/receive/joint.png") repeat;
    background-size: 100% 100%;
    /*background: red;*/
    right: -30px;
    top: calc(50% - 8px);
  }

  .noAfter::after {
    content: "" !important;
    width: 0px;
    height: 0px;
  }

  .keyItem .bg.active {
    background: url("../../../../../../assets/KJ/receive/keyCode-bg-on.png") no-repeat top;
    background-size: 100% 100%;
  }

  .keyItem .bg.active {
    background: url("../../../../../../assets/KJ/receive/keyCode-bg-on.png") no-repeat top;
    background-size: 100% 100%;
  }

  .keyItem .bg.sltOk {
    background: url("../../../../../../assets/KJ/receive/keyCode-bg-ok.png") no-repeat top;
    background-size: 100% 100%;
    box-shadow: 0 0 20px #034440;
  }

  .keyItem .bg.sltUn {
    background: url("../../../../../../assets/KJ/receive/keyCode-bg-un.png") no-repeat top;
    background-size: 100% 100%;
    box-shadow: 0 0 20px #7b0606;
  }

  .keyItem:hover .bg.active,
  .keyItem:hover .bg {
    transform: scale(.95);
  }

  .keyItem .bg.sltOk .bb,
  .keyItem .bg.sltUn .bb {
    display: none;
  }

  .keyItem .bg .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.6%;
    left: 12%;
    right: 12%;
    bottom: 0%;
  }

  .keyItem .bg.active .item {
    /*animation: glint 2s linear infinite;*/
    /*-webkit-animation: glint 2s linear infinite;*/
  }

  .keyItem .bg .key {
    width: 70%;
    margin-bottom: 35px;
  }

  .keyItem .bg .key.error {
    filter: hue-rotate(90deg);
  }

  .keyItem .bg .key.success {
    filter: hue-rotate(-90deg);
  }

  .keyItem .bg .val {
    width: 4px;
    height: 4px;
    /*border-radius: 4px;*/
    background-color: #fff;
  }

  .keyItem .bg .val.error {
    background-color: #d11d1d;
  }

  .keyItem .bg .val.success {
    background-color: #28a956;
  }

  .keyItem .bg .val[data="1"] {
    width: 12px;
  }

  .keyItem .bg .val.on {
    background-color: #fc9e44;
  }

  .keyItem .bg .val+.val {
    margin-left: 4px;
  }

  .keyItem .bg .bbContent {
    position: absolute;
    right: 20px;
    top: 10px;
    background: #948369;
    padding: 2px 5px;
    border-radius: 5px;
  }

  .keyItem .bg .bbContent .bb {
    width: 30px;
    height: 15px;
  }

  @keyframes glint{
    0% {-webkit-box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);}
    25% {-webkit-box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);}
    50% {-webkit-box-shadow: inset 0 0 16px rgba(233, 222, 178, .8);box-shadow: inset 0 0 16px rgba(233, 222, 178, .8);}
    75% {-webkit-box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);}
    100% {-webkit-box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);}
  }


  .deployBox {
    margin-top: 16px;
    padding-top: 6px;
    width: 100%;
    height: 100px;
  }

  .deployBox .item {
    display: flex;
  }

  .deployBox .deploy {
    width: 203px;
    height: 54px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    background: url("../../../../../../assets/KJ/receive/trainbtn-bg.png") no-repeat center;
    background-size: 100% 100%;
  }

  .deployBox .deploy:hover,
  .deployBox .deploy.on {
    background: url("../../../../../../assets/KJ/receive/trainBtn-bg-hover.png") no-repeat center/100% 100%;
    /*color: #e9deb2;*/
  }

  .deployBox .deploy+.deploy {
    margin-left: 8px
  }

  .numberCode {
    width: 955px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .disturbBox {
    padding-left: 20px;
  }

}