.HJJ {
  .ant-notification {
    width: 340px;

    .ant-notification-notice {
      background: #334d65;
      border-radius: 8px;
      color: #fff;
      padding: 12px 12px;

      .ant-notification-notice-message {
        color: #fff;
      }

      .ant-notification-notice-close {
        color: #ffffff;
      }

      .ant-notification-notice-btn {
        margin: 0;
      }
    }
  }
}