:deep(textarea){
    opacity: 1!important;
}
.HJ{
  .titleBg{
    height: 60px;
  }
  .bg{background: linear-gradient(180deg,rgba(24,45,86,0.7),rgba(21,41,76,0.2));}
  .title1 {
    width: calc((100% - 1064px) / 2);
    box-sizing: border-box;
  }

  .title2 {
    max-width: 1064px;
    min-width: 1064px;
    box-sizing: border-box;
    position: relative;
    padding-top: 6px;
  }

  .titleL {
    width: 266px;
    height: 90px;
    background-image: url("../../../assets/HJ/explain/ydjj05.png");
    background-repeat: no-repeat;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
  }

  .titleR {
    width: 266px;
    height: 90px;
    background-image: url("../../../assets/HJ/explain/ydjj07.png");
    background-repeat: no-repeat;
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
  }

  .titles {
    box-sizing: border-box;
    width: calc(100% - 192px);
    border-top: 2px solid #71cbff;
  }
  @media (max-width: 1600px) {
    .titles {
      width: 100%;
    }
    .title1 img {
      display: none;
    }
  }

  .label {
    font-size: 18px;
    font-weight: 700;
    width: 209px;
    height: 47px;
    text-align: center;
    border-top: 2px solid #71cbff;
    line-height: 47px;
    border-bottom: 2px solid #71cbff;
    cursor: pointer;
    background-image: linear-gradient(0deg, #3169af, #0d4c93);
    transition: all 0.5s;
  }

  .label:hover {
    background-image: linear-gradient(0deg, #f6bd70, #ffaa3c);
    color: #814200;
  }

  .labelS {
    background-image: linear-gradient(0deg, #f6bd70, #ffaa3c);
    color: #814200;
  }

  .label2 {
    border-left: 2px solid #71cbff;
    border-right: 2px solid #71cbff;
  }

  .label3 {
    width: 260px;
  }
  .listBodyTwo .ant-input {
    border: 1px solid;
    border-image: linear-gradient(to top, #c18360, #4e5058) 1 !important;
    background-image: linear-gradient(to top, #5e5950, #2d2f34);
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.1) inset;
  }
  @media (max-width: 1600px) {
    .titles {
      width: 100%;
    }
    .title1 img {
      display: none;
    }
  }

  .list {
    position: relative;
    width: 80px;
    height: 566px;
    transition: all 0.5s;
  }

  .listBody {
    position: relative;
    height: 566px;
    max-width: 800px;
    width: calc(100% - 90px) !important;
    transition: all 0.5s;
  }

  .listBodyTwo {
    height: 566px;
    width: 0;
    border: none;
    padding: 0;
    margin-left: 0 !important;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
  }

  .timu {
    background: url('../../../assets/HJ/receive/itemLine.gif') no-repeat;
    background-size: 100% 100%;
    transition: all 0.5s;
    cursor: pointer;
  }

  .labNum {
    width: 80px;
    height: 90px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .labNum .num {
    line-height: 1;
    font-weight: bold;
    font-size: 40px;
    font-family: -webkit-pictograph;
    background-image: linear-gradient(180deg, #ffffff, #a6deff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }


  .timu.timu1 .labNum .num {
    background-image: linear-gradient(to bottom, #fee0a3, #d76e2f);
  }

  .data {
    width: 80px;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    writing-mode: tb-rl;
    line-height: 84px;
    margin-top: 20px;
    letter-spacing: 23px;
    transition: all 0.5s;
    overflow: hidden;
    /*text-shadow: 2px 2px 2px #00182f;*/
    height: calc(100% - 140px);
  }

  .data1 {
    color: #fbd89b;
    text-shadow: 1px 1px 1px #000000;
  }

  .timu1 {
    background: url('../../../assets/HJ/receive/itemLineOn.gif') no-repeat;
    background-size: 100% 100%;
  }
  .createDrillBtn {
    width: 96px;
    height: 30px;
    color: #e2f2ff;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    line-height: 28px;
    background-image: linear-gradient(#70a3b8, #4c7595);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    position: relative;
  }
}
.LJ{
  .listBodyTwo .ant-input{
    border: 1px solid;
    border-image: linear-gradient(to top,#c18360,#4e5058) 1 !important;
    background-image: linear-gradient(to top,#5e5950,#2d342d);
    box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.1) inset;
  }
  .titleBg{
    background: url("../../../assets/LJ/explain/titleBG.png") repeat;
    position: relative;
    height: 80px;
  }
  .titleBg::after{
    content: "";
    width: 100%;
    height: 38px;
    position: absolute;
    top: -14px;
    /*left: -117px;*/
    background: url("../../../assets/LJ/explain/titleBG-after.png") ;
    background-size: 100% 100%;
  }
  .title1 {
    width: calc((100% - 1064px) / 2);
    box-sizing: border-box;
  }

  .title2 {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding-top: 12px;
  }


  .titles {
    box-sizing: border-box;
    width: calc(100% - 192px);
    border-top: 2px solid #70a3b8;
  }
  @media (max-width: 1600px) {
    .titles {
      width: 100%;
    }
    .title1 img {
      display: none;
    }
  }

  .label {
    font-size: 18px;
    font-weight: 700;
    width: 230px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    transition: all 0.5s;
    color: #a9abaa;
  }

  .label:hover {
    background-image: url("../../../assets/LJ/explain/label-active.png");
    color: #ff9213;
    background-position: 100% 100%;
  }

  .labelS {
    background-image:url("../../../assets/LJ/explain/label-active.png");
    background-position: 100% 100%;
    color: #ff9213;
  }
  .label3 {
    width: 260px;
  }

  .list {
    position: relative;
    width: 80px;
    height: 566px;
    transition: all 0.5s;
  }


  .listBody {
    position: relative;
    height: 566px;
    max-width: 800px;
    width: calc(100% - 90px) !important;
    transition: all 0.5s;
  }

  .listBodyTwo {
    height: 566px;
    width: 0;
    border: none;
    padding: 0;
    margin-left: 0!important;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
  }

  .timu {
    background: url("../../../assets/LJ/receive/itemLine.gif") no-repeat;
    background-size: 100% 100%;
    transition: all 0.5s;
    cursor: pointer;

  }

  .labNum {
    width: 80px;
    height: 90px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .labNum .num {
    line-height: 1;
    font-weight: bold;
    font-size: 40px;
    font-family: -webkit-pictograph;
    background-image: linear-gradient(180deg, #c1f1e3, #0c4e38);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .timu.timu1 .labNum {

  }

  .timu.timu1 .labNum .num {
    background-image: linear-gradient(to bottom, #fee0a3, #d76e2f);
  }

  .data {
    width: 80px;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    writing-mode: tb-rl;
    line-height: 84px;
    margin-top: 20px;
    letter-spacing: 23px;
    transition: all 0.5s;
    overflow: hidden;
    /*text-shadow: 2px 2px 2px #00182f;*/
    height: calc(100% - 140px);
  }

  .data1 {
    color: #fbd89b;
    text-shadow: 1px 1px 1px #000000;
  }

  .timu1 {
    background: url("../../../assets/LJ/receive/itemLineOn.gif") no-repeat;
    background-size: 100% 100%;
  }
  .createDrillBtn {
    width: 96px;
    height: 30px;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    line-height: 28px;
    background-image: linear-gradient(#70a3b8, #4c7595);
    box-shadow: 2px 2px 3px rgba(0,0,0,.2);
    border-radius: 2px;
    position: relative;
  }
}
.HJJ{
  .listBodyTwo .ant-input {
    border: 1px solid;
    border-image: linear-gradient(to top, #c18360, #4e5058) 1 !important;
    background-image: linear-gradient(to top, #5e5950, #2d2f34);
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.1) inset;
  }
  .titleBg {
    background: url('../../../assets/HJJ/explain/titleBG.png') repeat;
    position: relative;
    height: 80px;
  }
  .titleBg::after {
    content: '';
    width: 100%;
    height: 38px;
    position: absolute;
    top: -14px;
    /*left: -117px;*/
    background: url('../../../assets/HJJ/explain/titleBG-after.png');
    background-size: 100% 100%;
  }
  .title1 {
    width: calc((100% - 1064px) / 2);
    box-sizing: border-box;
  }

  .title2 {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding-top: 12px;
  }

  .titles {
    box-sizing: border-box;
    width: calc(100% - 192px);
    border-top: 2px solid #70a3b8;
  }
  @media (max-width: 1600px) {
    .titles {
      width: 100%;
    }
    .title1 img {
      display: none;
    }
  }

  .label {
    font-size: 18px;
    font-weight: 700;
    width: 230px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    transition: all 0.5s;
    color: #bdc9da;
  }

  .label:hover {
    background-image: url('../../../assets/HJJ/explain/label-active.png');
    color: #e9deb2;
    background-position: 100% 100%;
  }

  .labelS {
    background-image: url('../../../assets/HJJ/explain/label-active.png');
    background-position: 100% 100%;
    color: #e9deb2;
  }
  .label3 {
    width: 260px;
  }

  .list {
    position: relative;
    width: 80px;
    height: 566px;
    transition: all 0.5s;
  }

  .listBody {
    position: relative;
    height: 566px;
    max-width: 800px;
    width: calc(100% - 90px) !important;
    transition: all 0.5s;
  }

  .listBodyTwo {
    height: 566px;
    width: 0;
    border: none;
    padding: 0;
    margin-left: 0 !important;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
  }

  .timu {
    background: url('../../../assets/HJJ/receive/itemLine.gif') no-repeat;
    background-size: 100% 100%;
    transition: all 0.5s;
    cursor: pointer;
  }

  .labNum {
    width: 80px;
    height: 90px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .labNum .num {
    line-height: 1;
    font-weight: bold;
    font-size: 40px;
    font-family: -webkit-pictograph;
    background-image: linear-gradient(180deg, #ffffff, #a6deff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .timu.timu1 .labNum {
  }

  .timu.timu1 .labNum .num {
    background-image: linear-gradient(to bottom, #fee0a3, #d76e2f);
  }

  .data {
    width: 80px;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    writing-mode: tb-rl;
    line-height: 84px;
    margin-top: 20px;
    letter-spacing: 23px;
    transition: all 0.5s;
    overflow: hidden;
    /*text-shadow: 2px 2px 2px #00182f;*/
    height: calc(100% - 140px);
  }

  .data1 {
    color: #fbd89b;
    text-shadow: 1px 1px 1px #000000;
  }

  .timu1 {
    background: url('../../../assets/HJJ/receive/itemLineOn.gif') no-repeat;
    background-size: 100% 100%;
  }
  .createDrillBtn {
    width: 96px;
    height: 30px;
    color: #e2f2ff;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    line-height: 28px;
    background-image: linear-gradient(#70a3b8, #4c7595);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    position: relative;
  }
}
.GD{
  .titleBg {
    background: url('../../../assets/GD/explain/titleBG.png') repeat;
    position: relative;
    height: 80px;
  }
}
.KJ{
  .listBodyTwo .ant-input{
    border: 1px solid;
    border-image: linear-gradient(to top,#c18360,#4e5058) 1 !important;
    background-image: linear-gradient(to top,#5e5950,#2d342d);
    box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.1) inset;
  }
  .titleBg{
    background: url("../../../assets/KJ/explain/titleBG.png") repeat;
    position: relative;
    height: 80px;
  }
  .titleBg::after{
    content: "";
    width: 100%;
    height: 38px;
    position: absolute;
    top: -14px;
    /*left: -117px;*/
    background: url("../../../assets/KJ/explain/titleBG-after.png") ;
    background-size: 100% 100%;
  }
  .title1 {
    width: calc((100% - 1064px) / 2);
    box-sizing: border-box;
  }

  .title2 {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding-top: 12px;
  }


  .titles {
    box-sizing: border-box;
    width: calc(100% - 192px);
    border-top: 2px solid #70a3b8;
  }
  @media (max-width: 1600px) {
    .titles {
      width: 100%;
    }
    .title1 img {
      display: none;
    }
  }

  .label {
    font-size: 18px;
    font-weight: 700;
    width: 230px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    transition: all 0.5s;
    color: #a9abaa;
  }

  .label:hover {
    background-image: url("../../../assets/KJ/explain/label-active.png");
    color: #ff9213;
    background-position: 100% 100%;
  }

  .labelS {
    background-image:url("../../../assets/KJ/explain/label-active.png");
    background-position: 100% 100%;
    color: #ff9213;
  }
  .label3 {
    width: 260px;
  }

  .list {
    position: relative;
    width: 80px;
    height: 566px;
    transition: all 0.5s;
  }


  .listBody {
    position: relative;
    height: 566px;
    max-width: 800px;
    width: calc(100% - 90px) !important;
    transition: all 0.5s;
  }

  .listBodyTwo {
    height: 566px;
    width: 0;
    border: none;
    padding: 0;
    margin-left: 0!important;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
  }

  .timu {
    background: url("../../../assets/KJ/receive/itemLine.gif") no-repeat;
    background-size: 100% 100%;
    transition: all 0.5s;
    cursor: pointer;

  }

  .labNum {
    width: 80px;
    height: 90px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .labNum .num {
    line-height: 1;
    font-weight: bold;
    font-size: 40px;
    font-family: -webkit-pictograph;
    background-image: linear-gradient(180deg, #c1f1e3, #0c4e38);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .timu.timu1 .labNum {

  }

  .timu.timu1 .labNum .num {
    background-image: linear-gradient(to bottom, #fee0a3, #d76e2f);
  }

  .data {
    width: 80px;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    writing-mode: tb-rl;
    line-height: 84px;
    margin-top: 20px;
    letter-spacing: 23px;
    transition: all 0.5s;
    overflow: hidden;
    /*text-shadow: 2px 2px 2px #00182f;*/
    height: calc(100% - 140px);
  }

  .data1 {
    color: #fbd89b;
    text-shadow: 1px 1px 1px #000000;
  }

  .timu1 {
    background: url("../../../assets/KJ/receive/itemLineOn.gif") no-repeat;
    background-size: 100% 100%;
  }
  .createDrillBtn {
    width: 96px;
    height: 30px;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    line-height: 28px;
    background-image: linear-gradient(#70a3b8, #4c7595);
    box-shadow: 2px 2px 3px rgba(0,0,0,.2);
    border-radius: 2px;
    position: relative;
  }
}