@import "../../../../../../common/styles/KJ/colorAll";
.HJ{
  .scoreBody {
    background-color: #122345;
  }
  .scoreBody:before, .scoreBody:after {
    content: '';
    width: 288px;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .scoreBody:before {
    background: url("../../../../../../assets/HJ/basicTheory/studyManage/analyze/zuo.png") no-repeat left;
    background-size: auto 100%;
    left: 0;
  }
  .scoreBody:after {
    background: url("../../../../../../assets/HJ/basicTheory/studyManage/analyze/you.png") no-repeat right;
    background-size: auto 100%;
    right: 0;
  }
  .main {
    padding: 12px;
    position: relative;
    z-index: 9;
  }
  .main_t {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .main_b {
    width: 100%;
    height: 220px;
  }
  .dataBox {
    width: 35%;
    min-width: 420px;
    max-width: 520px;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    padding: 0 6px 0 0;
    flex-direction: column;
  }
  .telegraphBox {
    width: 100%;
    height: 100%;
    padding: 0 0 0 6px;
  }

  .totalDesc {
    height: 32px;
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #a5b6d0;
  }
  .totalDesc .text {
    margin-right: 12px;
  }
  .patHairTrendBox {
    display: flex;
  }
  .patHairTrendBox .labs {
    font-size: 12px;
    color: #7b90af;
    padding: 0 5px 12px 0;
    flex-shrink: 0;
  }
  .patHairTrendBox .labs ._t {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .patHairTrendBox .labs ._t+._t {
    transform: scale(.88);
  }

  @media (max-width: 1300px) {
    .dataBox {
      min-width: 375px;
    }
    .dataBox .top {
      height: 130px;
    }
    .dataBox .top .score {
      font-size: 60px;
    }
    .chartBox {
      height: calc(100% - 202px);
    }
  }
  @media (max-width: 1160px) {
    .dataBox {
      min-width: 280px;
    }
    .dataBox .top {
      height: 100px;
    }
    .dataBox .top .score {
      font-size: 48px;
    }
    .chartBox {
      height: calc(100% - 172px);
    }
    .totalTable .lab {
      width: 72px;
    }
    .chartBox .tabs .tab .ico {
      display: none;
    }
    .chartBox .box {
      padding: 4px;
    }
    .patTelegraph .telegraph .key {
      font-size: 14px;
    }
    .telegraphBox .totalBox .total {
      width: 120px;
      background-size: 100% 100%;
    }
  }
}
.HJJ{
  .patHairTrend .times .time.key {
    border-top-color: #4c7595;
    background-color: #223241;
  }
  .patHairTrend .times .time.gap {
    border-top-color: #e2f2ff;
    background-color: rgba(226, 242, 255, 0.3);
    min-width: 12px;
    max-width: 500px;
  }
  .scoreBody {
    background-color: #122345;
  }
  .scoreBody:before,
  .scoreBody:after {
    content: '';
    width: 288px;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .scoreBody:before {
    background: url('../../../../../../assets/HJJ/basicTheory/studyManage/analyze/zuo.png') no-repeat left;
    background-size: auto 100%;
    left: 0;
  }
  .scoreBody:after {
    background: url('../../../../../../assets/HJJ/basicTheory/studyManage/analyze/you.png') no-repeat right;
    background-size: auto 100%;
    right: 0;
  }
  .main {
    position: relative;
    z-index: 9;
  }
  .main_t {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .main_b {
    width: 100%;
    height: 220px;
  }
  .dataBox {
    width: 35%;
    min-width: 420px;
    max-width: 520px;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    padding: 0 5px;
    flex-direction: column;
    background: url('../../../../../../assets/HJJ/postTrain/gardBg.png') no-repeat;
    background-size: 100% 100%;
  }
  .telegraphBox {
    width: 100%;
    height: 100%;
    padding: 0 5px;
  }

  .totalDesc {
    height: 32px;
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #7b90af;
  }
  .totalDesc .text {
    margin-right: 12px;
  }
}
.LJ{
  .patHairTrend .times .time.key {
    background-color: #0a4b15;
    border-color: #008b0d;
  }
  .patHairTrend .times .time.gap {
    border-top-color: #ffffff;
    background-color: rgba(226, 242, 255, 0.3);
    min-width: 12px;
    max-width: 500px;
  }

  .scoreBody {
    background-color: #122345;
  }
  .scoreBody:before,
  .scoreBody:after {
    content: '';
    width: 288px;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .scoreBody:before {
    background: url('../../../../../../assets/LJ/basicTheory/studyManage/analyze/zuo.png') no-repeat left;
    background-size: auto 100%;
    left: 0;
  }
  .scoreBody:after {
    background: url('../../../../../../assets/LJ/basicTheory/studyManage/analyze/you.png') no-repeat right;
    background-size: auto 100%;
    right: 0;
  }
  .main {
    position: relative;
    z-index: 9;
  }
  .main_t {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .main_b {
    width: 100%;
    height: 220px;
  }
  .dataBox {
    width: 35%;
    min-width: 420px;
    max-width: 520px;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    padding: 0 5px;
    flex-direction: column;
    background: url('../../../../../../assets/LJ/postTrain/gardBg.png') no-repeat;
    background-size: 100% 100%;
  }
  .telegraphBox {
    width: 100%;
    height: 100%;
    padding: 0 5px;
  }
  .totalDesc {
    height: 32px;
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #a9abaa;
  }
  .totalDesc .text {
    margin-right: 12px;
  }
}
.KJ{
  .ant-input{
    background: @maskbgColor!important;
    color: white;
    border: 1px solid @TableBtnColer!important;
  }
  .patHairTrend .times .time.key {
    background-color: #0a4b15;
    border-color: #008b0d;
  }
  .patHairTrend .times .time.gap {
    border-top-color: #ffffff;
    background-color: rgba(226, 242, 255, 0.3);
    min-width: 12px;
    max-width: 500px;
  }

  .scoreBody {
    background-color: #122345;
  }
  .scoreBody:before,
  .scoreBody:after {
    content: '';
    width: 288px;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .scoreBody:before {
    background: url('../../../../../../assets/KJ/basicTheory/studyManage/analyze/zuo.png') no-repeat left;
    background-size: auto 100%;
    left: 0;
  }
  .scoreBody:after {
    background: url('../../../../../../assets/KJ/basicTheory/studyManage/analyze/you.png') no-repeat right;
    background-size: auto 100%;
    right: 0;
  }
  .main {
    position: relative;
    z-index: 9;
  }
  .main_t {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .main_b {
    width: 100%;
    height: 220px;
  }
  .dataBox {
    width: 35%;
    min-width: 420px;
    max-width: 520px;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    padding: 0 5px;
    flex-direction: column;
    background: rgba(31, 67, 99, 0.3);
    background-size: 100% 100%;
  }
  .telegraphBox {
    width: 100%;
    height: 100%;
    padding: 0 5px;
  }
  .totalDesc {
    height: 32px;
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #a9abaa;
  }
  .totalDesc .text {
    margin-right: 12px;
  }
}