.HJ{
  .basicExercise .tipSymbol {
    border: 1px solid rgba(255, 255, 213, .4);
    padding: 6px 8px 10px;
    background: url("../../../../../../assets/HJ/train/hint-bg.png") no-repeat center bottom;
    margin-bottom: 8px;
    font-size: 12px;
  }
  .basicExercise .tipSymbol .symItem {
    height: 25px;
    display: flex;
    align-items: center;
    color: #ffffd5;
  }
  .basicExercise .tipSymbol .symItem .space {
    height: 2px;
    width: 12px;
  }
  .basicExercise .tipSymbol .symItem .val {
    height: 4px;
    border-radius: 4px;
    flex-shrink: 0;
    background-color: #ffffd5;
  }
  .keyErr::before {
    position: absolute;
    width: 36px;
    height: 56px;
    background: url("../../../../../../assets/HJ/postTrain/keyErrorBg-l.png") no-repeat center;
    content: "";
    left: -36px;
  }
  .keyErr::after {
    position: absolute;
    width: 16px;
    background: url("../../../../../../assets/HJ/postTrain/keyErrorBg-r.png") no-repeat center;
    height: 56px;
    right: -16px;
    top: 0px;
    content: "";
  }
  .keyErr  {
    position: absolute;
    left: 30%;
    background: url("../../../../../../assets/HJ/postTrain/keyErrorBg.png");
    line-height: 31px;
    font-size: 14px;
    top: -35px;
    width: max-content;
    z-index: 2;
    display: none;
  }
  .term:hover .keyErr{
    display: block;
  }
  .meaning:hover .keyErr{
    display: block;
  }
  @keyframes bg {
    0%{
      background: rgba(0,0,0,0);
    }
    50%{background: #5c72a0}
    100%{background: rgba(0,0,0,0);}

  }
  .interfere{
    background: url("../../../../../../assets/HJ/postTrain/interfere.png") no-repeat;
    width: 100%;
    height:70px ;
    text-align: center;
    line-height: 70px;
    color: #89a1c5;
    font-size: 18px;
    font-weight: bold;
  }
  .error{
    color: red!important;
  }
  .inputs{
    color: white;
    text-align: center;
    height: 30px;
    font-size: 16px;
    white-space: nowrap;
    overflow: auto;
  }
  .inputs:empty::before{
    content: attr(placeholder);
    color:rgba(123,144,175,0.7) ;
    line-height: 30px;
  }
  input{
    border: 0px solid transparent !important;
    background: rgba(0,0,0,0) !important;
    text-align: center;
    font-size: 14px!important;
  }
  input::placeholder{
    color:rgba(123,144,175,0.4) !important;
    text-align: center;
  }
  .topBG{
    background: url("../../../../../../assets/HJ/postTrain/top.png");
    background-size: 100% 100%;
  }
  .cardLeft{
    height: 109px;
    width: 112px;
    background-image: url("../../../../../../assets/HJ/postTrain/wordingCardL.png");
    background-repeat: no-repeat;
  }
  .cardRight{
    height: 109px;
    width: 112px;
    font-size: 13px;
    text-align: center;
    padding-right: 10px;
    background-image: url("../../../../../../assets/HJ/postTrain/wordingCardR.png");
    background-repeat: no-repeat;
  }
  .cardCenter{
    height: 109px;
    background-image: url("../../../../../../assets/HJ/postTrain/wordingCenter.png");
    background-repeat: repeat;
    flex: 1;
  }
  .active .cardLeft{background-image: url("../../../../../../assets/HJ/postTrain/wordingLeft-active.png");}
  .active .cardRight{background-image: url("../../../../../../assets/HJ/postTrain/wordingRight-active.png");}
  .active .cardCenter{background-image: url("../../../../../../assets/HJ/postTrain/wordingCenter-active.png");}
  .active .text{color:#7d1a10;font-weight: bold }
  .center{
    width: calc(100% - 28px);
    margin: 0 auto;
    background:url("../../../../../../assets/HJ/postTrain/bg.png") repeat;
    padding: 10px;
  }
  .codebottom{
    width: 100%;
    height: 78px;
    background: url("../../../../../../assets/HJ/postTrain/bottom.png");
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
  }
  .active{
    /*animation: bg 2s infinite;*/
  }
  .disturbDeploy {
    padding-top: 0px;
  }
  .disturbItem {
    width: 100%;
    height: 97px;
    background: url("../../../../../../assets/HJ/term/distrubBg.png") no-repeat center;
    background-size: 100% 100%;
    margin-bottom: 20px;
    position: relative;
  }
  .disturbItem .text {
    font-size: 12px;
    color: #fff;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 50px;
    position: absolute;
    left: 24px;
    top: 4px;
  }
  .disturbItem .cont {
    display: flex;
    height: 48px;
    align-items: center;
    padding: 0 10px 0 20px;
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 12px;
  }
  .disturbItem .cont .l {
    margin: 4px 16px 0 0;
    cursor: pointer;
  }
  .disturbItem .cont .r {
    margin: 4px 0 0 16px;
    cursor: pointer;
  }
  .volumeSlider.voice {
    width: 100%;
    padding-bottom: 12px;
    border-left: 1px solid #354971;
    border-right: 1px solid #354971;
    margin-top: 6px;
  }
  @media (max-width: 1300px)  {
    .trainLeft,
    .flipContainer .totalBoxs {
      width: 260px;
    }
    .mainBox {
      width: calc(100% - 260px) !important;
    }
  }
}
.HJJ{
  .keyErr::before {
    position: absolute;
    width: 36px;
    height: 56px;
    background: url('../../../../../../assets/HJJ/postTrain/keyErrorBg-l.png') no-repeat center;
    content: '';
    left: -36px;
  }
  .keyErr::after {
    position: absolute;
    width: 16px;
    background: url('../../../../../../assets/HJJ/postTrain/keyErrorBg-r.png') no-repeat center;
    height: 56px;
    right: -16px;
    top: 0px;
    content: '';
  }
  .keyErr {
    position: absolute;
    left: 30%;
    background: url('../../../../../../assets/HJJ/postTrain/keyErrorBg.png');
    line-height: 31px;
    top: -35px;
    width: max-content;
    z-index: 2;
    display: none;
  }
  .term:hover .keyErr {
    display: block;
  }
  .meaning:hover .keyErr {
    display: block;
  }
  @keyframes bg {
    0% {
      background: rgba(0, 0, 0, 0);
    }
    50% {
      background: #5c72a0;
    }
    100% {
      background: rgba(0, 0, 0, 0);
    }
  }
  .interfere {
    background: url('../../../../../../assets/HJJ/postTrain/interfere.png') no-repeat;
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: #89a1c5;
    font-size: 18px;
    font-weight: bold;
    background-size: 100% 100%;
    margin-bottom: 100px;
  }
  .error {
    color: red !important;
  }
  .inputs {
    color: white;
    text-align: center;
    height: 30px;
    font-size: 16px;
    white-space: nowrap;
    overflow: auto;
  }
  .border-btb {
    border-bottom: 1px solid #42596e;
    overflow-y: hidden;
  }
  .inputs:empty::before {
    content: attr(placeholder);
    color: rgba(123, 144, 175, 0.4);
    line-height: 30px;
  }
  .acItem .inputs:empty::before {
    content: attr(placeholder);
    color: #e9deb2;
  }
  input {
    border: 0px solid transparent !important;
    background: rgba(0, 0, 0, 0) !important;
    text-align: center;
    font-size: 14px !important;
  }
  input::placeholder {
    color: rgba(123, 144, 175, 0.4) !important;
    text-align: center;
  }
  .top {
    background: url('../../../../../../assets/HJJ/postTrain/top.png');
    background-size: 100% 100%;
  }
  .cardbox {
    background: url('../../../../../../assets/HJJ/postTrain/cardBg.png');
    background-size: 100% 100%;
  }
  .active {
    background: url('../../../../../../assets/HJJ/postTrain/cardBg-active.png');
    background-size: 100% 100%;
  }
  .cardLeft {
    height: 109px;
    width: 112px;
    padding-left: 12px;
    color: #bfcde0;
    font-size: 14px;
  }
  .cardRight {
    height: 109px;
    width: 112px;
    text-align: center;
    padding-right: 10px;
  }
  .cardCenter {
    height: 109px;
    flex: 1;
  }
  .active .text {
    color: #ffffff;
    font-weight: bold;
  }
  .center {
    width: calc(100% - 28px);
    margin: 0 auto;
    padding: 10px;
  }
  .codebottom {
    width: 100%;
    height: 78px;
    background: url('../../../../../../assets/HJJ/postTrain/bottom.png');
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
  }
  .active {
    /*animation: bg 2s infinite;*/
  }
  .stateBox {
    font-size: 14px;
    font-weight: bold;
  }
  .disturbDeploy {
    padding-top: 0px;
  }
  .disturbItem {
    width: 100%;
    height: 97px;
    background: url('../../../../../../assets/HJJ/term/distrubBg.png') no-repeat center;
    background-size: 100% 100%;
    margin-bottom: 20px;
    position: relative;
  }
  .disturbItem .text {
    font-size: 12px;
    color: #fff;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 50px;
    position: absolute;
    left: calc(50% - 25px);
    top: 8px;
  }
  .disturbItem .cont {
    display: flex;
    height: 48px;
    align-items: center;
    /*padding: 0 10px 0 20px;*/
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 12px;
  }
  .disturbItem .cont .l {
    margin: 4px 16px 0 0;
    cursor: pointer;
  }
  .disturbItem .cont .r {
    margin: 4px 0 0 16px;
    cursor: pointer;
  }
  .volumeSlider.voice {
    width: 100%;
    padding-bottom: 12px;
    border-left: 1px solid #354971;
    border-right: 1px solid #354971;
    margin-top: 6px;
  }
}
.LJ{
  .keyErr::before {
    position: absolute;
    width: 36px;
    height: 56px;
    background: url('../../../../../../assets/LJ/postTrain/keyErrorBg-l.png') no-repeat center;
    content: '';
    left: -36px;
  }

  .keyErr::after {
    position: absolute;
    width: 16px;
    background: url('../../../../../../assets/LJ/postTrain/keyErrorBg-r.png') no-repeat center;
    height: 56px;
    right: -16px;
    top: 0px;
    content: '';
  }

  .keyErr {
    position: absolute;
    left: 30%;
    background: url('../../../../../../assets/LJ/postTrain/keyErrorBg.png');
    line-height: 31px;
    top: -35px;
    width: max-content;
    z-index: 2;
    display: none;
  }

  .term:hover .keyErr {
    display: block;
  }

  .meaning:hover .keyErr {
    display: block;
  }

  @keyframes bg {
    0% {
      background: rgba(0, 0, 0, 0);
    }
    50% {
      background: #5c72a0;
    }
    100% {
      background: rgba(0, 0, 0, 0);
    }
  }

  .interfere {
    background: url('../../../../../../assets/LJ/postTrain/interfere.png') no-repeat;
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: #89a1c5;
    font-size: 18px;
    font-weight: bold;
    background-size: 100% 100%;
    margin-bottom: 100px;
  }

  .error {
    color: red !important;
  }

  .inputs {
    color: white;
    text-align: center;
    height: 30px;
    font-size: 16px;
    white-space: nowrap;
    overflow: auto;
  }

  .border-btb {
    border-bottom: 1px solid rgb(69, 76, 72);
    overflow-y: hidden;
  }

  .inputs:empty::before {
    content: attr(placeholder);
    color: #6e7471;
    line-height: 30px;
  }

  .acItem .inputs:empty::before {
    content: attr(placeholder);
    color: #e9deb2;
  }

  input {
    border: 0px solid transparent !important;
    background: rgba(0, 0, 0, 0) !important;
    text-align: center;
    font-size: 14px !important;
  }

  input::placeholder {
    color: #6e7471 !important;
    text-align: center;
  }

  .top {
    background: url('../../../../../../assets/LJ/postTrain/top.png');
    background-size: 100% 100%;
  }

  .cardbox {
    background: url('../../../../../../assets/LJ/postTrain/cardBg.png');
    background-size: 100% 100%;
  }

  .active {
    background: url('../../../../../../assets/LJ/postTrain/cardBg-active.png');
    background-size: 100% 100%;
  }

  .cardLeft {
    height: 109px;
    width: 112px;
    padding-left: 12px;
    color: #fff;
    font-size: 14px;
  }

  .cardRight {
    height: 109px;
    width: 112px;
    text-align: center;
    padding-right: 10px;
  }

  .cardCenter {
    height: 109px;
    flex: 1;
  }

  .active .text {
    color: #ffffff;
    font-weight: bold;
  }

  .center {
    width: calc(100% - 28px);
    margin: 0 auto;
    padding: 10px;
  }

  .codebottom {
    width: 100%;
    height: 78px;
    background: url('../../../../../../assets/LJ/postTrain/bottom.png');
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
  }

  .active {
    /*animation: bg 2s infinite;*/
  }

  .stateBox {
    font-size: 14px;
    font-weight: bold;
  }

  .disturbDeploy {
    padding-top: 0px;
  }

  .disturbItem {
    width: 100%;
    height: 97px;
    background: url('../../../../../../assets/LJ/term/distrubBg.png') no-repeat center;
    background-size: 100% 100%;
    margin-bottom: 20px;
    position: relative;
  }

  .disturbItem .text {
    font-size: 12px;
    color: #fff;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 50px;
    position: absolute;
    left: calc(50% - 25px);
    top: 8px;
  }

  .disturbItem .cont {
    display: flex;
    height: 48px;
    align-items: center;
    /*padding: 0 10px 0 20px;*/
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 12px;
  }

  .disturbItem .cont .l {
    margin: 4px 16px 0 0;
    cursor: pointer;
  }

  .disturbItem .cont .r {
    margin: 4px 0 0 16px;
    cursor: pointer;
  }

  .volumeSlider.voice {
    width: 100%;
    padding-bottom: 12px;
    border-left: 1px solid #2f3731;
    border-right: 1px solid #2f3731;
    margin-top: 6px;
  }
  .trainTime .desc {
    position: absolute;
    top: 5px;
    left: auto;
    color: #fff;
    font-size: 12px;
    padding-bottom: 16px;
    text-align: center;
  }
}
.KJ{
  .keyErr::before {
    position: absolute;
    width: 36px;
    height: 56px;
    background: url('../../../../../../assets/KJ/postTrain/keyErrorBg-l.png') no-repeat center;
    content: '';
    left: -36px;
  }

  .keyErr::after {
    position: absolute;
    width: 16px;
    background: url('../../../../../../assets/KJ/postTrain/keyErrorBg-r.png') no-repeat center;
    height: 56px;
    right: -16px;
    top: 0px;
    content: '';
  }

  .keyErr {
    position: absolute;
    left: 30%;
    background: url('../../../../../../assets/KJ/postTrain/keyErrorBg.png');
    line-height: 31px;
    top: -35px;
    width: max-content;
    z-index: 2;
    display: none;
  }

  .term:hover .keyErr {
    display: block;
  }

  .meaning:hover .keyErr {
    display: block;
  }

  @keyframes bg {
    0% {
      background: rgba(0, 0, 0, 0);
    }
    50% {
      background: #5c72a0;
    }
    100% {
      background: rgba(0, 0, 0, 0);
    }
  }

  .interfere {
    background: url('../../../../../../assets/KJ/postTrain/interfere.png') no-repeat;
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: #89a1c5;
    font-size: 18px;
    font-weight: bold;
    background-size: 100% 100%;
    margin-bottom: 100px;
  }

  .error {
    color: red !important;
  }

  .inputs {
    color: white;
    text-align: center;
    height: 30px;
    font-size: 16px;
    white-space: nowrap;
    overflow: auto;
  }

  .border-btb {
    border-bottom: 1px solid rgb(69, 76, 72);
    overflow-y: hidden;
  }

  .inputs:empty::before {
    content: attr(placeholder);
    color: #6e7471;
    line-height: 30px;
  }

  .acItem .inputs:empty::before {
    content: attr(placeholder);
    color: #e9deb2;
  }

  input {
    border: 0px solid transparent !important;
    background: rgba(0, 0, 0, 0) !important;
    text-align: center;
    font-size: 14px !important;
  }

  input::placeholder {
    color: #6e7471 !important;
    text-align: center;
  }

  .top {
    background: url('../../../../../../assets/KJ/postTrain/top.png');
    background-size: 100% 100%;
  }

  .cardbox {
    background: url('../../../../../../assets/KJ/postTrain/cardBg.png');
    background-size: 100% 100%;
  }

  .active {
    background: url('../../../../../../assets/KJ/postTrain/cardBg-active.png');
    background-size: 100% 100%;
  }

  .cardLeft {
    height: 109px;
    width: 112px;
    padding-left: 12px;
    color: #fff;
    font-size: 14px;
  }

  .cardRight {
    height: 109px;
    width: 112px;
    text-align: center;
    padding-right: 10px;
  }

  .cardCenter {
    height: 109px;
    flex: 1;
  }

  .active .text {
    color: #ffffff;
    font-weight: bold;
  }

  .center {
    width: calc(100% - 28px);
    margin: 0 auto;
    padding: 10px;
  }

  .codebottom {
    width: 100%;
    height: 78px;
    background: url('../../../../../../assets/KJ/postTrain/bottom.png');
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
  }

  .active {
    /*animation: bg 2s infinite;*/
  }

  .stateBox {
    font-size: 14px;
    font-weight: bold;
  }

  .disturbDeploy {
    padding-top: 0px;
  }

  .disturbItem {
    width: 100%;
    height: 97px;
    background: url('../../../../../../assets/KJ/term/distrubBg.png') no-repeat center;
    background-size: 100% 100%;
    margin-bottom: 20px;
    position: relative;
  }

  .disturbItem .text {
    font-size: 12px;
    color: #fff;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 50px;
    position: absolute;
    left: calc(50% - 25px);
    top: 8px;
  }

  .disturbItem .cont {
    display: flex;
    height: 48px;
    align-items: center;
    /*padding: 0 10px 0 20px;*/
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 12px;
  }

  .disturbItem .cont .l {
    margin: 4px 16px 0 0;
    cursor: pointer;
  }

  .disturbItem .cont .r {
    margin: 4px 0 0 16px;
    cursor: pointer;
  }

  .volumeSlider.voice {
    width: 100%;
    padding-bottom: 12px;
    border-left: 1px solid #2f3731;
    border-right: 1px solid #2f3731;
    margin-top: 6px;
  }
  .trainTime .desc {
    position: absolute;
    top: 5px;
    left: auto;
    color: #fff;
    font-size: 12px;
    padding-bottom: 16px;
    text-align: center;
  }
}
.trainBoxs {
  display: flex;
}
@media (max-width: 1520px) {
  .trainCenter .handKeyImg .handKey {
    width: 480px;
    margin-left: -240px;
  }
  .trainCenter .handKeyImg .handShank {
    width: 366px;
    left: 86px;
    top: 9px;
  }
  .trainCenter .handKeyImg .handShank.up {
    left: 81px;
    top: 11px;
  }
}

@media (max-width: 1440px) {
  .achievement {
    transform: scale(.9);
  }
  .trainCenter .handKeyImg .handKey {
    width: 420px;
    margin-left: -210px;
  }
  .trainCenter .handKeyImg .handShank {
    width: 317px;
    left: 77px;
    top: 12px;
  }
  .trainCenter .handKeyImg .handShank.up {
    left: 73px;
    top: 14px;
  }
}

@media (max-width: 1320px) {
  .handKeyLogs {
    display: none;
  }
}

@media (max-width: 1220px) {
  .achievement {
    transform: scale(.8);
  }
  .trainCenter .handKeyImg .handKey {
    width: 300px;
    margin-left: -150px;
  }
  .trainCenter .handKeyImg .handShank {
    width: 226px;
    left: 55px;
    top: 20px;
  }
  .trainCenter .handKeyImg .handShank.up {
    left: 52px;
    top: 22px;
  }
}

@media (max-width: 1100px) {
  .achievement {
    transform: scale(.72);
  }
}