.HJ{
  .color1{color: #7b90af}
  .bg1{background: #354971}
  .bg2{background: #6ebdff}
  .border1{ border-right: 1px solid #354971;}
  ::-webkit-scrollbar {
    display: none !important;
  }
  :deep(.ant-input) {
    border: 1px solid #354971 !important;
    background-color: #0d1c38 !important;
    padding: 0px !important;
  }
  @keyframes glint {
    0% {
      -webkit-box-shadow: inset 0 0 4px rgba(110, 189, 255, 0.2);
      box-shadow: inset 0 0 4px rgba(110, 189, 255, 0.2);
    }
    25% {
      -webkit-box-shadow: inset 0 0 8px rgba(110, 189, 255, 0.4);
      box-shadow: inset 0 0 10px rgba(110, 189, 255, 0.4);
    }
    50% {
      -webkit-box-shadow: inset 0 0 16px rgba(110, 189, 255, 0.8);
      box-shadow: inset 0 0 20px rgba(110, 189, 255, 0.8);
    }
    75% {
      -webkit-box-shadow: inset 0 0 8px rgba(110, 189, 255, 0.4);
      box-shadow: inset 0 0 10px rgba(110, 189, 255, 0.4);
    }
    100% {
      -webkit-box-shadow: inset 0 0 4px rgba(110, 189, 255, 0.2);
      box-shadow: inset 0 0 4px rgba(110, 189, 255, 0.2);
    }
  }
  .rightscale {
    width: 100%;
    height: 98px;
  }
  .righttop {
    background: url('../../../../../../assets/HJ/telexTrain/telegram/top.png') no-repeat;
    border: 0px !important;
    background-position: right;
  }
  .rightbottom {
    background: url('../../../../../../assets/HJ/telexTrain/telegram/bottom.png')
    no-repeat;
    background-position: right;
    border: 0px !important;
  }
  .telexTrainBox {
    /*background: #132649;*/
  }

  .statisticsBox {
    position: absolute;
    top: 10px;
    left: 30px;
    z-index: 6;
  }
  .trainTime {
    height: 54px;
    width: 278px;
    background: url('../../../../../../assets/HJ/receive/trainTime.gif') no-repeat
    center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
  }
  .cool .trainTime {
    background: url('../../../../../../assets/HJ/receive/trainTime.png') no-repeat
    center;
  }
  .trainTime .timeNum {
    width: 29px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 6px;
  }
  .trainTime .timeNum .num {
    height: 40px;
    font-size: 28px;
    line-height: 40px;
    overflow: hidden;
    display: flex;
    text-align: center;
    color: #dbe5fa;
  }
}
.HJJ{
  .color1{color: #7b90af}
  .bg1{background: #354971}
  .bg2{background: #6ebdff}
  .border1{ border-right: 1px solid #354971;}
  ::-webkit-scrollbar {
    display: none !important;
  }
  :deep(.ant-input) {
    padding: 0px !important;
  }
  :deep(.ant-input-disabled)  {
    border-bottom: 1px solid rgba(198, 187, 187, 0.5) !important;
    color: #b8a5a5 !important;
  }
  @keyframes glint {
    0% {
      -webkit-box-shadow: inset 0 0 4px rgba(110, 189, 255, 0.2);
      box-shadow: inset 0 0 4px rgba(110, 189, 255, 0.2);
    }
    25% {
      -webkit-box-shadow: inset 0 0 8px rgba(110, 189, 255, 0.4);
      box-shadow: inset 0 0 10px rgba(110, 189, 255, 0.4);
    }
    50% {
      -webkit-box-shadow: inset 0 0 16px rgba(110, 189, 255, 0.8);
      box-shadow: inset 0 0 20px rgba(110, 189, 255, 0.8);
    }
    75% {
      -webkit-box-shadow: inset 0 0 8px rgba(110, 189, 255, 0.4);
      box-shadow: inset 0 0 10px rgba(110, 189, 255, 0.4);
    }
    100% {
      -webkit-box-shadow: inset 0 0 4px rgba(110, 189, 255, 0.2);
      box-shadow: inset 0 0 4px rgba(110, 189, 255, 0.2);
    }
  }
  .rightscale {
    width: 100%;
    height: 98px;
  }
  .righttop {
    background: url('../../../../../../assets/HJJ/telexTrain/telegram/top.png') no-repeat;
    border: 0px !important;
    background-position: right;
  }
  .rightbottom {
    background: url('../../../../../../assets/HJJ/telexTrain/telegram/bottom.png') no-repeat;
    background-position: right;
    border: 0px !important;
  }
  .telexTrainBox {
    /*background: #132649;*/
  }

  .statisticsBox {
    position: absolute;
    top: 10px;
    left: 30px;
    z-index: 6;
  }
}
.LJ{
  .color1{color: #a9abaa}
  .bg1{background: #3F4F45}
  .bg2{background: #97cbb5}
  .border1{ border-right: 1px solid #3F4F45;}

  ::-webkit-scrollbar{
    display: none!important;
  }
  :deep(.ant-input){
    padding: 0px!important;
  }
  :deep(.ant-input-disabled){
    border-bottom: 1px solid rgba(198, 187, 187, 0.5) !important;
    color: #b8a5a5!important;
  }
  @keyframes glint{
    0% {-webkit-box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);}
    25% {-webkit-box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);}
    50% {-webkit-box-shadow: inset 0 0 16px rgba(233, 222, 178, .8);box-shadow: inset 0 0 16px rgba(233, 222, 178, .8);}
    75% {-webkit-box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);}
    100% {-webkit-box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);}
  }

  .rightscale{
    width: 100%;
    height: 98px;
  }
  .righttop{
    background: url("../../../../../../assets/LJ/telexTrain/telegram/top.png") no-repeat;
    border: 0px !important;
    background-position: right;
  }
  .rightbottom{
    background: url("../../../../../../assets/LJ/telexTrain/telegram/bottom.png") no-repeat;
    background-position: right;
    border: 0px !important;
  }
  .telexTrainBox{
    /*background: #132649;*/
  }
  .statisticsBox {
    position: absolute;
    top: 10px;
    left: 30px;
    z-index: 6;
  }
}
.KJ{
  .color1{color: #a9abaa}
  .bg1{background: #3F4F45}
  .bg2{background: #97cbb5}
  .border1{ border-right: 1px solid #3F4F45;}

  ::-webkit-scrollbar{
    display: none!important;
  }
  :deep(.ant-input){
    padding: 0px!important;
  }
  :deep(.ant-input-disabled){
    border-bottom: 1px solid rgba(198, 187, 187, 0.5) !important;
    color: #b8a5a5!important;
  }
  @keyframes glint{
    0% {-webkit-box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);}
    25% {-webkit-box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);}
    50% {-webkit-box-shadow: inset 0 0 16px rgba(233, 222, 178, .8);box-shadow: inset 0 0 16px rgba(233, 222, 178, .8);}
    75% {-webkit-box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);}
    100% {-webkit-box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);}
  }

  .rightscale{
    width: 100%;
    height: 98px;
  }
  .righttop{
    background: url("../../../../../../assets/KJ/telexTrain/telegram/top.png") no-repeat;
    border: 0px !important;
    background-position: right;
  }
  .rightbottom{
    background: url("../../../../../../assets/KJ/telexTrain/telegram/bottom.png") no-repeat;
    background-position: right;
    border: 0px !important;
  }
  .telexTrainBox{
    /*background: #132649;*/
  }
  .statisticsBox {
    position: absolute;
    top: 10px;
    left: 30px;
    z-index: 6;
  }
}