@KJbgColer: #508de6;//空军主题色
@TableBtnColer: rgba(80,141,230,0.6);//空军表格操作栏颜色
@TableBtnColer2: rgba(80,141,230,0.4);//空军分页器颜色
@pageNationColer: rgba(80,141,230,0.2);//空军分页器颜色
@maskbgColor: rgba(31, 67, 99, 0.3);//阴影遮罩背景色
@tox-menubar:rgba(31, 67, 99, 0.6);//富文本框tab栏颜色
@tox-menu:rgba(31, 67, 99, 1);//富文本框menu栏颜色

@radioBg:#29527e;//单选框颜色

@modelBG:#07283c;//模态框背景色
@datePickBg:#29527e;//时间选择框背景色
@datePickBg2:rgba(80,141,230,0.8);//时间选择框背景色
