//
.HJ{
  .messageBox {
    width: 100%;
    border: 1px solid #354971;
    padding: 0 5px 10px;
    margin: 4px 6px 8px 6px;
    height: max-content;
    background-color: #122548;
    box-shadow: inset 0 60px 30px -60px rgb(26 53 107);
  }
  .messageBox.big {
    border: none;
    background-color: transparent;
    box-shadow: inset 0 0 10px 10px #192e52;
    position: relative;
    max-height: 248px;
    padding: 10px 5px 16px;
  }
  .messageBox.big:before,
  .messageBox.big:after {
    content: '';
    width: 130px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 6;
  }
  .messageBox.big:before {
    background: url('../../../../assets/HJ/preTrain/val-left-bg.png') no-repeat
    left center;
    background-size: auto 100%;
    left: 0;
  }
  .messageBox.big:after {
    background: url('../../../../assets/HJ/preTrain/val-right-bg.png') no-repeat
    right center;
    background-size: auto 100%;
    right: 0;
  }
  .erroyMessageBox {
    background: url('../../../../assets/HJ/train/key-err-bg.jpg') no-repeat top
    center;
  }
  .activeBox {
    background: url('../../../../assets/HJ/train/key-bg.jpg') no-repeat top center;
    animation: glint 2s linear infinite;
    -webkit-animation: glint 2s linear infinite;
  }
  .activeBox input {
    background: #ffffff;
    color: #0a1a35;
  }
  .imgBox {
    /*height: 60px;*/
    height: 48px;
    width: 100%;
    padding: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    position: relative;
    z-index: 9;
  }
  .imgBox img {
    width: 30%;
    margin-left: -4px;
  }

  .messageBox.big .imgBox img {
    max-height: 150px;
  }
  .value {
    width: 100%;
    height: 26px;
    border: 1px solid #354971;
    background-color: #0d1c38;
    display: flex;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 8;
  }
  .messageBox.big .value {
    height: 40px;
    width: calc(100% - 40px);
    margin: 8px auto 0;
    font-size: 24px;
    /*width: 100%;*/
    /*height: 40px;*/
    border: 1px solid #354971;
    background-color: #0d1c38;
    display: flex;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 8;
  }
}
.HJJ{

  .messageBox {
    width: 100%;
    padding: 0 5px 10px;
    margin: 4px 6px 8px 6px;
    height: max-content;
    border: 2px solid;
    border-image: linear-gradient(rgba(59, 86, 113, 0.5), #1e2e41) 1 1;
    background: url('../../../../assets/HJJ/train/messageBoxBg.png') repeat;
  }

  .messageBox.big {
    border: none;
    position: relative;
    max-height: 248px;
    padding: 10px 5px 16px;
    background: url('../../../../assets/HJJ/train/bigCardBg.png') no-repeat;
    background-size: 100% 100%;
  }
  .messageBox.big:before,
  .messageBox.big:after {
    content: '';
    width: 130px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 6;
  }
  .erroyMessageBox {
    background: url('../../../../assets/HJJ/train/key-err-bg.jpg') no-repeat top center;
  }
  .activeBox {
    /*background: url('../../../../assets/HJJ/train/key-bg.jpg') no-repeat top center;*/
    background: url('../../../../assets/HJJ/train/messageBoxActive.png') repeat;
    animation: glint 2s linear infinite;
    -webkit-animation: glint 2s linear infinite;
  }
  .activeBox input {
    background: #ffffff;
    color: #0a1a35;
  }
  .imgBox {
    /*height: 60px;*/
    height: 48px;
    width: 100%;
    padding: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    position: relative;
    z-index: 9;
  }
  .imgBox img {
    width: 30%;
    margin-left: -4px;
  }

  .messageBox.big .imgBox img {
    max-height: 150px;
  }
  .value {
    width: 100%;
    height: 26px;
    border: 1px solid #354971;
    background-color: #141e28;
    display: flex;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 8;
  }
  .messageBox.big .value {
    height: 40px;
    width: calc(100% - 40px);
    margin: 8px auto 0;
    font-size: 24px;
  }
}
.LJ{
  .messageBox{
    width: 100%;
    padding: 0 5px 10px;
    margin: 4px 6px 8px 6px;
    height: max-content;
    border: 2px solid;
    border-image: linear-gradient(rgb(146 167 146 / 50%), #253a27) 1 1;
    background:url("../../../../assets/LJ/train/messageBoxBg.png") repeat;
  }

  .messageBox.big{
    border: none;
    position: relative;
    max-height: 248px;
    padding: 10px 5px 16px;
    background: url("../../../../assets/LJ/train/bigCardBg.png") no-repeat;
    background-size: 100% 100%;
  }
  .messageBox.big:before,
  .messageBox.big:after{
    content: '';
    width: 130px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 6;
  }
  .erroyMessageBox{
    background: url("../../../../assets/LJ/train/key-err-bg.jpg") no-repeat top center;
  }
  .activeBox{
    /*background: url('../../../../assets/LJ/train/key-bg.jpg') no-repeat top center;*/
    background: url("../../../../assets/LJ/train/messageBoxActive.png") repeat;
    animation: glint 2s linear infinite;
    -webkit-animation: glint 2s linear infinite;
  }
  .activeBox input{
    background: #ffffff;
    color: #0a1a35;
  }
  .imgBox{
    /*height: 60px;*/
    height: 48px;
    width: 100%;
    padding: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    position: relative;
    z-index: 9;
  }
  .imgBox img{
    width: 30%;
    margin-left: -4px;
  }

  .messageBox.big .imgBox img{
    max-height: 150px;
  }
  .value{
    width: 100%;
    height: 26px;
    display: flex;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 8;
    border: 1px solid #757165;
    background-color: #181A19 !important;
    color: #fff;
  }
  .messageBox.big .value {
    height: 40px;
    width: calc(100% - 40px);
    margin: 8px auto 0;
    font-size: 24px;
  }
}
.KJ{
  .messageBox{
    width: 100%;
    padding: 0 5px 10px;
    margin: 4px 6px 8px 6px;
    height: max-content;
    border: 2px solid;
    border-image: linear-gradient(rgb(146 167 146 / 50%), #253a27) 1 1;
    background:url("../../../../assets/KJ/train/messageBoxBg.png") repeat;
  }

  .messageBox.big{
    border: none;
    position: relative;
    max-height: 248px;
    padding: 10px 5px 16px;
    background: url("../../../../assets/KJ/train/bigCardBg.png") no-repeat;
    background-size: 100% 100%;
  }
  .messageBox.big:before,
  .messageBox.big:after{
    content: '';
    width: 130px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 6;
  }
  .erroyMessageBox{
    background: url("../../../../assets/KJ/train/key-err-bg.jpg") no-repeat top center;
  }
  .activeBox{
    /*background: url('../../../../assets/KJ/train/key-bg.jpg') no-repeat top center;*/
    background: url("../../../../assets/KJ/train/messageBoxActive.png") repeat;
    animation: glint 2s linear infinite;
    -webkit-animation: glint 2s linear infinite;
  }
  .activeBox input{
    background: #ffffff;
    color: #0a1a35;
  }
  .imgBox{
    /*height: 60px;*/
    height: 48px;
    width: 100%;
    padding: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    position: relative;
    z-index: 9;
  }
  .imgBox img{
    width: 30%;
    margin-left: -4px;
  }

  .messageBox.big .imgBox img{
    max-height: 150px;
  }
  .value{
    width: 100%;
    height: 26px;
    display: flex;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 8;
    border: 1px solid #757165;
    background-color: #07283c !important;
    color: #fff;
  }
  .messageBox.big .value {
    height: 40px;
    width: calc(100% - 40px);
    margin: 8px auto 0;
    font-size: 24px;
  }
}