@import "../../postJob/css/addTrainStyle.less";
.HJ,.HJJ{
  .textColor{
    color: #7b90af;
  }
  .groupBoxs {
    position: relative;
    border: 1px solid #3d586f;
    margin-top: 20px;
    padding-bottom: 8px;
  }
  .groupBoxs .groupTitle {
    font-size: 13px;
    color: #bbcdef;
    line-height: 20px;
    padding: 0 10px;
    background-color: #2e4559;
    position: absolute;
    left: 10px;
    top: -10px;
  }
  .init_modal_style  .ant-modal-footer {
    border-top: none !important;
  }
}

.LJ{
  .textColor{
    color: #a9abaa;
  }
  .groupBoxs {
    position: relative;
    border: 1px solid #3d586f;
    margin-top: 20px;
    padding-bottom: 8px;
  }
  .groupBoxs .groupTitle {
    font-size: 13px;
    color: #bbcdef;
    line-height: 20px;
    padding: 0 10px;
    background-color: #2e4559;
    position: absolute;
    left: 10px;
    top: -10px;
  }
  .init_modal_style  .ant-modal-footer {
    border-top: none !important;
  }
}