.HJ{
  :deep(.ant-input) {
    padding: 0px !important;
  }
  :deep(.ant-input-disabled) {
    border-bottom: 1px solid rgba(198, 187, 187, 0.5) !important;
    color: #b8a5a5 !important;
  }
  :deep(.cardBox [type='text']:focus) {
    background: white !important;
  }
  :deep([type='text']:focus) {
    --tw-ring-color: rgba(0, 0, 0, 0);
  }
  /*@import '../../../telegram/train/js/handkey.css';*/
  /*.scorebox::-webkit-scrollbar-thumb{*/
  /* background:rgba(0,0,0,0);*/
  /*}*/
  /*.scorebox:hover::-webkit-scrollbar-thumb{*/
  /*  background:rgba(0,0,0,1);*/
  /*}*/

  .focus {
    background: url('../../../../../../../assets/HJ/telexTrain/focus.png') no-repeat;
    background-size: 100% 100%;
    padding: 20px;
  }
  .focusBox {
    width: 100%;
    height: max-content;
  }

  .trainTime {
    height: 54px;
    width: 278px;
    background: url('../../../../../../../assets/HJ/receive/trainTime.gif') no-repeat
    center;
  }
  .cool .trainTime {
    background: url('../../../../../../../assets/HJ/receive/trainTime.png') no-repeat
    center;
  }
  .trainTime .timeNum {
    width: 29px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 6px;
  }
  .trainTime .timeNum .num {
    height: 40px;
    font-size: 28px;
    line-height: 40px;
    overflow: hidden;
    display: flex;
    text-align: center;
    color: #dbe5fa;
  }
  .statisticsBox {
    //padding-left: 30px;
    /*display: flex;*/
    /*align-items: flex-end;*/
  }

  @keyframes borderL {
    0% {
      border-left: 1px solid white;
    }
    100% {
      border-left: 1px solid rgba(0, 0, 0, 0);
    }
  }
  @keyframes borderR {
    0% {
      border-right: 1px solid white;
    }
    100% {
      border-right: 1px solid rgba(0, 0, 0, 0);
    }
  }
  .activeL {
    transition: all 1.5s;
    animation: borderL 1.5s;
    animation-iteration-count: infinite;
  }
  .activeR {
    transition: all 1.5s;
    animation: borderR 1.5s;
    animation-iteration-count: infinite;
  }
  @keyframes glint {
    0% {
      -webkit-box-shadow: inset 0 0 4px rgba(110, 189, 255, 0.2);
      box-shadow: inset 0 0 4px rgba(110, 189, 255, 0.2);
    }
    25% {
      -webkit-box-shadow: inset 0 0 8px rgba(110, 189, 255, 0.4);
      box-shadow: inset 0 0 10px rgba(110, 189, 255, 0.4);
    }
    50% {
      -webkit-box-shadow: inset 0 0 16px rgba(110, 189, 255, 0.8);
      box-shadow: inset 0 0 20px rgba(110, 189, 255, 0.8);
    }
    75% {
      -webkit-box-shadow: inset 0 0 8px rgba(110, 189, 255, 0.4);
      box-shadow: inset 0 0 10px rgba(110, 189, 255, 0.4);
    }
    100% {
      -webkit-box-shadow: inset 0 0 4px rgba(110, 189, 255, 0.2);
      box-shadow: inset 0 0 4px rgba(110, 189, 255, 0.2);
    }
  }

  .telexTrainBox {
    /*background: #132649;*/
  }

  .messageBox {
    width: 100%;
    border: 1px solid #354971;
    padding: 0 5px 10px;
    margin: 4px 6px 8px 6px;
    height: max-content;
    background-color: #122548;
    box-shadow: inset 0 60px 30px -60px rgb(26 53 107);
  }

  .activeBox {
    background: url('../../../../../../../assets/HJ/train/key-bg.jpg') no-repeat top
    center;
    animation: glint 2s linear infinite;
    background-size: 100%;
    -webkit-animation: glint 2s linear infinite;
  }
  .activeBox input {
    background: #ffffff;
    color: #0a1a35;
  }
  .erroyMessageBox {
    background: url('../../../../../../../assets/HJ/train/key-err-bg.jpg') no-repeat top
    center;
    background-size: 100% 100%;
  }
  .successMessageBox {
    background: url('../../../../../../../assets/HJ/train/key-success-bg.jpg') no-repeat
    top center;
    background-size: 100% 100%;
  }
  .practiseBtn {
    padding: 2px 16px;
    border: 1px solid rgb(4 90 198);
    margin-top: 10px;
    width: max-content;
    height: max-content;
    border-radius: 3px;
    cursor: pointer;
    color: #dbe5fa;
    box-shadow: inset 0 -10px 10px -10px rgba(12, 114, 226, 0.8);
  }
  .practiseBtn:hover {
    box-shadow: inset 0 10px 10px -10px rgba(12, 114, 226, 0.8);
  }
  .imgBox {
    /*height: 60px;*/
    height: 48px;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    padding: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imgBox img {
    width: 30%;
    margin-left: -4px;
  }
  .value {
    width: 100%;
    height: 26px;
    border: 1px solid #354971;
    background-color: #0d1c38;
    display: flex;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
  }
  @media (max-width: 1260px) {
    .trainLeft {
      width: 190px;
    }
    .trainCont {
      width: calc(100% - 200px - 278px) !important;
    }
    .messageBox .imgBox {
      height: 36px;
      font-size: 14px;
      padding: 0;
    }
    .messageBox .wubi {
      font-size: 18px !important;
    }
  }
}
.HJJ{
  :deep{
    .ant-input{
      padding: 0px!important;
    }
    .ant-input-disabled{
      border-bottom: 1px solid rgba(198, 187, 187, 0.5) !important;
      color: #b8a5a5!important;
    }
    .cardBox [type='text']:focus{
      background: white!important;
    }
    [type='text']:focus{
      --tw-ring-color: rgba(0,0,0,0);
    }
  }
  .focus{
    background: url("../../../../../../../assets/HJJ/train/bigCardBg.png") no-repeat;
    background-size: 100% 100%;
    padding: 20px;
  }
  .focusBox{
    width: 100%;
    height: max-content;
  }

  .statisticsBox{
    margin-left: 10px;
    /*padding-left: 30px;*/
    /*display: flex;*/
    /*align-items: flex-end;*/
  }
  @keyframes borderL {
    0%{
      border-left: 1px solid white;
    }
    100%{
      border-left: 1px solid rgba(0,0,0,0);
    }
  }
  @keyframes borderR {
    0%{
      border-right: 1px solid white;
    }
    100%{
      border-right: 1px solid rgba(0,0,0,0);
    }
  }
  .activeL{
    transition: all 1.5s ;
    animation: borderL 1.5s;
    animation-iteration-count: infinite;
  }
  .activeR{
    transition: all 1.5s ;
    animation: borderR 1.5s;
    animation-iteration-count: infinite;
  }
  @keyframes glint {
    0% {
      -webkit-box-shadow: inset 0 0 4px rgba(110, 189, 255, .2);
      box-shadow: inset 0 0 4px rgba(110, 189, 255, .2);
    }
    25% {
      -webkit-box-shadow: inset 0 0 8px rgba(110, 189, 255, .4);
      box-shadow: inset 0 0 10px rgba(110, 189, 255, .4);
    }
    50% {
      -webkit-box-shadow: inset 0 0 16px rgba(110, 189, 255, .8);
      box-shadow: inset 0 0 20px rgba(110, 189, 255, .8);
    }
    75% {
      -webkit-box-shadow: inset 0 0 8px rgba(110, 189, 255, .4);
      box-shadow: inset 0 0 10px rgba(110, 189, 255, .4);
    }
    100% {
      -webkit-box-shadow: inset 0 0 4px rgba(110, 189, 255, .2);
      box-shadow: inset 0 0 4px rgba(110, 189, 255, .2);
    }
  }

  .telexTrainBox{
    /*background: #132649;*/
  }

  .messageBox{
    width: 100%;
    padding: 0 5px 10px;
    margin: 4px 6px 8px 6px;
    height: max-content;
    border: 2px solid;
    border-image: linear-gradient(rgba(59,86,113,0.5),#1e2e41) 1 1;
    background:url("../../../../../../../assets/HJJ/train/messageBoxBg.png") repeat;
  }

  .activeBox{
    background: url('../../../../../../../assets/HJJ/train/messageBoxActive.png') repeat;
    color: #e9deb2;
    border-image: linear-gradient(rgba(138, 125, 106, 0.5), #69412f) 1 1;
  }
  .activeBox input{
    background: #ffffff;
    color: #0a1a35;
  }
  .erroyMessageBox{
    background: url("../../../../../../../assets/HJJ/train/key-err-bg.jpg") no-repeat top center;
    background-size: 100% 100%;
  }
  .successMessageBox{
    background: url("../../../../../../../assets/HJJ/train/key-success-bg.jpg") no-repeat top center;
    background-size: 100% 100%;
  }
  .imgBox{
    /*height: 60px;*/
    height: 48px;
    font-weight: bold;font-size: 16px;
    width: 100%;
    padding: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imgBox img{
    width: 30%;
    margin-left: -4px;
  }
  .value{
    width: 100%;
    height: 26px;
    border: 1px solid #354971;
    background-color: #0d1c38;
    display: flex;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
  }
}
.LJ{
  :deep {
    .ant-input {
      padding: 0px !important;
    }
    .ant-input-disabled {
      border-bottom: 1px solid rgba(198, 187, 187, 0.5) !important;
      color: #b8a5a5 !important;
    }
    .cardBox [type="text"]:focus {
      background: white !important;
    }
    [type="text"]:focus {
      --tw-ring-color: rgba(0, 0, 0, 0);
    }
  }
  .focus {
    background: url("../../../../../../../assets/LJ/train/bigCardBg.png") no-repeat;
    background-size: 100% 100%;
    padding: 20px;
  }
  .focusBox {
    width: 100%;
    height: max-content;
  }

  .statisticsBox {
    margin-left: 10px;
    /*padding-left: 30px;*/
    /*display: flex;*/
    /*align-items: flex-end;*/
  }

  .resTextItem .num {
    margin-left: 5px;
  }
  @keyframes borderL {
    0% {
      border-left: 1px solid white;
    }
    100% {
      border-left: 1px solid rgba(0, 0, 0, 0);
    }
  }
  @keyframes borderR {
    0% {
      border-right: 1px solid white;
    }
    100% {
      border-right: 1px solid rgba(0, 0, 0, 0);
    }
  }
  .activeL {
    transition: all 1.5s;
    animation: borderL 1.5s;
    animation-iteration-count: infinite;
  }
  .activeR {
    transition: all 1.5s;
    animation: borderR 1.5s;
    animation-iteration-count: infinite;
  }
  @keyframes glint{
    0% {-webkit-box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);}
    25% {-webkit-box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);}
    50% {-webkit-box-shadow: inset 0 0 16px rgba(233, 222, 178, .8);box-shadow: inset 0 0 16px rgba(233, 222, 178, .8);}
    75% {-webkit-box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);}
    100% {-webkit-box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);}
  }
  .telexTrainBox {
    /*background: #132649;*/
  }
  .messageBox {
    width: 100%;
    padding: 0 5px 10px;
    margin: 4px 6px 8px 6px;
    height: max-content;
    border: 2px solid;
    border-image: linear-gradient(#464c3f, #303326) 1 1;
    background: url("../../../../../../../assets/LJ/train/messageBoxBg.png") repeat;
  }
  .activeBox {
    background: url("../../../../../../../assets/LJ/train/messageBoxActive.png") repeat;
    color: #e9deb2;
    border-image: linear-gradient(rgb(81 97 84), #92550d) 1 1;
  }
  .activeBox input {
    background: #ffffff;
    color: #0a1a35;
  }
  .erroyMessageBox {
    background: url("../../../../../../../assets/LJ/train/key-err-bg.jpg") no-repeat top
    center;
    background-size: 100% 100%;
  }
  .successMessageBox {
    background: url("../../../../../../../assets/LJ/train/key-success-bg.jpg") no-repeat
    top center;
    background-size: 100% 100%;
  }
  .imgBox {
    /*height: 60px;*/
    height: 48px;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    padding: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imgBox img {
    width: 30%;
    margin-left: -4px;
  }
  .value {
    width: 100%;
    height: 26px;
    border: 1px solid #26332e;
    background-color: #0d1c38;
    display: flex;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
  }
}
.KJ{
  :deep {
    .ant-input {
      padding: 0px !important;
    }
    .ant-input-disabled {
      border-bottom: 1px solid rgba(198, 187, 187, 0.5) !important;
      color: #b8a5a5 !important;
    }
    .cardBox [type="text"]:focus {
      background: white !important;
    }
    [type="text"]:focus {
      --tw-ring-color: rgba(0, 0, 0, 0);
    }
  }
  .focus {
    background: url("../../../../../../../assets/KJ/train/bigCardBg.png") no-repeat;
    background-size: 100% 100%;
    padding: 20px;
  }
  .focusBox {
    width: 100%;
    height: max-content;
  }

  .statisticsBox {
    margin-left: 10px;
    /*padding-left: 30px;*/
    /*display: flex;*/
    /*align-items: flex-end;*/
  }

  .resTextItem .num {
    margin-left: 5px;
  }
  @keyframes borderL {
    0% {
      border-left: 1px solid white;
    }
    100% {
      border-left: 1px solid rgba(0, 0, 0, 0);
    }
  }
  @keyframes borderR {
    0% {
      border-right: 1px solid white;
    }
    100% {
      border-right: 1px solid rgba(0, 0, 0, 0);
    }
  }
  .activeL {
    transition: all 1.5s;
    animation: borderL 1.5s;
    animation-iteration-count: infinite;
  }
  .activeR {
    transition: all 1.5s;
    animation: borderR 1.5s;
    animation-iteration-count: infinite;
  }
  @keyframes glint{
    0% {-webkit-box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);}
    25% {-webkit-box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);}
    50% {-webkit-box-shadow: inset 0 0 16px rgba(233, 222, 178, .8);box-shadow: inset 0 0 16px rgba(233, 222, 178, .8);}
    75% {-webkit-box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);box-shadow: inset 0 0 8px rgba(233, 222, 178, .8);}
    100% {-webkit-box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);box-shadow: inset 0 0 4px rgba(233, 222, 178, .8);}
  }
  .telexTrainBox {
    /*background: #132649;*/
  }
  .messageBox {
    width: 100%;
    padding: 0 5px 10px;
    margin: 4px 6px 8px 6px;
    height: max-content;
    border: 2px solid;
    border-image: linear-gradient(#464c3f, #303326) 1 1;
    background: url("../../../../../../../assets/KJ/train/messageBoxBg.png") repeat;
  }
  .activeBox {
    background: url("../../../../../../../assets/KJ/train/messageBoxActive.png") repeat;
    color: #e9deb2;
    border-image: linear-gradient(rgb(81 97 84), #92550d) 1 1;
  }
  .activeBox input {
    background: #ffffff;
    color: #0a1a35;
  }
  .erroyMessageBox {
    background: url("../../../../../../../assets/KJ/train/key-err-bg.jpg") no-repeat top
    center;
    background-size: 100% 100%;
  }
  .successMessageBox {
    background: url("../../../../../../../assets/KJ/train/key-success-bg.jpg") no-repeat
    top center;
    background-size: 100% 100%;
  }
  .imgBox {
    /*height: 60px;*/
    height: 48px;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    padding: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imgBox img {
    width: 30%;
    margin-left: -4px;
  }
  .value {
    width: 100%;
    height: 26px;
    border: 1px solid #26332e;
    background-color: #0d1c38;
    display: flex;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
  }
}