.HJ{
  .basicBody {
    background-color: rgba(24, 45, 86, 0.45);
  }
  .basicBody:before {
    content: '';
    width: 288px;
    background: url('../../../../../../assets/HJ/basicTheory/studyManage/analyze/zuo.png') no-repeat left;
    background-size: auto 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
  .basicBody:after {
    content: '';
    width: 288px;
    background: url('../../../../../../assets/HJ/basicTheory/studyManage/analyze/you.png') no-repeat right;
    background-size: auto 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .keyCodeBody {
    height: 100%;
    padding: 10px 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 9;
  }
  .valBox {
    height: 280px;
    background: url("../../../../../../assets/HJ/term/val-bg-l.png") no-repeat top left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    position: relative;
    flex-shrink: 0;
  }
  .valBox:after {
    content: '';
    height: 280px;
    background: url("../../../../../../assets/HJ/term/val-bg-c.png");
    position: absolute;
    left: 600px;
    right: 40px;
    top: 0;
    bottom: 0;
  }
  .valBox:before {
    content: '';
    width: 40px;
    height: 280px;
    background: url("../../../../../../assets/HJ/term/val-bg-r.png");
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .valBox .text {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 8;
  }
  .valBox .img {
    width: 90%;
    position: relative;
    top: 20px;
    z-index: 8;
  }
  .trainTime {
    height: 54px;
    position: absolute;
    right: 26px;
    top: 4px;
    z-index: 9;
  }
  .trainTime .timeNum {
    width: 29px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 6px;
  }
  .trainTime .timeNum .num {
    height: 40px;
    font-size: 28px;
    line-height: 40px;
    overflow: hidden;
    display: flex;
    text-align: center;
    color: #dbe5fa;
  }
  .termDeployBtn {
    width: 144px;
    height: 51px;
    font-size: 16px;
    font-weight: bolder;
    line-height: 52px;
    padding-left: 50px;
    cursor: pointer;
    background: url("../../../../../../assets/HJ/preTrain/deploy-bg-1.png") no-repeat center;
    position: absolute;
    left: 16px;
    bottom: -7px;
    z-index: 9;
  }
  .termDeployBtn:hover {
    color: #82e0ff;
  }
  .deployBox {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    right: 40px;
    bottom: 4px;
    z-index: 9;
  }
  .deployBox .item {
    display: flex;
  }
  .deployBox .deploy {
    height: 35px;
    width: 92px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    background: url("../../../../../../assets/HJ/term/btn-bg.png") no-repeat center;
  }
  .deployBox .deploy:hover,
  .deployBox .deploy.on {
    background: url("../../../../../../assets/HJ/term/btn-bg-on.png") no-repeat center;
  }
  .deployBox .deploy + .deploy {
    margin-left: 12px
  }
  .deployBox > img {
    margin: 0 8px;
  }
  .trainDeployBox {
    width: 100%;
    height: calc(100% - 280px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .basicDeploy {
    background: url("../../../../../../assets/HJ/receive/deployBg.png") no-repeat center bottom;
    background-size: 90% auto;
    position: relative;
    padding: 20px 30px;
    min-height: 232px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .basicDeploy .group {
    margin-right: 4%;
    margin-bottom: 20px;
  }
  .basicDeploy .unit {
    color: #3f6089;
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 100%;
  }
  .basicDeploy .switch {
    position: relative;
    height: 34px;
    width: 88px;
    background-image: url("../../../../../../assets/HJ/telexTrain/switch/switch.png");
    cursor: pointer;
  }
  .basicDeploy .slider {
    background-image: url("../../../../../../assets/HJ/telexTrain/switch/slider.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 34px;
    width: 39px;
    transition: all linear .1s;
  }
  .basicDeploy .light {
    background-image: url("../../../../../../assets/HJ/telexTrain/switch/light.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 20px;
    width: 20px;
    right: -5px;
    top: 7px;
  }
  .basicDeploy .light.active {
    background-image: url("../../../../../../assets/HJ/telexTrain/switch/lightActive.png");
  }
  .basicDeploy .deployBtns {
    flex-shrink: 0;
    padding-bottom: 20px;
  }
  .basicDeploy .deployBtns .btn + .btn {
    margin: 20px 0 0;
  }
  .disturbDeploy {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 254px;
  }
  .disturbItem {
    width: 458px;
    height: 97px;
    background: url("../../../../../../assets/HJ/term/distrubBg.png") no-repeat center;
    background-size: 100% 100%;
    margin-bottom: 20px;
    position: relative;
  }
  .disturbItem.play {
    background: url("../../../../../../assets/HJ/term/distrubBgPlay.png") no-repeat center;
    background-size: 100% 100%;
  }
  .disturbItem .text {
    font-size: 15px;
    color: #fff;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 110px;
    position: absolute;
    left: 20px;
    top: 4px;
  }
  .disturbItem.play .text {
    color: #ffa800;
  }
  .disturbItem .cont {
    display: flex;
    height: 48px;
    align-items: center;
    padding: 0 10px 0 20px;
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 12px;
  }
  .disturbItem .cont .l {
    margin: 4px 16px 0 0;
    cursor: pointer;
  }
  .disturbItem .cont .r {
    margin: 4px 0 0 16px;
    cursor: pointer;
  }
  .volumeSlider.voice {
    width: 100%;
    padding-bottom: 12px;
    border-left: 1px solid #354971;
    border-right: 1px solid #354971;
    margin-top: 6px;
  }
  @media (max-width: 1140px) {
    .deployBox .deploy {
      transform: scale(.8);
    }
    .deployBox .deploy + .deploy{
      margin: 0;
    }
    .deployBox > img {
      margin: 0;
    }
    .disturbItem {
      width: 458px;
    }
    .basicDeploy {
      display: block;
    }
    .basicDeploy .deployBtns {
      display: flex;
      padding-bottom: 10px;
    }
    .basicDeploy .deployBtns .btn + .btn {
      margin: 0 0 0 16px;
    }
  }
}
.HJJ{
  .lab {
    color: #909db0;
  }
  .basicBody {
    background-color: rgba(23, 31, 41, 0.7) !important;
  }
  .keyCodeBody {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 9;
  }
  .valBox {
    height: 241px;
    background: url('../../../../../../assets/HJJ/term/val-bg.png') no-repeat top left;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    position: relative;
    flex-shrink: 0;
  }
  .valBox .text {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 8;
  }
  .valBox .imgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16px;
    left: 30px;
    right: 30px;
    bottom: 72px;
    background: #192633;
  }
  .valBox .img {
    width: 90%;
    z-index: 8;
  }
  .termDeployBtn {
    width: 150px;
    height: 54px;
    font-weight: bolder;
    line-height: 54px;
    cursor: pointer;
    background: url('../../../../../../assets/HJJ/term/deploy-bg.png') no-repeat center;
    position: absolute;
    left: 35px;
    bottom: 30px;
    z-index: 9;
    text-align: center;
    color: #bfcde0;
    font-size: 20px;
    text-shadow: 1px 1px 1px #000000;
  }
  .termDeployBtn:hover {
    /*color: #82e0ff;*/
  }
  .deployBox {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    right: 40px;
    bottom: 20px;
    z-index: 9;
  }
  .deployBox .item {
    display: flex;
  }
  .deployBox .deploy {
    height: 38px;
    width: 102px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: 38px;
    color: #bfcde0;
    background: url('../../../../../../assets/HJJ/term/btn-bg.png') no-repeat;
    padding-bottom: 5px;
  }
  .deployBox .deploy:hover,
  .deployBox .deploy.on {
    background: url('../../../../../../assets/HJJ/term/btn-bg-on.png') no-repeat;
    color: #e9deb2;
  }
  .deployBox .deploy + .deploy {
    margin-left: 8px;
  }
  .trainDeployBox {
    width: 100%;
    height: calc(100% - 241px);
    padding: 0 20px;
  }
  .basicDeploy {
    background: url('../../../../../../assets/HJJ/receive/deployBg.png') no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding: 20px 30px;
    min-height: 145px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .basicDeploy .group {
    margin-right: 4%;
    margin-bottom: 20px;
  }
  .basicDeploy .unit {
    color: #3f6089;
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 100%;
  }
  .basicDeploy .switch {
    position: relative;
    height: 34px;
    width: 88px;
    background-image: url('../../../../../../assets/HJJ/telexTrain/switch/switch.png');
    cursor: pointer;
  }
  .basicDeploy .slider {
    background-image: url('../../../../../../assets/HJJ/telexTrain/switch/slider.png');
    background-repeat: no-repeat;
    position: absolute;
    height: 34px;
    width: 39px;
    transition: all linear 0.1s;
  }
  .basicDeploy .light {
    background-image: url('../../../../../../assets/HJJ/telexTrain/switch/light.png');
    background-repeat: no-repeat;
    position: absolute;
    height: 20px;
    width: 20px;
    right: -5px;
    top: 7px;
  }
  .basicDeploy .light.active {
    background-image: url('../../../../../../assets/HJJ/telexTrain/switch/lightActive.png');
  }
  .basicDeploy .deployBtns {
    flex-shrink: 0;
    /*padding-bottom: 20px;*/
  }
  .basicDeploy .deployBtns .btn + .btn {
    margin: 20px 0 0;
  }
  .disturbDeploy {
    padding: 40px 30px 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: calc(100% - 232px);
  }
  .disturbItem {
    width: 458px;
    height: 132px;
    background: url('../../../../../../assets/HJJ/term/distrubBg.png') no-repeat center;
    background-size: 100% 100%;
    margin-bottom: 20px;
    position: relative;
  }
  .disturbItem.play {
    background: url('../../../../../../assets/HJJ/term/distrubBgPlay.png') no-repeat center;
    background-size: 100% 100%;
  }
  .disturbItem .text {
    font-size: 18px;
    color: #bfcde0;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 110px;
    position: absolute;
    left: calc(50% - 55px);
    top: 16px;
    font-weight: bold;
  }
  .disturbItem.play .text {
    color: #e9deb2;
  }
  .disturbItem .cont {
    display: flex;
    height: 48px;
    align-items: center;
    padding: 0 10px 0 20px;
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 25px;
  }
  .disturbItem .cont .l {
    margin: 4px 16px 0 0;
    cursor: pointer;
  }
  .disturbItem .cont .r {
    margin: 4px 0 0 16px;
    cursor: pointer;
  }
  .volumeSlider.voice {
    width: 100%;
    padding-bottom: 12px;
    border-left: 1px solid #354971;
    border-right: 1px solid #354971;
    margin-top: 6px;
  }
}
.LJ{
  .lab{
    color: #fff;
  }
  .basicBody {
    background-color: rgba(38,41,36,0.3) !important;
  }
  .keyCodeBody {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 9;
  }
  .valBox {
    height: 241px;
    background: url("../../../../../../assets/LJ/term/val-bg.png") no-repeat top left/100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    position: relative;
    flex-shrink: 0;
  }
  .valBox .text {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 8;
  }
  .valBox .imgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16px;
    left:30px;
    right:30px;
    bottom: 72px;
    background: #202824
  }
  .valBox .img {
    width: 90%;
    z-index: 8;
  }
  .termDeployBtn {
    width: 150px;
    height: 54px;
    font-weight: bolder;
    line-height: 54px;
    cursor: pointer;
    background: url("../../../../../../assets/LJ/term/deploy-bg.png") no-repeat center;
    position: absolute;
    left: 35px;
    bottom: 30px;
    z-index: 9;
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 1px 1px #000000;
  }
  .termDeployBtn:hover {
    /*color: #82e0ff;*/
  }
  .deployBox {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    right: 40px;
    bottom: 20px;
    z-index: 9;
  }
  .deployBox .item {
    display: flex;
  }
  .deployBox .deploy {
    height: 38px;
    width: 102px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: 38px;
    color: #fff;
    background: url("../../../../../../assets/LJ/term/btn-bg.png") no-repeat ;
    padding-bottom: 5px;
  }
  .deployBox .deploy:hover,
  .deployBox .deploy.on {
    background: url("../../../../../../assets/LJ/term/btn-bg-on.png") no-repeat;
    color: #ff9213;
    font-size: 16px;
    font-weight: bolder;
  }
  .deployBox .deploy + .deploy {
    margin-left: 8px
  }
  .trainDeployBox {
    width: 100%;
    height: calc(100% - 241px);
    padding: 0 20px;
  }
  .basicDeploy {
    background: url("../../../../../../assets/LJ/receive/deployBg.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding: 20px 30px;
    min-height: 145px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .basicDeploy .group {
    margin-right: 4%;
    margin-bottom: 20px;
  }
  .basicDeploy .unit {
    color: #a9abaa;
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 100%;
  }
  .basicDeploy .switch {
    position: relative;
    height: 34px;
    width: 88px;
    background-image: url("../../../../../../assets/LJ/telexTrain/switch/switch.png");
    cursor: pointer;
  }
  .basicDeploy .slider {
    background-image: url("../../../../../../assets/LJ/telexTrain/switch/slider.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 34px;
    width: 39px;
    transition: all linear .1s;
  }
  .basicDeploy .light {
    background-image: url("../../../../../../assets/LJ/telexTrain/switch/light.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 20px;
    width: 20px;
    right: -5px;
    top: 7px;
  }
  .basicDeploy .light.active {
    background-image: url("../../../../../../assets/LJ/telexTrain/switch/lightActive.png");
  }
  .basicDeploy .deployBtns {
    flex-shrink: 0;
    /*padding-bottom: 20px;*/
  }
  .basicDeploy .deployBtns .btn + .btn {
    margin: 20px 0 0;
  }
  .disturbDeploy {
    padding: 40px 30px 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: calc(100% - 232px);
  }
  .disturbItem {
    width: 30%;
    height: 132px;
    background: url("../../../../../../assets/LJ/term/distrubBg.png") no-repeat center;
    background-size: 100% 100%;
    margin-bottom: 20px;
    position: relative;
  }
  .disturbItem.play {
    background: url("../../../../../../assets/LJ/term/distrubBgPlay.png") no-repeat center;
    background-size: 100% 100%;
  }
  .disturbItem .text {
    font-size: 18px;
    color: #fff;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 110px;
    position: absolute;
    left: calc(50% - 55px);
    top: 16px;
    font-weight: bold;
  }
  .disturbItem.play .text {
    color: #e9deb2;
  }
  .disturbItem .cont {
    display: flex;
    height: 48px;
    align-items: center;
    padding: 0 10px 0 20px;
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 25px;
  }
  .disturbItem .cont .l {
    margin: 4px 16px 0 0;
    cursor: pointer;
  }
  .disturbItem .cont .r {
    margin: 4px 0 0 16px;
    cursor: pointer;
  }
  .volumeSlider.voice {
    width: 100%;
    padding-bottom: 12px;
    border-left: 1px solid #2f3731;
    border-right: 1px solid #2f3731;
    margin-top: 6px;
  }

}
.KJ{
  .lab{
    color: #fff;
  }
  .basicBody {
    background-color: rgba(38,41,36,0.3) !important;
  }
  .keyCodeBody {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 9;
  }
  .valBox {
    height: 241px;
    background: url("../../../../../../assets/KJ/term/val-bg.png") no-repeat top left/100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    position: relative;
    flex-shrink: 0;
  }
  .valBox .text {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 8;
  }
  .valBox .imgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16px;
    left:30px;
    right:30px;
    bottom: 72px;
    background: #202824
  }
  .valBox .img {
    width: 90%;
    z-index: 8;
  }
  .termDeployBtn {
    width: 150px;
    height: 54px;
    font-weight: bolder;
    line-height: 54px;
    cursor: pointer;
    background: url("../../../../../../assets/KJ/term/deploy-bg.png") no-repeat center;
    position: absolute;
    left: 35px;
    bottom: 30px;
    z-index: 9;
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 1px 1px #000000;
  }
  .termDeployBtn:hover {
    /*color: #82e0ff;*/
  }
  .deployBox {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    right: 40px;
    bottom: 20px;
    z-index: 9;
  }
  .deployBox .item {
    display: flex;
  }
  .deployBox .deploy {
    height: 38px;
    width: 102px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: 38px;
    color: #fff;
    background: url("../../../../../../assets/KJ/term/btn-bg.png") no-repeat ;
    padding-bottom: 5px;
  }
  .deployBox .deploy:hover,
  .deployBox .deploy.on {
    background: url("../../../../../../assets/KJ/term/btn-bg-on.png") no-repeat;
    color: #ff9213;
    font-size: 16px;
    font-weight: bolder;
  }
  .deployBox .deploy + .deploy {
    margin-left: 8px
  }
  .trainDeployBox {
    width: 100%;
    height: calc(100% - 241px);
    padding: 0 20px;
  }
  .basicDeploy {
    background: url("../../../../../../assets/KJ/receive/deployBg.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding: 20px 30px;
    min-height: 145px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .basicDeploy .group {
    margin-right: 4%;
    margin-bottom: 20px;
  }
  .basicDeploy .unit {
    color: #a9abaa;
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 100%;
  }
  .basicDeploy .switch {
    position: relative;
    height: 34px;
    width: 88px;
    background-image: url("../../../../../../assets/KJ/telexTrain/switch/switch.png");
    cursor: pointer;
  }
  .basicDeploy .slider {
    background-image: url("../../../../../../assets/KJ/telexTrain/switch/slider.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 34px;
    width: 39px;
    transition: all linear .1s;
  }
  .basicDeploy .light {
    background-image: url("../../../../../../assets/KJ/telexTrain/switch/light.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 20px;
    width: 20px;
    right: -5px;
    top: 7px;
  }
  .basicDeploy .light.active {
    background-image: url("../../../../../../assets/KJ/telexTrain/switch/lightActive.png");
  }
  .basicDeploy .deployBtns {
    flex-shrink: 0;
    /*padding-bottom: 20px;*/
  }
  .basicDeploy .deployBtns .btn + .btn {
    margin: 20px 0 0;
  }
  .disturbDeploy {
    padding: 40px 30px 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: calc(100% - 232px);
  }
  .disturbItem {
    width: 30%;
    height: 132px;
    background: url("../../../../../../assets/KJ/term/distrubBg.png") no-repeat center;
    background-size: 100% 100%;
    margin-bottom: 20px;
    position: relative;
  }
  .disturbItem.play {
    background: url("../../../../../../assets/KJ/term/distrubBgPlay.png") no-repeat center;
    background-size: 100% 100%;
  }
  .disturbItem .text {
    font-size: 18px;
    color: #fff;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 110px;
    position: absolute;
    left: calc(50% - 55px);
    top: 16px;
    font-weight: bold;
  }
  .disturbItem.play .text {
    color: #e9deb2;
  }
  .disturbItem .cont {
    display: flex;
    height: 48px;
    align-items: center;
    padding: 0 10px 0 20px;
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 25px;
  }
  .disturbItem .cont .l {
    margin: 4px 16px 0 0;
    cursor: pointer;
  }
  .disturbItem .cont .r {
    margin: 4px 0 0 16px;
    cursor: pointer;
  }
  .volumeSlider.voice {
    width: 100%;
    padding-bottom: 12px;
    border-left: 1px solid #2f3731;
    border-right: 1px solid #2f3731;
    margin-top: 6px;
  }

}
:deep(.ant-slider-handle){
  border: solid 2px transparent;
}
:deep(.ant-slider-track)  {
  background-color: transparent;
}
:deep(.ant-slider-dot-active){
  border-color: transparent
}
:deep(.ant-slider:hover .ant-slider-track) {
  background-color: transparent;
}
:deep(.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open)) {
  border-color: transparent;
}